.module {
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100 - 75px);
  margin: 0 auto;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}

.text-teal {
  color: #00a88d;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  height: 100%;
  text-align: left;
  background: white;
  font-family: "AvertaW03", sans-serif;
}
#wrapper {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background: white;
}

@media (min-width: 1600px) {
  .container.container-1200 {
    max-width: 1200px;
  }
}

.line-dash {
  height: 1px;
  width: 100%;
  position: relative;
  background: gray("300");
}

.half-hero-wrap h1 {
  text-transform: none;
}

.home-half-slider {
  .swiper-counter div#total:before {
    background: gray("500");
  }
}
.link-dark {
  color: gray("900");
  @include hover-focus-active() {
    color: $orange;
  }
}
.half-hero-wrap {
  // position: absolute;
  // left: 15%;
  // z-index: 10;
  // top: 20%;

  // left: 0;
  // right: auto;
  // top: 0;
  // width: 50%;
  // height: 100%;
  // padding: 30px;
  // max-width: 700px;
  position: relative;
  box-sizing: border-box;
  height: 100%;

  .half-hero-con {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    text-align: left;
    height: 100%;
    // padding: 30px 0;
    overflow-y: auto;
    padding: 40px 20px 30px 0;
    width: 50%;
  }
  .con2 {
    flex: 1;
    margin-top: 70px;
  }

  h1 {
    &:before {
      display: none;
    }

    color: gray("900");
    // color: black;
    font-family: "AvertaW03", "Oswald", sans-serif;
    text-transform: normal;

    text-align: left;
    font-weight: 900;
    // line-height: 70px;

    // font-size: 55px;

    @extend .display-3;

    padding-bottom: 20px;
    position: relative;
  }

  h4 {
    text-align: left;
    float: left;
    max-width: 550px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    line-height: 1.4;
  }
}

.half-hero-wrap_link {
  float: left;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  font-weight: bold;
  color: gray("900");

  @include hover-focus() {
    color: $orange;
    i {
      color: $orange;
    }
  }
  i {
    padding-left: 15px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    color: gray("900");
  }

  &:hover i {
    padding-left: 20px;
  }
}

.hero-slider-wrap_halftwo {
  left: 50%;
  height: calc(100% - 60px);
  top: 30px;
  right: 30px;
  bottom: 0;
}

.rotate_text {
  color: gray("600");
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
}

.option-panel {
  position: absolute;
  bottom: -70px;
  left: 0;
  z-index: 10;
  background: transparent;
  width: 35%;
  height: 60px;
  padding-left: 180px;
  overflow: hidden;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   width: 30%;
  //   left: 20%;
  //   top: 10px;
  //   bottom: 10px;
  //   z-index: -1;
  //   background: rgba(255, 255, 255, 0.04);
  // }
}

.hero-slider_control-wrap {
  position: absolute;
  right: 0;
  z-index: 100;

  bottom: 30px !important;
  // transform: translate3d(0px, 0px, 0px);
  right: 30px;
}

.hero-slider_control {
  text-align: center;
  float: right;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  width: 120px;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.6);
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 100ms linear;
  }

  &:hover:before {
    height: 100%;
  }

  span {
    position: relative;
    z-index: 2;
  }

  i {
    color: #fff;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    transition-delay: 0.3s;
    padding: 0 0 0 15px;
  }

  &:hover {
    color: #fff;
  }

  &.hero-slider-button-prev {
    border-right: 1px solid rgba(255, 255, 255, 0.08);

    i {
      padding: 0 15px 0 0;
    }
  }

  &.hero-slider-button-next:hover i {
    padding: 0 0 0 25px;
  }

  &.hero-slider-button-prev:hover i {
    padding: 0 25px 0 0;
  }
}

.pr-bg {
  background: gray("100");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  z-index: 100;

  &.pr-bg-white {
    background: #fff;
  }
}

.nav-button-wrap {
  right: 0;
  width: 80px;
  height: 75px;
  // padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -15px;
  display: none;
}

.nav-button {
  width: 30px;
  height: 20px;
  /* line-height: 50px; */
  display: inline-block;
  cursor: pointer;
  position: relative;

  &:after {
    content: "";
    width: 58px;
    height: 57px;
    background: transparent;
    position: absolute;
    top: -20px;
    left: -10px;
    cursor: pointer;
  }

  span {
    width: 100%;
    float: left;
    margin-bottom: 6px;
    height: 2px;
    background: gray("900");
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .ncs {
    // width: 70%;
  }

  &.cmenu .nbs {
    width: 0 !important;
  }

  &:hover {
    .ncs,
    .nbs {
      width: 100%;
    }
  }

  &.cmenu {
    .nos {
      -webkit-transform: rotate(-45deg) scale(0.8);
      transform: rotate(-45deg) scale(0.8);
      margin-bottom: 0;
      top: 8px;
    }

    .ncs {
      -webkit-transform: rotate(45deg) scale(0.8);
      transform: rotate(45deg) scale(0.8);
      margin-bottom: 0;
      top: 6px;
      width: 100%;
    }
  }

  &:hover .menu-button-text {
    color: gray("900");
  }
}

.menu-button-text {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 14px;
  color: gray("900");
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-button.cmenu .menu-button-text {
  margin-top: 16px;
}

@media only screen and (max-width: 768px) {
  .hero-slider-wrap_halftwo {
    width: 100%;
    height: 60%;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    &:after {
      content: "";
      position: absolute;
      height: 60%;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 80%,
        rgba(255, 255, 255, 1) 100%
      );
      width: 100%;
      z-index: 10;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  .half-hero-wrap {
    // background: rgba(0, 0, 0, 0.3);
    h1 {
      // color: white;
    }
    h4 {
      // color: rgba(255, 255, 255, 0.9);
    }
    .rotate_text {
      // color: rgba(255, 255, 255, 0.9);
      font-size: 14px;
      line-height: 22px;
    }
    .con2 {
      margin-top: 0px;
    }
  }

  .half-hero-wrap h1,
  .hero-section .section-title h2,
  .hero-title .section-title h2 {
    font-size: 25px;
    line-height: 33px;
    padding-bottom: 10px;
    br {
      display: none;
    }
  }

  .half-hero-wrap h4 {
    font-size: 15px;
    line-height: 23px;
    max-width: 350px;
  }

  .half-hero-wrap_link {
    font-size: 14px;
    margin-top: 10px;
    // color: rgba(255, 255, 255, 0.9);
    // i {
    //   color: rgba(255, 255, 255, 0.9);
    // }

    // @include hover-focus() {
    //   color: $orange;
    //   i {
    //     color: $orange;
    //   }
    // }
  }

  .half-hero-wrap {
    padding: 0;
    .half-hero-con {
      height: auto;
      // padding: 30px 0;

      padding: 20px 15px 15px 15px;
      // background: white;
      width: 100%;
    }
    .con2 {
      flex: 1;
    }
  }
  .hero-slider_control-wrap {
    bottom: 0 !important;
    right: 0 !important;
  }
}

.swiper-product {
  width: 100%;
  height: auto;

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 18px;
    height: 29px;
    margin-top: -15px;
    z-index: 10;
    cursor: pointer;
    background-size: 18px 29px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .embed-responsive-product {
    max-width: 264px;
    margin: 0 auto;
  }
}

.swiper-product-same {
  .embed-responsive-product {
    .embed-responsive-img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.product-item {
  .guaranteee {
    position: absolute;
    right: 14%;
    top: 15%;
    width: 81px;
    height: 81px;
    @include media-breakpoint-down(xs){
      width: 56px;
      height: 56px;
    }
  }
 
}

.product-item-content {
  padding: 10px;
  text-align: center;
  .name {
    font-size: 18px;
    font-weight: bold;
  }
  .more {
    margin-top: 10px;
    font-size: 18px;
    text-decoration: underline;
  }
}

.modal {
  align-items: center;
  // display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  backface-visibility: hidden;
  overflow: hidden;

  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;

  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  .modal-content {
    // animation: slide-down .2s ease 1;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(-1.6rem);
    transition: all 0.3s ease-in;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-1.6rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.is-clipped {
  overflow: hidden !important;
}
.modal.is-active {
  display: flex;
  visibility: visible;
  opacity: 1;
  pointer-events: inherit;
  .modal-content {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.5);
}

.modal-card,
.modal-content {
  margin: 0;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 1100px), print {
  .modal-card,
  .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 900px;
  }
}

.modal-close {
  background: 0 0;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px;
}

.modal-card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: hidden;
  -ms-overflow-y: visible;
}

.modal-card-foot,
.modal-card-head {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}

.modal-card-head {
  border-bottom: 1px solid #dbdbdb;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.modal-card-title {
  color: #363636;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 1.5rem;
  line-height: 1;
}

.modal-card-foot {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 1px solid #dbdbdb;
}

.modal-card-foot .button:not(:last-child) {
  margin-right: 0.5em;
}

.modal-card-body {
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 20px;
}

.modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.modal-close {
  text-size-adjust: 100%;
  box-sizing: inherit;
  margin: 0;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  outline: 0;
  vertical-align: top;
  background: 0 0;
  padding: 0;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.2);
  position: absolute;
  z-index: 5;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.8);
  @include hover-focus() {
    background-color: rgba(10, 10, 10, 0.4) !important;
  }
}
/* Styles for dialog window */
.product-dialog {
  background: white;
  padding: 50px 30px;
  text-align: left;
  max-width: 900px;
  margin: 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  color: gray("900");
  @include media-breakpoint-down(sm) {
    padding: 30px 15px;
  }
}

@media only screen and (max-width: 1064px) {
  section {
    padding: 40px 0;
    padding-top: 40px;

    &.no-padding-bottom {
      padding-top: 40px;
    }
  }
}

#map_right_listing {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 500px;
}

.map.map_single {
  height: 400px;
}

.infoBox {
  -webkit-animation: fadeIn 0.9s;
  animation: fadeIn 0.9s;
  padding-right: 50px;
}

.infoBox > img {
  position: absolute !important;
  right: 60px !important;
  top: 10px !important;
  z-index: 9999;
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.marker_info {
  width: 300px;
  // height: 180px;
  padding: 20px 30px;
  border-radius: 0;
  text-align: left;
  background: #000;
  background: #fff;
  position: relative;
  color: gray("900");
  z-index: 999;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  font-family: AvertaW03;
}

.map-place-height {
  min-height: 400px;
}
.map-right {
  height: 100%;
  min-height: 100%;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  padding: 125px 40px 60px 40px;
  z-index: 9999;

  @include media-breakpoint-down(md){
    height: 400px;
    position: relative;
    padding: 0;
  }
}
.marker-address {
  font-size: 16px;
  line-height: 1.31;
  margin-top: 10px;
}

.marker_info img {
  display: block;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.marker_info h3 {
  color: #444;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.77;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.marker_info em {
  display: inline-block;
  font-size: 12px;
  font-size: 0.75rem;
  color: #999;
  font-style: normal;
}

.btn_infobox_phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.77;
  letter-spacing: 0.01em;
  display: block;
  margin-top: 10px;
}

.marker_info span {
  display: block;
  font-size: 15px;
  line-height: 1.4;
  position: relative;
}

.marker_info span strong {
  display: block;
  font-weight: 500;
}

.marker_info:after {
  right: 100%;
  top: 56%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-right-color: #fff;
  border-width: 12px;
  margin-top: -12px;
}
