.intro-content {
  padding: 30px 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  // height: 100%;
  text-align: left;
  height: 100%;
}

.intro-tt {
  width: 80px;
  white-space: nowrap;
  writing-mode: vertical-lr;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  span {
    display: block;
    margin-top: 30px;
    font-weight: bold;
    // position: absolute;
    // top: 10px;
    // left: 0;

    // background: none;

    // transform-origin: 0 0;
    // transform: rotate(90deg);
  }
}

$widthTT: 80;

.intro {
  // display: flex;
  // flex-flow: row nowrap;
  width: 100%;
  overflow: hidden;

  .intro-item-w:nth-child(1) {
    background: #75bee9;
    z-index: 15;
  }

  .intro-item-w:nth-child(2) {
    background: #00a88d;
    z-index: 10;
    transform: translate3d(#{$widthTT}px, 0, 0);
  }

  .intro-item-w:nth-child(3) {
    background: #e45214;
    z-index: 5;
    transform: translate3d(#{$widthTT * 2}px, 0, 0);
  }
}

.intro-item {
  flex: 1 1 auto;
  width: calc(100% - #{$widthTT * 2}px);
  overflow: hidden;
  height: 100%;
  position: relative;

  // font-size: 20px;
}

.intro-tt {
  height: 100%;
  color: gray("900");
}

.intro-item {
  &.is-active-0 {
    .intro-item-w:nth-child(1) {
      .intro-title {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      .intro-subtitle {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
  &.is-active-1 {
    .intro-item-w:nth-child(1) {
      transform: translate3d(-100%, 0, 0);
      margin-left: #{$widthTT}px;
    }

    .intro-item-w:nth-child(3) {
    }

    .intro-item-w:nth-child(2) {
      .intro-title {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      .intro-subtitle {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &.is-active-2 {
    .intro-item-w:nth-child(2) {
      transform: translate3d(-100%, 0, 0);
      margin-left: #{$widthTT * 2}px;
    }
    .intro-item-w:nth-child(1) {
      transform: translate3d(-100%, 0, 0);
      margin-left: #{$widthTT}px;
    }

    .intro-item-w:nth-child(3) {
      .intro-title {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      .intro-subtitle {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.intro-item-w {
  width: calc(100% - #{$widthTT * 2}px);
  position: absolute;
  // width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.1);

  // transition: all 0.6s cubic-bezier(0.61,0, 0.7,-0.03);
  transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  // transition: flex 0.7s cubic-bezier(0.61,-0.1, 0.7,-0.6);
  color: gray("900");
  cursor: pointer;
  >div{
    width: 100%;
    height: 100%;
  }
  &.is-active {
    cursor: inherit;
  }

  .intro-title {
    font-weight: bold;
    max-width: 550px;
    color: rgba(0, 0, 0, 0.95);
    opacity: 1;
    transition: all 0.8s ease-out;
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  &.open {
  }

  &:hover {
    // right: -10px;
    // left: 10px;
  }
}

.intro-subtitle {
  margin-top: 10%;
  font-size: 20px;
  max-width: 500px;
  transition: all 0.8s ease-out;
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  transition-delay: 0.3s;
}

.intro-content-container {
  height: 100%;
}

.intro-btn {
  font-size: 22px;
  text-decoration: underline;
  color: gray("900");
  font-weight: bold;
}

.col {
  min-width: 0;
}

.intro-bg {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.intro-bg-container {
  flex: 0 0 60%;
  max-width: 60%;
  height: 100%;
}


.intro-ti-container{
  height: 100%;
}

@media only screen and (max-width: 1600px) {
  .intro-bg-container {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 1500px) {
  .intro-bg-container {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .intro-content {
    // padding: 20px 30px;
  }

  .intro-item-w .intro-title {
    font-size: 3.5rem;
  }
  .intro-subtitle {
    // font-size: 18px;
  }
  .intro-btn {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1400px) {
  .intro-bg-container {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .intro-content {
    padding: 20px 30px;
  }

  .intro-item-w .intro-title {
    font-size: 3rem;
  }
  .intro-subtitle {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1100px) {
  .intro-item-w {
    > .row {
      height: 100%;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }
  .intro-subtitle {
    margin-top: 30px;
  }
  .intro-bg-container {
    flex: 0 0 45%;
    max-width: 100%;
    width: 100%;
    height: 35%;
    padding: 20px !important;
    order: 1;

    .intro-bg {
      // height: 200px;
    }
  }
  .intro-content-container {
    flex: 0 0 55%;
    max-width: 100%;
    width: 100%;
    height: 65%;
    // flex: 1;
    // max-width: 100%;
    order: 2;
  }
  .intro-ti-container {
    order: 1;
    // flex: 0 0 100%;
    // max-width: 100%;
    height: auto;
  }
  .intro-tt {
    padding: 30px 10px;
    writing-mode: vertical-lr;
    position: absolute;
    right: 0;
    // width: 50px;
    span {
      margin-top: 0;
    }
  }
  .intro-content {
    padding-right: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .nav-holder {
    top: 55px;
  }
  #wrapper {
    top: 54px;
    .module {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100 - 54px);
      margin: 0 auto;
    }
  }
  .main-nav {
    width: 100%;
    height: 55px !important;
    .nav-button-wrap {
      right: 0;
      width: 66px;
      height: 55px;
    }
    .nav-logo-wrap .logo {
      height: 54px;
    }
  }
  $widthTT: 44;
  .intro-item-w {
    width: calc(100% - 60px);
  }
  .intro-content {
    padding: 15px 20px;
    padding-right: #{$widthTT}px;
    justify-content: space-between;
    .intro-btn{
      margin-top: 20px;
      display: block;
      margin-bottom: 10px;
    }
  }

  .intro-item-w .intro-title {
    font-size: 1.5rem;
  }
  .intro-subtitle {
    margin-top: 10px;
    font-size: 13px;
  }
  .intro-btn {
    font-size: 15px;
  }
  .intro-tt {
    padding: 20px 10px;
    position: absolute;
    right: 0;
    font-size: 12px;
    width: #{$widthTT}px;
  }

  .intro {
    .intro-item-w:nth-child(2) {
      transform: translate3d(#{$widthTT}px, 0, 0);
    }

    .intro-item-w:nth-child(3) {
      transform: translate3d(#{$widthTT * 2}px, 0, 0);
    }
  }

  .intro-item {
    width: calc(100% - #{$widthTT * 2}px);
  }

  .intro-item {
    &.is-active-1 {
      .intro-item-w:nth-child(1) {
        margin-left: #{$widthTT}px;
      }
    }

    &.is-active-2 {
      .intro-item-w:nth-child(2) {
        margin-left: #{$widthTT * 2}px;
      }
      .intro-item-w:nth-child(1) {
        margin-left: #{$widthTT}px;
      }
    }
  }

  .intro-item-w {
    width: calc(100% - #{$widthTT * 2}px);
  }

  .intro-bg-container {
    padding: 10px !important;
    order: 1;

  }
  .intro-item-w{
    overflow: auto;
  }
}

@media only screen and (max-width: 321px) {
  .intro-item-w .intro-title {
    font-size: 1.2rem;
  }
  .intro-subtitle {
    margin-top: 10px;
    font-size: 12px;
  }
 
  .intro-tt{
    padding: 15px 10px;
  }
  .intro-content {
    padding: 10px 15px;
    padding-right: 44px;
  }
}
