.hero-section{
  &.hero-section-heading{
    padding: 0;
    .section-heading-black{
      z-index: 15;
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.45) 100%);
      position: relative;
      color: white;
      text-shadow: 0 1px 2px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.2);
    }
    .section-title{

      padding: 70px 0 70px 0px;
    }

  }
}

.new-video-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: block;
  box-sizing: content-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  background-color: rgba(0,0,0,.48);
  border: 2px solid #fff;
  border-radius: 100%;
  z-index: 1;
  -webkit-box-shadow: 0 0 0.15em rgba(0,0,0,.4);
  box-shadow: 0 0 0.15em rgba(0,0,0,.4);

  i{
    color: #e45214;
    font-size: 15px;
  }

}


.customer-logo{
  width: 120px;
  height: 120px;

  margin: 0 auto;
  display: flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    
}

#map_right_listing{
  height: 500px;
  @include media-breakpoint-down(sm){
    height: 300px;
  }
}
.contact-list{
  padding: 10px 25px;
  border: 1px solid gray("300");
  height: 500px;
  overflow-y: auto;

  .contact-list-item{
    text-decoration: none !important;
    display: block;
    border-top: 1px solid gray("200");
    padding: 10px 0;
    &:first-child{
      border-top: none;
    }
    &:hover{
      color: #e45214
    }
  }

  @include media-breakpoint-down(sm){
    height: 300px;
  }
}

.contact-list-item{
  .name{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.77;
    letter-spacing: 0.025em;
    text-transform: uppercase;
  }
  .address{
    color: #444;
    font-size: 14px;
    line-height: 1.31;
    margin-top: 5px;
  }
  .phone{
    color: #444;
    font-size: 14px;
    line-height: 1.31;
    margin-top: 5px;
  }
}
.site-footer-nav{
  margin-right: 20px;
  white-space: nowrap;
  @include media-breakpoint-down(sm){
    margin-right: 0;
  }
}

.site-footer-mm{
  @include media-breakpoint-down(md){
    width: 100%;
    justify-content: center;
  }
}

.site-footer-nav li{
  position: relative;
  font-size: 15px;
  font-weight: bold;
}
.site-footer-nav li:not(:first-child){
  margin-left: 10px;
}

.site-footer-nav li:not(:first-child):before {
  content: "";
  position: absolute;
  top: 19px;
  left: -13px;
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: gray("600");
}