.nav-product {
  text-align: left;
  background: white;
  //   position: sticky;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  //   top: 75px;
  margin-bottom: 20px;
  z-index: 9;
  .tabs-menu {
    // display: inline-block;
    display: block;
    margin-bottom: 0;
    text-align: left;
    margin-top: 50px;
    line-height: 0;
    // margin-bottom: 20px;
    white-space: nowrap;
    a {
      text-decoration: none;
      display: block;
      position: relative;
      padding: 15px 0 15px;
      margin: 0;
      &:hover {
        color: $orange;
      }
      &:after {
        content: "";
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 3px;
        border-radius: 3px;
        background: transparent;
        left: 0;
      }
    }
  }

  .selectedLava a {
    &:after {
      background: $orange;
    }
  }

  .tabs-menu li {
    height: auto;
    float: none;
    display: inline-block;
    margin: 0px 50px 0 0;
    padding: 0;
  }

  @include media-breakpoint-down(sm) {
    .tabs-menu {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: auto;
      a {
        font-size: 16px;
        padding: 14px 0 14px;
      }
      li {
        margin-right: 20px !important;
      }
    }
  }
}

.tab-content {
  margin-top: 20px;
}

#nav-product-sticky-sticky-wrapper.is-sticky {
  .nav-product {
    width: 100%;
    @extend .shadow-sm;
  }
  .tabs-menu {
    margin-top: 0;
  }
}

.tab-content {
  text-align: left;
}

.sidebar-menu {
  max-width: 90%;
  .tt {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.375;
    font-weight: 600;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    margin-bottom: 15px;
    color: gray("700");
    + .item{
      border-top: none;
    }
  }
  .item {
    padding: 12px 0;
 
    border-top: 1px solid gray("500");
    //   border-bottom: 1px solid gray("500");
    a {
      font-weight: bold;
    }
    &.is-active {
      a {
        text-decoration: none;
        color: $orange;
      }
    }
    a {
      @include hover-focus() {
        text-decoration: none;
        color: $orange;
      }
    }
  }
}

.product-item-size {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 15px;
  .s1 {
    flex: 0 0 auto;
    padding: 5px 10px;
    margin: 5px 5px;
    display: block;
    font-weight: bold;
    min-width: 100px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid gray("900");
    @include hover-focus(){
        color: white;
        background: $orange;
        border: 1px solid $orange;
    }
    &.is-active{
        color: white;
        background: $orange;
        border: 1px solid $orange;
    }
  }
}

.swiper-product-same {
  .swiper-button-next,
  .swiper-button-prev {
    width: 18px;
    height: 29px;
    margin-top: -15px;
    z-index: 10;
    cursor: pointer;
    background-size: 18px 29px;
  }
}


