.lh-height {
  line-height: 1.3;
}

.h2-teal {
  @extend .h2;
  font-weight: bold;
  @extend .lh-height;
  @extend .text-teal;
}

.h5-teal {
  @extend .h5;
  font-weight: bold;
  @extend .lh-height;
  @extend .text-teal;
}

.typo-img1 {
  margin-right: 15px;
  img {
    width: 110px;
  }
}

.flag-icon{
  vertical-align: -5%;
  margin-right: 2px;
  margin-left: 5px;
}


.fl-wrap{
  .flag-icon{
   
  }
}

.mn-sub .flag-icon{
  vertical-align: -20%;
  margin-left: 0;
}

.no-gutter > [class*="col"] {
  padding-right: 0;
  padding-left: 0;
}
p.h5 {
  line-height: 1.4;
}
@include media-breakpoint-down(sm) {
  .typo-img1 {
    margin-right: 10px;
    img {
      width: 80px;
    }
  }

  .lh-height {
    line-height: 1.2;
  }
  p.h5 {
    font-size: 16px;
    margin-top: 15px;
  }
  .hero-section .section-title, .hero-title .section-title{
      margin-bottom: 0;
  }
}
