.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 99999;
  overflow: auto;
  
}

.overlay-content{
   padding: 30px 20px;
   padding-top: 100px;
}

.overlay .inline-block {
  display: inline-block;
}

.overlay .overlay-brand {
}

.overlay > div {
//   width: 100%;
//   height: 260px;
//   display: block;
//   overflow: hidden;
}

.overlay .has-results {
  overflow: visible;
}

.overlay .overlay-search {
  font-weight: normal;
  font-size: 24px;
  border: none;
  border-bottom: 1px solid gray("900");
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 100%;
  padding: 0 30px;
 
}


.overlay-search-container{
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    max-width: 1200px;
    
}

.overlay-search-icon{
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 10px

}

.overlay .overlay-close {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 30px;
  font-weight: normal;
}

.overlay-search-popular{
    margin-top: 70px;
}


.footer-social{
  padding:0px 15px;
  a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    box-sizing: border-box;
    display: inline-table;
    position: relative;
  }

  @include media-breakpoint-down(sm){
    width: 100%;
  }
}




.phonecall-animation {
  position: fixed;
  width: 44px;
  height: 44px;
  left: 20px;
  bottom: 20px;
  margin-top: 10px;
z-index: 99;
}

.phonecall-icon {
  position: absolute;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  font-size: 20px;
  color: #00a88d;
  border: 1px solid #00a88d;
  background: #fff;
  z-index: 1;
  -webkit-animation: phonecall-icon-anim 1s infinite ease-in-out;
  animation: phonecall-icon-anim 1s infinite ease-in-out
}

@-webkit-keyframes phonecall-icon-anim {
  0% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      transform: rotate(0) scale(1) skew(1deg)
  }

  10% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
      transform: rotate(-25deg) scale(1) skew(1deg)
  }

  20% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
      transform: rotate(25deg) scale(1) skew(1deg)
  }

  30% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
      transform: rotate(-25deg) scale(1) skew(1deg)
  }

  40% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
      transform: rotate(25deg) scale(1) skew(1deg)
  }

  50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      transform: rotate(0) scale(1) skew(1deg)
  }

  100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      transform: rotate(0) scale(1) skew(1deg)
  }
}

@keyframes phonecall-icon-anim {
  0% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      transform: rotate(0) scale(1) skew(1deg)
  }

  10% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
      transform: rotate(-25deg) scale(1) skew(1deg)
  }

  20% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
      transform: rotate(25deg) scale(1) skew(1deg)
  }

  30% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
      transform: rotate(-25deg) scale(1) skew(1deg)
  }

  40% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
      transform: rotate(25deg) scale(1) skew(1deg)
  }

  50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      transform: rotate(0) scale(1) skew(1deg)
  }

  100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      transform: rotate(0) scale(1) skew(1deg)
  }
}

.phonecall-icon {
  position: relative
}

.phonecall-ring {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #00a88d;
  opacity: .1;
  -webkit-animation: phonecall-ring-anim 1.2s infinite ease-in-out;
  animation: phonecall-ring-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: .7
}

@-webkit-keyframes phonecall-ring-anim {
  0% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      transform: rotate(0) scale(1) skew(1deg);
      opacity: .1
  }

  30% {
      -webkit-transform: rotate(0) scale(1.3) skew(1deg);
      transform: rotate(0) scale(1.3) skew(1deg);
      opacity: .5
  }

  100% {
      -webkit-transform: rotate(0) scale(1.6) skew(1deg);
      transform: rotate(0) scale(1.6) skew(1deg);
      opacity: .1
  }
}

@keyframes phonecall-ring-anim {
  0% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      transform: rotate(0) scale(1) skew(1deg);
      opacity: .1
  }

  30% {
      -webkit-transform: rotate(0) scale(1.3) skew(1deg);
      transform: rotate(0) scale(1.3) skew(1deg);
      opacity: .5
  }

  100% {
      -webkit-transform: rotate(0) scale(1.6) skew(1deg);
      transform: rotate(0) scale(1.6) skew(1deg);
      opacity: .1
  }
}

.phonecall-ring-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00a88d;
  border-radius: 100%!important;
  -webkit-animation: phonecall-ring-circle-anim 2.3s infinite ease-in-out;
  animation: phonecall-ring-circle-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%
}

@-webkit-keyframes phonecall-ring-circle-anim {
  0% {
      -webkit-transform: rotate(0) scale(1.1) skew(1deg);
      transform: rotate(0) scale(1.1) skew(1deg);
      opacity: .2
  }

  50% {
      -webkit-transform: rotate(0) scale(1.3) skew(1deg);
      transform: rotate(0) scale(1.3) skew(1deg);
      opacity: .2
  }

  100% {
      -webkit-transform: rotate(0) scale(1.1) skew(1deg);
      transform: rotate(0) scale(1.1) skew(1deg);
      opacity: .2
  }
}

@keyframes phonecall-ring-circle-anim {
  0% {
      -webkit-transform: rotate(0) scale(1.1) skew(1deg);
      transform: rotate(0) scale(1.1) skew(1deg);
      opacity: .2
  }

  50% {
      -webkit-transform: rotate(0) scale(1.3) skew(1deg);
      transform: rotate(0) scale(1.3) skew(1deg);
      opacity: .2
  }

  100% {
      -webkit-transform: rotate(0) scale(1.1) skew(1deg);
      transform: rotate(0) scale(1.1) skew(1deg);
      opacity: .2
  }
}