/* ==============================
   Classic menu bar
   ============================== */

/* Logo (in navigation panel)*/

.nav-logo-wrap {
  float: left;
  margin-right: 20px;
}
.nav-logo-wrap .logo {
  display: table-cell;
  vertical-align: middle;
  max-width: 170px;
  height: 75px;

  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}

@include media-breakpoint-down(sm){
  .nav-logo-wrap .logo{
    max-width: 140px;
    height: 60px;
  }
}



.nav-logo-wrap .logo img {
  max-height: 100%;
}
.nav-logo-wrap .logo:before,
.nav-logo-wrap .logo:after {
  display: none;
}
.logo,
a.logo:hover {
  font-size: 18px;
  font-weight: 400 !important;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

/*
 * Desktop nav
 */

.main-nav {
  width: 100%;
  height: 75px !important;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  text-align: left;
  background: white;

  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);

  z-index: 1030;

  -webkit-transition: height 0.27s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: height 0.27s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: height 0.27s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: height 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: height 0.27s cubic-bezier(0, 0, 0.58, 1);
  // &:after {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 1px;
  //   bottom: 0;
  //   background: gray("500");
  // }
}

.inner-nav {
  display: inline-block;
  position: relative;
  float: right;
}
.inner-nav ul {
  float: right;
  margin: auto;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 1.3;
}
.inner-nav ul li {
  float: left;
  margin-left: 30px;
  position: relative;
  &:first-child {
    margin-left: 0;
  }
  // @include media-breakpoint-down(lg) {
  //   margin-left: 15px;
  //   a{
  //     font-size: 16px;
  //   }
  // }

  @media only screen and (max-width: 1600px) {
    margin-left: 15px;
    a {
      font-size: 16px;
    }
  }
}

.inner-nav ul li a {
  color: gray("900");
  // letter-spacing: 2px;
  font-weight: bold;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  i.fa-angle-down {
    font-weight: normal;
    color: gray("500");
    font-size: 0.8em;
  }
}
.inner-nav ul > li:first-child > a {
}
.inner-nav ul li a:hover,
.inner-nav ul li a.active {
  color: $orange;
  text-decoration: none;
}

/* Menu sub */

.mn-sub {
  display: none;
  width: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  // background: rgba(30, 30, 30, 0.97);
  background: white;
  border-bottom: 1px solid gray("500");
  border-top: 1px solid gray("500");
}
.mn-sub li {
  display: block;
  width: 100%;
  margin: 0 !important;
}

.mobile-on .mn-has-multi > li:last-child > a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.065) !important;
}

.mn-sub li a:hover,
.inner-nav ul li .mn-sub li a:hover,
.mn-sub li a.active {
  //   background: rgba(255, 255, 255, 0.09);
  //   color: #f5f5f5 !important;
}

.mn-sub li ul {
  left: 100%;
  right: auto;
  top: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.07);
}
.inner-nav > ul > li:last-child .mn-sub,
.inner-nav li .mn-sub.to-left {
  left: auto;
  right: 0;
}
.inner-nav li:last-child .mn-sub li ul,
.inner-nav li .mn-sub li ul.to-left {
  left: auto;
  right: 100%;
  top: 0;
  border-left: none;
  border-right: 1px solid rgba(255, 255, 255, 0.07);
}

.mn-wrap {
  padding: 8px;
}

/* Menu sub multi */

.mn-has-multi {
  width: auto !important;
  padding: 15px;
  text-align: left;
  white-space: nowrap;
}
.mn-sub-multi {
  width: 190px !important;
  overflow: hidden;
  white-space: normal;
  float: none !important;
  display: inline-block !important;
  vertical-align: top;
}
.mn-sub-multi > ul {
  width: auto;
  margin: 0;
  padding: 0;
  float: none;
}
.mn-group-title {
  font-weight: 700;
  color: #fff !important;
}
.mn-group-title:hover {
  background: none !important;
}

.mn-sub-new {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;

  background: white;
  top: 75px;
  // border-top: 1px solid gray("200");
  height: auto;
  padding: 20px 20px 20px 300px;
  .mn-sub-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    float: none;
    // width: 100%;
    .sub-new-item:not(:last-child) {
      border-right: 1px solid gray("500");
    }
  }
  overflow: hidden;
}

.sub-new-item {
  width: 300px;
  text-align: left;
  padding-left: 29px;
  padding-right: 30px;

  .title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 2px;
    text-transform: uppercase;
  }
  .mm {
    padding: 10px 0 0 0;
    margin: 0;
    float: none;
    a {
      padding: 10px 0 !important;
    }
  }
  .txt {
    margin-top: 18px;
  }
}

.inner-nav ul li .mn-sub li a {
  display: block;
  width: 100%;
  height: auto !important;
  line-height: 1.3 !important;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;

  font-weight: normal;
  text-align: left;
  border-left: none;
  border-right: none;
  letter-spacing: 0;
  // color: #b0b0b0 !important;
  cursor: pointer;
  padding: 10px 15px;
}

.mn-sub li:not(:last-child) a {
  border-bottom: 1px solid gray("200");
}

.nav-button-wrap {
  display: inline-block;
  position: relative;
  float: right;
}

.nav-holder {
  background: $orange;
}
.language-mobile{
  display: none;
}
@media only screen and (max-width: 1224px) {
  .desktop-nav {
    display: none !important;
  }
  .nav-button-wrap {
    display: flex !important;
  }

  .language-mobile{
    display: block;
  }


}
