{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<!-- content-holder  -->
<div class="content-holder" data-pagetitle="Portfolio Single 4">

    <!--content-->
    <div class="content">




        <section class="bg-light">
            <div class="container container-1200">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9 col-md-11">
                        <a href="career.html"> <i class="fas fa-angle-left"></i> Back to Careers</a>
                        <div class="card card-body shadow mt-4">
                            <div
                                class="d-flex flex-column flex-sm-row justify-content-between align-items-start pb-4 mb-4 mb-md-5 border-bottom">
                                <div class="mb-3 mb-md-0">
                                    <h1 class="mb-2">Chain Manager</h1>
                                    <div class="lead">Vietnam</div>
                                </div>
                                <a href="#apply-form" class="btn btn-warning" data-smooth-scroll>Apply Now</a>

                            </div>
                            <article class="article">
                                <h5 class="mb-3">Description:</h5>
                                <p>
                                    Dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim
                                    lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, melisandre
                                    tincidunt lectus. Brienne nec tellus sit amet massa auctor imperdiet id vitae diam.
                                </p>
                                <p>
                                    Aenean Gendry est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis
                                    et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent
                                    vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry
                                    est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula
                                    lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae
                                    venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                                </p>
                                <p>
                                    Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis
                                    mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys
                                    et lectus rhoncus laoreet.
                                </p>
                                <h5 class="mb-3">Requirements:</h5>
                                <p>
                                    Turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet.
                                    Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
                                </p>
                                <ul>
                                    <li>Vivamus convallis mi sagittis eleifend laoreet.</li>
                                    <li>Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry est nec diam
                                        suscipit iaculis.</li>
                                    <li>Velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi.</li>
                                </ul>
                            </article>
                            <hr>
                            <h6 class="mb-3">Hiring Policy</h6>
                            <small>Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis
                                mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et
                                lectus rhoncus laoreet. Aenean Gendry est nec diam suscipit iaculis.
                                Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi
                                sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et
                                lectus rhoncus laoreet.</small>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-0 bg-light">
            <div class="container container-1200">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9 col-md-11">
                        <h2>Ready to apply?</h2>
                        <div class="card card-body shadow mt-md-5" id="apply-form">
                            <form>
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="job-name">Full Name</label>
                                            <input id="job-name" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="job-email">Email Address</label>
                                            <input id="job-email" type="email" class="form-control"
                                                placeholder="you@website.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Attach Resumé</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="job-file">
                                        <label class="custom-file-label" for="job-file">Choose file</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="job-message">Why do you want to work here?</label>
                                    <textarea class="form-control" id="job-message" rows="10"
                                        placeholder="Type here"></textarea>
                                </div>
                                <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                                    <div class="custom-control custom-checkbox mb-3 mb-md-0">
                                        <input type="checkbox" class="custom-control-input" id="job-agree">
                                        <label class="custom-control-label" for="job-agree">I agree to the <a
                                                target="_blank" href="utility-legal-terms.html">Terms &amp;
                                                Conditions</a>
                                        </label>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Submit Application</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    {% include "layouts/footer.html" %}


</div>








<!--content end -->
<!-- footer -->
<!-- share-wrapper  end -->
</div>
<!-- content-holder end -->
{% endblock %}