{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<!-- content-holder  -->
<div class="content-holder" data-pagetitle="Portfolio Single 4">

    <!--content-->
    <div class="content">



        <section>
            <div class="container ">
                <div class="row section-title justify-content-center text-center">
                    <div class="col-md-9 col-lg-8 col-xl-7 text-center">
                        <h3 class="display-4 font-weight-bold mb-4">CAREERS</h3>
                        <p class="h5 text-center mb-0"> We are always on the lookout for talents, so do reach out.</p>
                        <p class="h5 text-center">
                            If having any questions, please send us an email to
                            <a href="mailto:lvdm@hr.com" class="">
                                lvdm@hr.com
                            </a></p>

                    </div>
                </div>
        </section>
        <div class="container container-1200">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-10">
                    <div class="px-3 d-none d-md-block">
                        <div class="row mb-4">
                            <div class="col">
                                <h5 class="mb-0">Position</h5>
                            </div>
                            <div class="col-3">
                                <h5 class="mb-0">Number</h5>
                            </div>
                            <div class="col-3">
                                <h5 class="mb-0">Location</h5>
                            </div>
                        </div>
                    </div>
                    <a href="#"
                        class="card card-body px-3 py-4 flex-sm-row align-items-center justify-content-between hover-box-shadow mb-2 mb-sm-3">
                        <div class="col-auto col-md">
                            <h6 class="mb-0">1. Chain Mananger</h6>
                        </div>
                        <div class="col-auto col-md-3">
                            2
                        </div>
                        <div class="col-auto col-md-3">
                            Vietnam
                        </div>
                    </a>
                    <a href="#"
                        class="card card-body px-3 py-4 flex-sm-row align-items-center justify-content-between hover-box-shadow mb-2 mb-sm-3">
                        <div class="col-auto col-md">
                            <h6 class="mb-0">2. Manager assistant</h6>
                        </div>
                        <div class="col-auto col-md-3">
                            1
                        </div>
                        <div class="col-auto col-md-3">
                            Thailand
                        </div>
                    </a>
                    <a href="#"
                        class="card card-body px-3 py-4 flex-sm-row align-items-center justify-content-between hover-box-shadow mb-2 mb-sm-3">
                        <div class="col-auto col-md">
                            <h6 class="mb-0">3. Distribution manager</h6>
                        </div>
                        <div class="col-auto col-md-3">
                            1
                        </div>
                        <div class="col-auto col-md-3">
                            Thailand
                        </div>
                    </a>
                  
                </div>
            </div>
        </div>
   
    </div>
    {% include "layouts/footer.html" %}


</div>








<!--content end -->
<!-- footer -->
<!-- share-wrapper  end -->
</div>
<!-- content-holder end -->
{% endblock %}