{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<!-- content-holder  -->
<div class="content-holder" data-pagetitle="Portfolio Single 4">

    <!--content-->
    <div class="content">
        <!--fixed-column-wrap-->
        <div class="fixed-column-wrap" style="bottom: 50px">
            <div class="pr-bg"></div>
            <div class="fixed-column-wrap-content map-mobile">

                <div class="map-container mc_big">
                        <div style="" class="map-place-height">
                                <div id="map_right_listing"></div>
                            </div>
                

                    <!-- <div id="map-single" class="map" data-latlog="[40.714 , -74.005]"
                        data-popuptext="We work in New York . <br> We are waiting for your visit"></div> -->
                </div>
            </div>

            <!-- <div class="c-location-box">
                <h3 class="c-location-box__name">Phnom Penh</h3>
                <p class="c-location-box__content c-location-box__content--has-margin">#G267,Street 89R,Phum Khlaing
                    Saing,Sangkat Reussey Keo,Khan Reussey keo , Phnom Penh, Cambodia</p><a class="c-location-box__url"
                    target="_blank" href="mailto:info@vergersmekong.com.vn">info@vergersmekong.com.vn</a>
            </div> -->
            <!--fixed-column-wrap-content end-->
        </div>
        <!--fixed-column-wrap end-->
        <!--column-wrap-->
        <div class="column-wrap">
            <!--column-wrap-container -->
            <div class="column-wrap-container fl-wrap">

                <!--section-->
                <section id="sec1" class="small-padding">
                    <div class="container">
                        <div class="split-sceen-content_title fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <h3>Email us</h3>
                        </div>

                        <p>Please complete the form below and we will endeavour to respond as early as possible </p>

                        <div class="column-wrap-content fl-wrap mt-4">
                            <div class="column-wrap-media fl-wrap">
                                <div class="pr-bg pr-bg-white"></div>
                                <img src="https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/timeline-1024x540.jpg"
                                    class="respimg" alt="">
                                <!--   <div class="cont-det-wrap dark-bg">
                                    <div class="pr-bg pr-bg-white"></div>
                                    <ul>
                                        <li><strong>01.</strong><span>Write : </span> <a
                                                href="mailto:theside@domain.com">theside@domain.com</a></li>
                                        <li><strong>02.</strong><span> Call :</span> <a
                                                href="tel:+4(897)56412322">+4(897)56412322</a></li>
                                        <li><strong>03.</strong><span> Visit :</span> <a href="#">USA 27TH BROOKLYN
                                                NY</a></li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </section>
                <!--section end-->
                <!--section-->
                <section id="sec2" class="small-padding pt-0">
                    <div class="container">
                        <div class="split-sceen-content_title fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <h3>Get In touch</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.
                                Nulla finibus lobortis pulvinar. </p>
                        </div>
                        <div id="contact-form">
                            <div class="pr-bg pr-bg-white"></div>
                            <div id="message"></div>
                            <form class="custom-form" action="php/contact.php" name="contactform" id="contactform">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" name="name" id="name" placeholder="Your Name *"
                                                value="" />
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="email" id="email" placeholder="Email Address *"
                                                value="" />
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="phone" id="phone" placeholder="Phone *" value="" />
                                        </div>
                                        <div class="col-md-6">
                                            <select name="subject" id="subject" data-placeholder="Subject"
                                                class="chosen-select sel-dec">
                                                <option>Subject</option>
                                                <option value="Order Project">Order Project</option>
                                                <option value="Support">Support</option>
                                                <option value="Other Question">Other Question</option>
                                            </select>
                                        </div>
                                    </div>
                                    <textarea name="comments" id="comments" cols="40" rows="3"
                                        placeholder="Your Message:"></textarea>

                                    <div class="clearfix"></div>
                                    <button class="btn float-btn flat-btn color-bg mb-5" id="submit">Send Message <i
                                            class="fal fa-long-arrow-right"></i></button>
                                </fieldset>
                            </form>
                        </div>
                        <!-- contact form  end-->

                    </div>
                </section>
                <!--section end-->
            </div>
            <!--column-wrap-container end-->
        </div>
        <!--column-wrap end-->
        <div class="limit-box fl-wrap"></div>
    </div>
    <!--content end -->
    <!-- footer -->
    {% include "layouts/footer.html" %}
    <!-- share-wrapper  end -->


</div>
<!-- content-holder end -->
{% endblock %}

{% block testJS %}

<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="js/markerclusterer.js"></script>
<script src="js/listing_map.js"></script>
<script src="js/infobox.js"></script>

{% endblock %}