{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<!-- content-holder  -->
<div class="content-holder" data-pagetitle="Portfolio Single 4">

    <!--content-->
    <div class="content">


        <section class="hero-section " data-scrollax-parent="true">
            <div class="hero-canvas-wrap fs-canvas first-tile_load">
                <div class="dots gallery__dots" data-dots=""></div>
            </div>

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 col-12 order-md-1 order-2 ">
                        <div class="section-title fl-wrap first-tile_load">
                            <div class="rotate_text"><a></a></div>
                            <h2>
                              
                                    Customers
                            </h2>
                            <p class="h5">
                                More Companies That Chose Vergersmekong 
                            </p>


                        </div>
                    </div>
                    <div class="col-md-8 col-12 order-md-2 order-1">
                        <div class="embed-responsive embed-responsive-16by9">
                            <div class="hero-bg">
                                <div class="bg par-elem"
                                    data-bg="https://vergersmekong.com:8088/content/lvdm-upload-api-191219091904-637123439446149225.jpg"
                                    data-scrollax="properties: { translateY: '30%' }"></div>
                                <div class="pr-bg"></div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </section>





        <div class="container container-1200 mt-0 mt-lg-5 mb-5">

            <div class="row">
                <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="customer-logo">
                        <svg viewBox="0 0 781.18 211.83" class="jsx-563217480" style="display: block; width: 100%;">
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#0F49A4"
                                d="M441.35,77.34v10.71c-1.71,26.58-38.28,25.83-38.28,25.83 c-38.29,0-37.45-25.17-37.45-25.17V75.55h29.79v9.06c0,7.71,7.43,8.05,7.43,8.05c8.14,0.32,8.82-7.55,8.82-7.55 c1.11-7.66-7.31-12.48-7.31-12.48c-8.34-4.29-22.24-11.8-22.24-11.8c-6.85-4.49-9.63-8.57-9.63-8.57c-4.92-6.21-4.6-15.86-4.6-15.86 v-8.36c0-11.58,3.1-14.89,3.1-14.89c7.92-14.9,35.51-13.08,35.51-13.08c35.08,0.96,32.93,22.83,32.93,22.83l0.05,13.35h-27.96v-9.07 c0-6.43-7.8-6.85-7.8-6.85c-5.99,0-7.38,4.06-7.38,4.06c-3.31,6.22,2.35,11.58,2.35,11.58c2.89,3.22,17.43,9.97,17.43,9.97 c4.71,1.82,12.31,6.54,12.31,6.54C442.63,61.05,441.35,77.34,441.35,77.34z M285.29,3.2L275.93,62h-2.19L264.8,3.73h-46.7 l-2.34,106.47h27.65l0.33-80.22h2.17l14.66,80.21h29.09l14.48-80.18h1.92l0.67,80.19h27.79l-2.99-107H285.29z M120.7,3.64 l-18.4,106.44h29.77l10.89-82.53h2.45l10.89,82.53h29.77L167.67,3.64H120.7z M745.28,51.01v15.7h7.64v16.86 c0,8.24-7.03,8.39-7.03,8.39c-8.54,0-8.22-7.83-8.22-7.83v-58.3c0-6.01,7.58-6.33,7.58-6.33c7.28,0,7.33,7.17,7.33,7.17v8.86h28.03 c0.91-17.3-2.53-21.49-2.53-21.49c-6.95-15.65-33.25-14.79-33.25-14.79c-40.42,0-35.93,31.08-35.93,31.08V86.7 c0.86,29.15,40.68,26.19,41.36,26.15c17.72-1.96,23.07-7.6,23.07-7.6c4.92-3.66,6.19-8.74,6.19-8.74 c1.41-2.96,1.76-12.38,1.76-12.38V51.01H745.28z M652.39,68.34h-1.22L622.72,3.22h-34.01v107h27.68l-1.65-65.1h1.23l29.46,65.1h33 v-107h-28.04L652.39,68.34z M521.09,83.56c0,0,0.41,8.78-7.71,8.78c0,0-8.55,0.46-8.55-8.56l-0.09-80.49h-30.37v79.85 c0,0-3.12,30.22,39.43,30.22c0,0,36.98,0.44,36.98-28.84V3.29h-29.69V83.56z M62.79,52.47c0,0-7.59-4.71-12.3-6.53 c0,0-14.54-6.75-17.42-9.97c0,0-5.67-5.36-2.35-11.57c0,0,1.38-4.07,7.37-4.07c0,0,7.8,0.42,7.8,6.85v9.07h27.97l-0.05-13.36 c0,0,2.13-21.86-32.94-22.82c0,0-2.64-0.17-6.52,0.02c0,0-21.24,1.15-28.83,12.83C5.47,13,5.41,13.07,5.37,13.15 c0,0-3.1,3.31-3.1,14.89v8.36c0,0-0.32,9.64,4.6,15.86c0,0,2.78,4.08,9.62,8.57c0,0,13.9,7.51,22.24,11.79c0,0,8.43,4.82,7.32,12.49 c0,0-0.69,7.87-8.82,7.55c0,0-7.43-0.34-7.43-8.05v-9.07H0v13.17c0,0-0.83,25.17,37.45,25.17c0,0,36.56,0.75,38.28-25.83V77.34 C75.73,77.34,77.01,61.05,62.79,52.47z M36.62,180.07c0-16.83-24.73-14.14-24.73-25.59v-2.45c0-4.11,3.32-6.71,8.37-6.71 c5.06,0,8.69,2.92,8.69,7.9v6.48h7.11v-6.48c0-8.61-6.48-13.98-15.8-13.98c-9.32,0-15.8,4.66-15.8,12.8v2.61 c0,16.91,24.73,14.61,24.73,25.91v2.29c0,4.66-3.87,7.03-8.93,7.03c-5.06,0-9.24-2.61-9.24-7.9v-6.48H3.91v6.48 c0,8.61,6.79,13.98,16.19,13.98c9.32,0,16.51-4.74,16.51-13.43V180.07z M51.23,160.8h7.74v-5.06h-7.74v-7.9h-7.11v7.9h-4.34v5.06 h4.34v25.75c0,7.19,3.55,9.4,9.16,9.4c2.53,0,3.95-0.24,6.32-0.71l-0.47-5.37c-1.18,0.32-2.61,0.47-3.55,0.47 c-3.32,0-4.34-1.58-4.34-4.66V160.8z M80.54,155.03c-3.08,0-8.37,1.82-10.27,7.43l-0.71-6.71h-5.92v39.5h7.11v-25.12 c0-4.66,3.32-7.9,9.8-7.9V155.03z M85.04,163.72c2.84-1.34,6.79-2.84,10.59-2.84c3.4,0,6.87,1.03,6.87,6.4v4.19 c-16.98,0.16-20.46,5.61-20.46,12.16v2.29c0,4.58,2.61,10.03,10.43,10.03c3,0,7.82-1.03,10.51-6.16l0.71,5.45h5.92V166.8 c0-9.01-6.08-11.77-13.19-11.77c-5.45,0-10.11,1.82-13.11,3.48L85.04,163.72z M102.5,181.18c0,6.32-3,9.08-7.35,9.08 c-4.27,0-6-2.53-6-5.53v-2.13c0-3.63,2.13-6.64,13.35-6.87V181.18z M125.02,160.8h7.74v-5.06h-7.74v-7.9h-7.11v7.9h-4.34v5.06h4.34 v25.75c0,7.19,3.55,9.4,9.16,9.4c2.53,0,3.95-0.24,6.32-0.71l-0.47-5.37c-1.18,0.32-2.61,0.47-3.55,0.47 c-3.32,0-4.34-1.58-4.34-4.66V160.8z M163.17,177.23v-9.87c0-8.61-5.61-12.32-13.11-12.32c-7.9,0-13.82,3.87-13.82,12.48v15.64 c0,9.48,6.71,12.8,14.14,12.8c5.77,0,10.66-1.26,13.11-2.05l-0.95-5.61c-3,1.11-7.5,1.98-10.98,1.98c-4.5,0-8.22-1.5-8.22-7.43 v-5.61H163.17z M156.78,172.33h-13.43v-5.13c0-4.27,2.69-6.71,6.71-6.71s6.71,2.29,6.71,6.56V172.33z M196.04,155.74h-5.92 l-0.79,5.21c-2.53-4.42-7.03-5.92-10.11-5.92c-7.98,0-10.82,5.85-10.82,11.3v16.98c0,5.37,2.84,11.22,10.82,11.22 c3.08,0,7.19-1.42,9.72-5.45v9.72c0,5.92-3.87,7.35-8.37,7.35c-3.48,0-7.58-0.79-10.59-1.98l-0.87,5.61 c2.37,0.79,6.64,2.05,12.4,2.05c7.58,0,14.54-3.08,14.54-12.96V155.74z M188.93,180.7c0,4.5-2.53,8.22-7.11,8.22 c-4.27,0-6.32-3.08-6.32-6.64v-14.93c0-3.55,2.05-6.64,6.32-6.64c4.58,0,7.11,3.63,7.11,8.22V180.7z M223.61,155.74l-8.06,31.12 l-8.61-31.12h-7.11l11.77,39.89h0.87l-1.66,5.37c-1.34,3.87-2.69,5.29-6.56,5.29c-0.79,0-3.24-0.32-4.66-0.71l-0.55,5.53 c2.37,0.55,4.19,0.71,5.69,0.71c6.08,0,9.56-1.97,12.48-11.61l13.35-44.47H223.61z M278.91,171.78h7.35v-6H271.8v9.72l-12.32-12.32 c-2.61-2.84-4.58-6.24-4.58-9.4v-1.74c0-4.11,3.32-6.71,8.37-6.71s8.53,2.92,8.53,7.9v6.48h6.95v-6.48 c0-8.61-6.08-13.98-15.48-13.98c-9.32,0-15.64,4.66-15.64,12.8v1.9c0,4.42,1.82,8.29,5.13,12.09c-3.55,2.61-6.32,6-6.32,11.61v4.34 c0,8.61,6.87,13.98,16.27,13.98c6.08,0,11.06-1.97,13.82-5.77l5.06,5.06h4.66v-5.29l-7.35-7.35v-0.08V171.78z M253.55,177.62 c0-3.16,1.26-5.45,3.48-7.27l14.46,14.61c-1.11,3.24-4.66,4.9-8.77,4.9c-5.06,0-9.16-2.61-9.16-7.9V177.62z M305.85,195.24h7.5 v-55.3h-7.5V195.24z M348.66,195.24v-28.91c0-5.45-2.92-11.3-10.9-11.3c-3.08,0-7.5,1.5-10.11,5.92l-0.71-5.21h-5.92v39.5h7.11 v-26.31c0-4.58,2.53-8.22,7.03-8.22c4.34,0,6.4,3.08,6.4,6.64v27.89H348.66z M383.26,195.24v-28.91c0-5.45-2.92-11.3-10.9-11.3 c-3.08,0-7.5,1.5-10.11,5.92l-0.71-5.21h-5.92v39.5h7.11v-26.31c0-4.58,2.53-8.22,7.03-8.22c4.34,0,6.4,3.08,6.4,6.64v27.89H383.26z  M416.84,167.51c0-8.61-5.85-12.48-13.75-12.48c-7.9,0-13.82,3.87-13.82,12.48v15.96c0,8.61,5.92,12.48,13.82,12.48 c7.9,0,13.75-3.87,13.75-12.48V167.51z M396.38,167.2c0-4.27,2.69-6.71,6.71-6.71c4.03,0,6.71,2.45,6.71,6.71v16.59 c0,4.27-2.69,6.71-6.71,6.71c-4.03,0-6.71-2.45-6.71-6.71V167.2z M443.22,155.74l-8.29,31.36l-8.37-31.36h-7.19l11.85,39.89h6.95 l12.01-39.89H443.22z M454.6,163.72c2.84-1.34,6.79-2.84,10.58-2.84c3.4,0,6.87,1.03,6.87,6.4v4.19 c-16.98,0.16-20.46,5.61-20.46,12.16v2.29c0,4.58,2.61,10.03,10.43,10.03c3,0,7.82-1.03,10.51-6.16l0.71,5.45h5.92V166.8 c0-9.01-6.08-11.77-13.19-11.77c-5.45,0-10.11,1.82-13.11,3.48L454.6,163.72z M472.06,181.18c0,6.32-3,9.08-7.35,9.08 c-4.27,0-6-2.53-6-5.53v-2.13c0-3.63,2.13-6.64,13.35-6.87V181.18z M494.57,160.8h7.74v-5.06h-7.74v-7.9h-7.11v7.9h-4.34v5.06h4.34 v25.75c0,7.19,3.55,9.4,9.16,9.4c2.53,0,3.95-0.24,6.32-0.71l-0.47-5.37c-1.18,0.32-2.61,0.47-3.55,0.47 c-3.32,0-4.34-1.58-4.34-4.66V160.8z M514.09,139.86h-7.11v10.43h7.11V139.86z M514.09,155.74h-7.11v39.5h7.11V155.74z  M547.9,167.51c0-8.61-5.85-12.48-13.75-12.48s-13.82,3.87-13.82,12.48v15.96c0,8.61,5.92,12.48,13.82,12.48s13.75-3.87,13.75-12.48 V167.51z M527.44,167.2c0-4.27,2.69-6.71,6.71-6.71s6.71,2.45,6.71,6.71v16.59c0,4.27-2.69,6.71-6.71,6.71s-6.71-2.45-6.71-6.71 V167.2z M581.79,195.24v-28.91c0-5.45-2.92-11.3-10.9-11.3c-3.08,0-7.5,1.5-10.11,5.92l-0.71-5.21h-5.92v39.5h7.11v-26.31 c0-4.58,2.53-8.22,7.03-8.22c4.34,0,6.4,3.08,6.4,6.64v27.89H581.79z M627.21,175.49v6.48c0,5.29-4.19,7.9-9.24,7.9 c-5.06,0-8.93-2.61-8.93-7.9v-28.75c0-4.98,3.87-7.9,8.93-7.9c5.06,0,9.24,2.92,9.24,7.9v6.48h7.11v-6.48 c0-8.61-7.03-13.98-16.35-13.98c-9.4,0-16.43,5.37-16.43,13.98v28.75c0,8.61,7.03,13.98,16.43,13.98c9.32,0,16.35-5.37,16.35-13.98 v-6.48H627.21z M666.4,177.23v-9.87c0-8.61-5.61-12.32-13.11-12.32c-7.9,0-13.82,3.87-13.82,12.48v15.64 c0,9.48,6.71,12.8,14.14,12.8c5.77,0,10.66-1.26,13.11-2.05l-0.95-5.61c-3,1.11-7.5,1.98-10.98,1.98c-4.5,0-8.22-1.5-8.22-7.43 v-5.61H666.4z M660,172.33h-13.43v-5.13c0-4.27,2.69-6.71,6.71-6.71c4.03,0,6.71,2.29,6.71,6.56V172.33z M700.13,195.24v-28.91 c0-5.45-2.92-11.3-10.9-11.3c-3.08,0-7.5,1.5-10.11,5.92l-0.71-5.21h-5.92v39.5h7.11v-26.31c0-4.58,2.53-8.22,7.03-8.22 c4.34,0,6.4,3.08,6.4,6.64v27.89H700.13z M715.38,160.8h7.74v-5.06h-7.74v-7.9h-7.11v7.9h-4.34v5.06h4.34v25.75 c0,7.19,3.55,9.4,9.16,9.4c2.53,0,3.95-0.24,6.32-0.71l-0.47-5.37c-1.18,0.32-2.61,0.47-3.55,0.47c-3.32,0-4.34-1.58-4.34-4.66 V160.8z M753.53,177.23v-9.87c0-8.61-5.61-12.32-13.11-12.32c-7.9,0-13.82,3.87-13.82,12.48v15.64c0,9.48,6.71,12.8,14.14,12.8 c5.77,0,10.66-1.26,13.11-2.05l-0.95-5.61c-3,1.11-7.5,1.98-10.98,1.98c-4.5,0-8.22-1.5-8.22-7.43v-5.61H753.53z M747.13,172.33 H733.7v-5.13c0-4.27,2.69-6.71,6.71-6.71c4.03,0,6.71,2.29,6.71,6.56V172.33z M776.52,155.03c-3.08,0-8.37,1.82-10.27,7.43 l-0.71-6.71h-5.92v39.5h7.11v-25.12c0-4.66,3.32-7.9,9.8-7.9V155.03z">
                            </path>
                        </svg>
                    </div>
                </div>
                <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="customer-logo">
                        <svg viewBox="0 0 163 52" class="jsx-563217480" style="display: block; width: 100%;">
                            <path
                                d="M23.35 41.419c1.346-.06 2.901.12 3.834 1.216.485.547.563 1.18.66 1.875a48.45 48.45 0 0 1-2.274.028c-.137-.315-.213-.746-.471-.986-.61-.284-1.354-.315-2.007-.185-.308.086-.74.207-.85.55-.397.666.282 1.242.883 1.401 1.484.413 2.956.375 4.255 1.394.947.706.843 2.278.296 3.198-.78 1.24-2.239 1.6-3.616 1.645-1.309.035-2.906-.216-3.82-1.254-.547-.598-.62-1.29-.738-2.05.79-.017 1.578-.017 2.369-.008.007.216.014.43.023.643.834.91 2.142.931 3.248.6.71-.228.892-1.319.229-1.717-.86-.507-2.054-.543-3.008-.82-.904-.254-1.893-.65-2.352-1.531-.32-.74-.209-1.854.246-2.527.7-1.043 1.902-1.39 3.093-1.472zM68.087 42.208c1.022.6 1.572 1.534 2.102 2.555-.8.036-1.598.04-2.398.034-.34-.439-.641-.863-1.124-1.157-1.188-.692-2.873-.299-3.555.92-.681 1.187-.681 2.816.076 3.968.762 1.17 2.457 1.476 3.612.723.414-.282.684-.678.989-1.067a38.4 38.4 0 0 1 2.395.01c-.469.926-.937 1.775-1.818 2.38-1.87 1.376-4.53 1.293-6.3-.214-2-1.695-2.357-4.776-.795-6.884 1.512-2.128 4.634-2.709 6.816-1.268zM73.95 41.684c.028 1.254.03 2.508.004 3.76 1.366.023 2.731.019 4.097 0-.071-1.257-.003-2.506.012-3.762a50.57 50.57 0 0 0 2.075.002c.111 3.193.012 6.393.055 9.589-.71 0-1.42.004-2.128.023-.088-1.322-.017-2.636.002-3.958-1.368-.024-2.735-.02-4.103-.017.007 1.323.016 2.643-.008 3.966a60.957 60.957 0 0 0-2.184-.005c.007-3.198.005-6.395-.002-9.593.726.012 1.453.012 2.18-.005zM10.265 41.687c2.575.03 5.15-.005 7.724.019-.009.613-.009 1.23-.011 1.844-1.854-.014-3.707 0-5.56-.005 0 .635.003 1.27.007 1.906 1.607 0 3.214.01 4.821.007-.007.619-.01 1.237-.007 1.854-1.607.014-3.214.007-4.823.009.002.702.002 1.406.007 2.11 1.891 0 3.782 0 5.673.002-.01.612-.012 1.223-.01 1.835-2.61.019-5.22-.005-7.828.011.016-3.197-.003-6.395.007-9.592zM29.934 41.69l.199.001c2.518.008 5.036.02 7.552-.007.005.619.007 1.238.007 1.856-1.844.007-3.69.012-5.536-.004-.004.637-.01 1.275-.004 1.913 1.6.016 3.202 0 4.804.004-.005.624-.01 1.245-.01 1.868-1.597-.007-3.192 0-4.79.002-.004.704-.007 1.408-.004 2.115 1.888-.014 3.78-.005 5.668-.007-.005.616-.005 1.232.002 1.849-2.627-.01-5.256-.005-7.886-.003.008-3.195.012-6.393-.002-9.588z"
                                fill="#010101"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M2.83 41.697c-.94.002-1.882.005-2.822-.013 0 .915-.002 1.829-.003 2.743C.002 46.713 0 49 .015 51.284c.717-.01 1.434-.011 2.153-.002.004-.606.003-1.212.003-1.818 0-.693 0-1.385.004-2.077.533.003 1.065 0 1.598-.007.376.54.707 1.114 1.04 1.689.436.757.873 1.513 1.41 2.187.586.045 1.178.035 1.769.025.25-.004.501-.008.75-.008a90.457 90.457 0 0 0-2.292-3.788l-.029-.258c.746-.392 1.38-.819 1.588-1.688.216-.956.192-2.297-.594-3.004-.677-.692-1.602-.796-2.523-.836-.687-.006-1.375-.004-2.062-.002zm.407 1.846c-.359.005-.717.01-1.073.004l.007 1.02c.001.34.003.68.007 1.019.364-.033.761-.017 1.164 0 .923.038 1.878.077 2.551-.472.029-.287.06-.571.093-.855-.06-.06-.122-.13-.185-.204-.177-.204-.37-.427-.613-.48-.647-.05-1.3-.04-1.951-.032zM53.78 41.696c-1.026.001-2.053.003-3.078-.01-.005 1.598-.004 3.197-.003 4.795.001 1.598.003 3.196-.002 4.794l.715.003c.48.002.96.004 1.44.004.017-1.297.017-2.593.003-3.887l.322-.002c.429-.001.858-.003 1.285-.01.423.64.817 1.297 1.212 1.954s.79 1.314 1.212 1.954c.596-.011 1.192-.012 1.789-.014.265 0 .53 0 .795-.002a224.042 224.042 0 0 1-2.43-4.025c.743-.363 1.384-.75 1.628-1.595.258-.994.23-2.416-.587-3.165-.677-.626-1.657-.777-2.542-.794-.586-.002-1.172 0-1.758 0zm-.153 1.846l-.767-.004c0 .68-.002 1.358-.007 2.036.3-.002.6.003.9.006.6.008 1.202.016 1.8-.02.374-.006.61-.193.867-.397.076-.06.153-.12.236-.18-.009-.079-.016-.16-.023-.24-.02-.23-.041-.46-.095-.681-.153-.163-.33-.306-.504-.447a20.78 20.78 0 0 1-.11-.089c-.766.027-1.531.021-2.297.016zM44.492 41.669a18.568 18.568 0 0 0-1.697.037c-1.045 2.49-2.056 5.02-3.061 7.54l-.811 2.029h2.42c.158-.456.325-.909.491-1.361l.272-.744c1.349-.012 2.698-.01 4.047 0 .248.706.509 1.408.774 2.107.8-.002 1.6 0 2.402.007a362.065 362.065 0 0 0-2.28-5.697c-.531-1.305-1.062-2.61-1.583-3.92-.323.008-.648.005-.974.002zm1.022 5.723c-.504-1.195-.937-2.415-1.37-3.638-.471 1.235-.942 2.47-1.383 3.719h.065c.9.005 1.794.01 2.688-.08z"
                                fill="#010101"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M104.044 41.528c1.458-.258 3.195-.166 4.388.808.553.44.712 1.063.875 1.7.037.149.075.298.119.445-.765.057-1.529.074-2.296.064-.04-.084-.077-.172-.115-.262-.098-.232-.199-.471-.358-.66-.575-.412-1.472-.384-2.13-.227-.422.116-.935.455-.864.957-.048.581.639.847 1.091.986.381.103.772.179 1.163.255h.001c1.082.21 2.164.419 3.03 1.194 1.093.886.719 2.636-.062 3.6-.923.918-2.395 1.2-3.649 1.167-1.214-.02-2.545-.25-3.423-1.162-.499-.51-.621-1.157-.746-1.822l-.063-.323c.755-.014 1.51-.02 2.263-.012.05.107.092.214.134.319.156.39.297.745.758.911.819.273 1.99.349 2.747-.125.4-.299.369-.698.336-1.118a4.687 4.687 0 0 1-.018-.357c-.757-.372-1.55-.534-2.322-.691-1.023-.21-2.009-.411-2.821-1.084-.892-.688-.859-1.866-.509-2.835.428-.972 1.453-1.567 2.471-1.728zm-17.667.178h.017c.72-.012 1.444-.024 2.165-.04.035 3.209.061 6.43-.014 9.637a640.43 640.43 0 0 0-2.168-.045c.023-3.183.023-6.369 0-9.552zm6.593-.012c-.712.005-1.422.002-2.135-.007-.043 1.025-.032 2.048-.022 3.072.007.654.013 1.31.006 1.965.003.434 0 .866-.004 1.298-.008 1.099-.016 2.193.073 3.296.194-.029.436-.021.69-.014.515.015 1.077.032 1.383-.243.025-.785.019-1.572.012-2.358-.008-1.045-.017-2.09.05-3.134.574.885 1.188 1.742 1.802 2.599.526.735 1.052 1.469 1.553 2.22a3.493 3.493 0 0 1 .115.154l.04.054c.177.248.37.517.629.643.539.072 1.095.055 1.643.038l.41-.012a1603.3 1603.3 0 0 1 0-9.56c-.73-.009-1.462-.006-2.19-.002.004 1.866.006 3.731-.015 5.594-1.013-1.314-1.972-2.675-2.93-4.034-.369-.525-.738-1.048-1.11-1.57zm17.987.005l2.047.002h.011c2.043.002 4.086.004 6.128.002l-.009.904v.018l-.01.915c-.996.007-1.99.007-2.986-.01-.013.956-.004 1.912.004 2.87v.002c.015 1.632.029 3.265-.059 4.892a129.66 129.66 0 0 0-2.154-.022c.04-2.076.03-4.154.019-6.231l-.007-1.51h-.004c-1.002.007-2.004.014-3.006.016.012-.615.019-1.23.026-1.845v-.003zm10.224-.023h-.195l-.198-.001c.017 2.03.015 4.06.013 6.09 0 1.175-.001 2.351.001 3.526.743-.01 1.486-.014 2.232-.014-.04-1.399-.03-2.804-.02-4.21.012-1.772.024-3.545-.063-5.307-.581-.085-1.179-.085-1.77-.084zm3.51.008c2.726.029 5.455.031 8.179.003 0 .618-.003 1.235-.007 1.851-1.001.002-2.005.007-3.006.012.024 2.572.038 5.146-.002 7.718h-.008c-.689.01-1.379.019-2.07.04-.147-1.59-.126-3.195-.106-4.8v-.001c.013-.986.025-1.97-.001-2.95a89.7 89.7 0 0 0-2.989-.007c0-.624.003-1.245.01-1.866zm11.992.003c-.715.007-1.428.012-2.14.01.004.92.002 1.843-.001 2.765-.003 1.23-.006 2.46.006 3.686-.019 1.197.698 2.245 1.725 2.81 1.404.758 3.186.796 4.644.168 1.188-.53 2.037-1.645 2.025-2.978.013-.975.009-1.95.005-2.925-.005-1.172-.01-2.343.014-3.515-.71-.012-1.42-.026-2.127-.047-.058 1.043-.052 2.086-.046 3.13a58.59 58.59 0 0 1-.023 2.651l-.012.137c-.045.523-.1 1.164-.48 1.532-.582.64-1.593.652-2.369.45-.672-.204-1.061-.782-1.124-1.47-.135-1.183-.108-2.387-.082-3.592.02-.94.041-1.882-.015-2.812zm7.956-.012c2.696.045 5.408.047 8.104 0 .041.408.076.816.11 1.224l.053.61a39.449 39.449 0 0 1-3.088.012 313.323 313.323 0 0 0-.008 3.878c.003 1.293.006 2.585-.007 3.878-.705.007-1.41.02-2.115.038-.083-1.795-.067-3.596-.051-5.394.007-.795.014-1.588.013-2.38a162.23 162.23 0 0 1-3.041-.005c.009-.622.018-1.242.03-1.861zm12.446.027c-.863-.004-1.727-.007-2.591-.001.005 3.186.002 6.374-.002 9.56 1.323.02 2.645.018 3.968.016 1.287-.002 2.573-.004 3.861.014l.001-.04c.013-.6.027-1.203.044-1.804-1.202-.028-2.404-.025-3.605-.022-.692.001-1.384.003-2.075-.001 0-.702 0-1.404.002-2.105 1.593-.007 3.186-.01 4.778.005v-.012c.01-.613.019-1.225.031-1.837-1.225-.033-2.452-.03-3.678-.026l-1.131.002c0-.638.002-1.275.009-1.913 1.837.007 3.676.01 5.512.007l.002-.27c.004-.499.008-1.004-.044-1.498-.456-.093-.943-.09-1.41-.086h-.14c-1.179.02-2.355.015-3.532.01z"
                                fill="#828185"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M103.431 14.41c0 4.88-3.72 9.066-8.135 9.066-4.65 0-8.136-4.186-8.136-9.065 0-5.113 3.485-9.066 8.136-9.066 4.415 0 8.135 3.953 8.135 9.066zM95.296 0C87.16 0 80.653 6.508 80.653 14.41c0 7.903 6.507 14.178 14.643 14.178 7.903 0 14.41-6.275 14.41-14.178 0-7.902-6.507-14.41-14.41-14.41zm29.748 28.123V6.043h8.6V.93h-23.243v5.113h8.6v22.08h6.043zm21.615-10.693h3.953l-3.72-9.992h-.233l-3.717 9.992h3.717zm-5.577 4.418v.233l-2.325 6.042h-7.206L142.942.93h7.67L162 28.123h-7.205l-2.555-6.042v-.233h-11.158zM14.643 28.123V6.043h8.6V.93H0v5.113h8.6v22.08h6.043zm24.173-4.647c4.415 0 8.133-4.186 8.133-9.065 0-5.113-3.718-9.066-8.133-9.066-4.65 0-8.135 3.953-8.135 9.066 0 4.88 3.485 9.065 8.135 9.065zM24.173 14.41C24.174 6.508 30.681 0 38.817 0c7.9 0 14.408 6.508 14.408 14.41 0 7.903-6.508 14.178-14.407 14.178-8.136 0-14.643-6.275-14.643-14.178zM69.96 28.123h-6.275v-10.46L52.99.93H60.2l6.74 11.388L73.448.93h7.205L69.96 17.663v10.46z"
                                fill="#D71920"></path>
                        </svg>
                    </div>
                </div>
                <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="customer-logo">
                        <svg viewBox="0 0 321 100" class="jsx-563217480" style="display: block; width: 100%;">
                            <path
                                d="M168.7 25.1c0 3.6-2.9 6.5-6.5 6.5s-6.5-2.9-6.5-6.5 2.8-6.5 6.5-6.5c3.7.1 6.5 3 6.5 6.5zm-26.8 13.1v1.6s-3.1-4-9.7-4c-10.9 0-19.4 8.3-19.4 19.8 0 11.4 8.4 19.8 19.4 19.8 6.7 0 9.7-4.1 9.7-4.1V73c0 .8.6 1.4 1.4 1.4h8.1V36.8h-8.1c-.8 0-1.4.7-1.4 1.4zm0 24.1a9.94 9.94 0 0 1-8.1 4.1c-6.4 0-11.3-4-11.3-10.8 0-6.8 4.9-10.8 11.3-10.8 3.5 0 6.7 2 8.1 4.1v13.4zm15.5-25.5h9.6v37.6h-9.6V36.8zm143.4-1c-6.6 0-9.7 4-9.7 4V18.7h-9.6v55.7h8.1c.8 0 1.4-.7 1.4-1.4v-1.7s3.1 4.1 9.7 4.1c10.9 0 19.4-8.4 19.4-19.8s-8.5-19.8-19.3-19.8zm-1.6 30.5a9.8 9.8 0 0 1-8.1-4.1V48.8c1.5-2 4.7-4.1 8.1-4.1 6.4 0 11.3 4 11.3 10.8 0 6.8-4.9 10.8-11.3 10.8zm-22.7-14.2v22.4h-9.6V53.2c0-6.2-2-8.7-7.4-8.7-2.9 0-5.9 1.5-7.8 3.7v26.2h-9.6V36.8h7.6c.8 0 1.4.7 1.4 1.4v1.6c2.8-2.9 6.5-4 10.2-4 4.2 0 7.7 1.2 10.5 3.6 3.4 2.8 4.7 6.4 4.7 12.7zm-57.7-16.3c-6.6 0-9.7 4-9.7 4V18.7h-9.6v55.7h8.1c.8 0 1.4-.7 1.4-1.4v-1.7s3.1 4.1 9.7 4.1c10.9 0 19.4-8.4 19.4-19.8.1-11.4-8.4-19.8-19.3-19.8zm-1.6 30.5a9.8 9.8 0 0 1-8.1-4.1V48.8c1.5-2 4.7-4.1 8.1-4.1 6.4 0 11.3 4 11.3 10.8 0 6.8-4.9 10.8-11.3 10.8zm-26-30.5c2.9 0 4.4.5 4.4.5v8.9s-8-2.7-13 3v26.3H173V36.8h8.1c.8 0 1.4.7 1.4 1.4v1.6c1.8-2.1 5.7-4 8.7-4zM91.5 71c-.5-1.2-1-2.5-1.5-3.6-.8-1.8-1.6-3.5-2.3-5.1l-.1-.1C80.7 47.2 73.3 32 65.5 17l-.3-.6c-.8-1.5-1.6-3.1-2.4-4.7-1-1.8-2-3.7-3.6-5.5C56 2.2 51.4 0 46.5 0c-5 0-9.5 2.2-12.8 6-1.5 1.8-2.6 3.7-3.6 5.5-.8 1.6-1.6 3.2-2.4 4.7l-.3.6C19.7 31.8 12.2 47 5.3 62l-.1.2c-.7 1.6-1.5 3.3-2.3 5.1-.5 1.1-1 2.3-1.5 3.6C.1 74.6-.3 78.1.2 81.7c1.1 7.5 6.1 13.8 13 16.6a20.54 20.54 0 0 0 10.7 1.4c3.3-.4 6.7-1.5 10-3.4 4.1-2.3 8-5.6 12.4-10.4 4.4 4.8 8.4 8.1 12.4 10.4a26.42 26.42 0 0 0 12.6 3.6c2.8 0 5.6-.5 8.1-1.6 7-2.8 11.9-9.2 13-16.6.8-3.5.4-7-.9-10.7zm-45.1 5.2C41 69.4 37.5 63 36.3 57.6c-.5-2.3-.6-4.3-.3-6.1.2-1.6.8-3 1.6-4.2 1.9-2.7 5.1-4.4 8.8-4.4 3.7 0 7 1.6 8.8 4.4a9.7 9.7 0 0 1 1.6 4.2c.3 1.8.2 3.9-.3 6.1-1.2 5.3-4.7 11.7-10.1 18.6zm39.9 4.7c-.7 5.2-4.2 9.7-9.1 11.7-2.4 1-5 1.3-7.6 1-2.5-.3-5-1.1-7.6-2.6-3.6-2-7.2-5.1-11.4-9.7 6.6-8.1 10.6-15.5 12.1-22.1.7-3.1.8-5.9.5-8.5-.4-2.5-1.3-4.8-2.7-6.8-3.1-4.5-8.3-7.1-14.1-7.1-5.8 0-11 2.7-14.1 7.1-1.4 2-2.3 4.3-2.7 6.8-.4 2.6-.3 5.5.5 8.5 1.5 6.6 5.6 14.1 12.1 22.2-4.1 4.6-7.8 7.7-11.4 9.7-2.6 1.5-5.1 2.3-7.6 2.6a16 16 0 0 1-7.6-1c-4.9-2-8.4-6.5-9.1-11.7-.3-2.5-.1-5 .9-7.8.3-1 .8-2 1.3-3.2.7-1.6 1.5-3.3 2.3-5l.1-.2c6.9-14.9 14.3-30.1 22-44.9l.3-.6c.8-1.5 1.6-3.1 2.4-4.6.8-1.6 1.7-3.1 2.8-4.4 2.1-2.4 4.9-3.7 8-3.7 3.1 0 5.9 1.3 8 3.7 1.1 1.3 2 2.8 2.8 4.4.8 1.5 1.6 3.1 2.4 4.6l.3.6c7.6 14.9 15 30.1 21.9 45v.1c.8 1.6 1.5 3.4 2.3 5 .5 1.2 1 2.2 1.3 3.2.8 2.6 1.1 5.1.7 7.7z"
                                fill="#FF5A5F"></path>
                        </svg>
                    </div>
                </div>
                <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="customer-logo">
                        <svg class="jsx-563217480" viewBox="0 0 164 40" style="display: block; width: 100%;"><path fill-rule="evenodd" clip-rule="evenodd" fill="#E60023" d="M0.16803 19.9998C0.16803 9.21996 8.90691 0.481079 19.6867 0.481079C30.4667 0.481079 39.2056 9.21996 39.2056 19.9998C39.2056 30.7796 30.4667 39.5185 19.6867 39.5185C17.6746 39.5185 15.7338 39.2136 13.9075 38.6481C14.7032 37.3516 15.8928 35.2265 16.3335 33.5312C16.5707 32.6179 17.5495 28.8912 17.5495 28.8912C18.1859 30.1049 20.0453 31.1324 22.0232 31.1324C27.9103 31.1324 32.1517 25.7187 32.1517 18.9918C32.1517 12.5436 26.8898 7.71868 20.1187 7.71868C11.6955 7.71868 7.22195 13.3732 7.22195 19.5304C7.22195 22.3931 8.74611 25.9572 11.1839 27.092C11.5538 27.2641 11.7515 27.1883 11.8367 26.831C11.8649 26.7126 11.9435 26.3934 12.0354 26.02C12.1542 25.5377 12.2952 24.9649 12.3787 24.6174C12.4263 24.4201 12.4029 24.2508 12.2434 24.0576C11.437 23.0796 10.7907 21.2808 10.7907 19.6032C10.7907 15.2982 14.0506 11.1326 19.6043 11.1326C24.3994 11.1326 27.7575 14.4001 27.7575 19.0736C27.7575 24.3537 25.0907 28.0116 21.6216 28.0116C19.7055 28.0116 18.2714 26.4273 18.7312 24.4846C18.9303 23.6451 19.1969 22.7816 19.4562 21.942C19.9134 20.461 20.3477 19.0545 20.3477 17.9857C20.3477 16.4865 19.5434 15.2363 17.8781 15.2363C15.9194 15.2363 14.3463 17.2625 14.3463 19.9766C14.3463 21.7052 14.9301 22.8745 14.9301 22.8745C14.9301 22.8745 12.996 31.0532 12.6413 32.5766C12.2488 34.2625 12.4031 36.6376 12.5736 38.1819C5.31283 35.3379 0.16803 28.2689 0.16803 19.9998ZM67.0642 6.97237C68.7769 6.97237 70.1653 8.36069 70.1653 10.0735C70.1653 11.7861 68.7769 13.1745 67.0642 13.1745C65.3516 13.1745 63.9631 11.7861 63.9631 10.0735C63.9631 8.36069 65.3516 6.97237 67.0642 6.97237ZM70.7288 14.4181H75.7083V16.6382H75.8034C77.0086 14.8937 78.5627 13.9424 80.8147 13.9424C84.3669 13.9424 86.4602 16.4797 86.4602 20.0953V30.6569H81.2904V21.1421C81.2904 19.4293 80.4341 18.2557 78.7531 18.2557C77.0405 18.2557 75.8986 19.683 75.8986 21.6811V30.6569H70.7288V14.4181ZM64.4794 14.4181H69.6493V30.657H64.4794V14.4181ZM122.82 14.1835C122.673 14.1703 122.504 14.1643 122.306 14.1643C120.339 14.1643 119.007 15.0207 117.865 16.9554H117.77V14.4181H112.822V30.6568H117.992V23.3621C117.992 19.9821 119.864 18.4159 122.82 18.6891V14.1835ZM147.44 20.2794C147.685 20.3219 147.936 20.3654 148.19 20.4124C151.045 20.8882 154.407 21.6177 154.407 25.7727C154.407 29.3249 151.267 31.1644 147.017 31.1644C142.445 31.1644 139.515 29.1426 139.152 25.8044H144.079C144.395 27.1428 145.426 27.8025 146.985 27.8025C148.539 27.8025 149.522 27.2316 149.522 26.1849C149.522 24.8785 147.946 24.6148 146.068 24.3007C145.848 24.264 145.625 24.2266 145.399 24.1868C142.577 23.7109 139.563 22.9497 139.563 19.1439C139.563 15.7185 142.735 13.9423 146.573 13.9423C151.172 13.9423 153.646 15.9405 153.899 19.1439H149.142C148.952 17.6849 147.968 17.2409 146.541 17.2409C145.273 17.2409 144.289 17.7165 144.289 18.7316C144.289 19.7324 145.703 19.9778 147.44 20.2794ZM130.84 17.6213C132.521 17.6213 133.726 18.8583 133.916 20.7932H127.51C127.858 18.8583 128.874 17.6213 130.84 17.6213ZM131.125 27.4217C129 27.4217 127.795 26.058 127.478 23.8695H139.15C139.181 20.5711 138.23 17.7482 136.295 15.9722C134.9 14.7036 133.06 13.9423 130.745 13.9423C125.797 13.9423 122.403 17.653 122.403 22.5058C122.403 27.4217 125.702 31.1327 131.062 31.1327C133.123 31.1327 134.773 30.5935 136.137 29.642C137.564 28.6588 138.515 27.2633 138.864 25.8044H133.821C133.377 26.8193 132.489 27.4217 131.125 27.4217ZM163.449 26.8302L163.512 26.8277V30.6598C162.993 30.7611 162.124 30.8472 160.974 30.8472C157.961 30.8472 155.804 29.8641 155.804 26.3752V17.6531H154.218V14.4181H155.804V9.27999H160.847V14.4181H163.512V17.6531H160.847V25.2651C160.847 26.5337 161.545 26.851 162.655 26.851C162.925 26.851 163.217 26.8394 163.448 26.8302H163.448H163.449ZM95.6925 26.835C95.4863 26.843 95.2482 26.851 95.0258 26.851C93.9159 26.851 93.218 26.5337 93.218 25.2651V17.6531H95.6925V14.4181H93.218V9.27998H88.1751V14.4181H86.4935V17.6531H88.1751V26.3752C88.1751 29.8641 90.3317 30.8472 93.3449 30.8472C94.3644 30.8472 95.1626 30.7793 95.6925 30.6934V26.835ZM103.877 17.6213C105.558 17.6213 106.763 18.8584 106.953 20.7931H100.546C100.895 18.8584 101.91 17.6213 103.877 17.6213ZM103.782 13.9424C98.8338 13.9424 95.4402 17.6531 95.4402 22.5058C95.4402 27.4218 98.7386 31.1326 104.099 31.1326C106.16 31.1326 107.81 30.5934 109.173 29.6421C110.601 28.6587 111.552 27.2632 111.901 25.8043H106.858C106.414 26.8192 105.526 27.4218 104.162 27.4218C102.037 27.4218 100.832 26.0579 100.515 23.8696H112.186C112.218 20.571 111.267 17.7483 109.332 15.9722C107.937 14.7035 106.097 13.9424 103.782 13.9424ZM55.5012 18.6365C57.5311 18.6365 58.6729 17.4312 58.6729 15.6232C58.6729 13.8155 57.4993 12.7054 55.5012 12.7054H51.5364V18.6365H55.5012ZM46.3025 7.97965H55.2801C58.0393 7.97965 60.0692 8.74078 61.4647 10.0729C62.9238 11.4366 63.7484 13.3715 63.7484 15.655C63.7484 20.0001 60.7353 23.0768 56.0729 23.0768H51.5364V30.6569H46.3025V7.97965Z"></path></svg>
                    </div>
                </div>
                <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="customer-logo">
                        <svg viewBox="0 0 57 25" class="jsx-563217480" style="display: block; width: 100%;"><path fill="#225AC2" fill-rule="evenodd" d="M23.9 8.7C26.6 2.09 21.56.29 18.3.29H7.44c.9.63.76 1.45.58 1.95L1.7 22.43c-.25.8-1.2 1.63-1.7 1.77h8.78c-.48-.1-1.18-.78-.93-1.72l2.3-7.3S20.7 16.6 23.9 8.7zm-8.53-6.57c1.15 0 4.33.16 2.28 6.17-2.15 6.32-6.92 5.02-6.92 5.02l3.51-11.19h1.13zM30.92 24.2c-.6-.3-1.76-1.38-2.21-1.8-.46.33-3 2.1-5.6 2.14-2.38.04-3.87-.83-4.75-2.2-.5-.8-.67-1.67-.67-2.46 0-.91.22-1.7.38-2.05 1.25-2.86 4.73-3.8 6.03-4.27l.28-.11a7.7 7.7 0 0 1-.02-.67c0-1.25.23-4 2.01-5.67.5-.47 1.51-1.1 2.7-1.32a4.2 4.2 0 0 1 3.75.96c.51.52.8 1.2.8 1.9v.1c-.03.68-.32 1.73-1.6 2.85-1.33 1.17-3.02 1.82-4.22 2.42.33 2.22 1.3 3.74 2.19 5.07.52-.65.78-1.57.78-2.23 0-.72-.59-1.06-.59-1.06h3.06a7.18 7.18 0 0 1-2.21 4.73 16.16 16.16 0 0 0 5.8 3.66h-5.9zm0-15.97c.05-.51-.01-.99-.52-1.16-.65-.23-1.44.18-2.04 1.1-.9 1.4-.95 3.1-.85 4.19.61-.27 3.1-2.2 3.41-4.13zm-3.47 12.86a17.32 17.32 0 0 1-2.75-5.75c-1.2.52-3.42 2.01-3.42 4.05 0 2.38 1.98 2.84 3.17 2.73a8.24 8.24 0 0 0 3-1.03zM48.87 2.16c-4.18 1-6.73 6.23-7.65 9.07-4.24 13.27 3.34 11.38 3.7 11.3l2.7-8.63c.12-.43.22-1.46-1.16-2.04h9.43c-1.17.44-1.83 1.12-2.12 2.16l-2.72 8.64c-.48.24-7.04 3.62-12.98.69-5.55-2.75-4.48-12.99-.1-17.99 7.1-8.12 17.18-4.71 18.57-4.3l-1 3.19c-.27-.19-3.16-2.93-6.67-2.1z"></path></svg>
                    </div>
                </div>

                <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="customer-logo">
                        <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png" class="img-fluid d-block mx-auto" alt="">
                    </div>
                </div>

            </div>





        </div>


    </div>









    <!--content end -->
    <!-- footer -->
    {% include "layouts/footer.html" %}
    <!-- share-wrapper  end -->
</div>
<!-- content-holder end -->
{% endblock %}



{% block testJS %}


<script>

</script>



{% endblock %}