{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}




<section class="p-0 border-top border-bottom bg-light row no-gutters module intro">
    <div class="intro-item is-active-0" data-slide="0" id="intro-item">

        <div class="intro-item-w  ">
            <div class="row no-gutters ">
                <div class="col intro-bg-container" style="">
                    <div class="intro-bg"
                        style="background-image: url(https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/slide-mission.jpg) ; ">
                    </div>
                </div>
                <div class="col intro-content-container">
                    <div class="intro-content ">
                        <div>
                            <h2 class="display-3 intro-title">
                                Stories behind
                                Les Vergers
                                du Mékong
                            </h2>


                            <div class="intro-subtitle">

                                Since the creation of Les Vergers Du Mékong, Jean-Luc VOISIN, our founder, has made a
                                clear
                                choice for long-term sustainable development by promoting sustainable farming and local
                                sourcing
                                proving that this is both achievable and profitable in today’s consumer driven Asia. 

                            </div>
                        </div>



                        <div>
                            <a href="" class="intro-btn">Read more</a>
                        </div>

                    </div>
                </div>

                <div class="col-auto intro-ti-container">
                    <div class="intro-tt">
                        <span>
                            Our history
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="intro-item-w  ">
            <div class="row no-gutters ">
                <div class="col intro-bg-container">
                    <div class="intro-bg"
                        style="background-image: url(https://lvdm.vergersmekong.com/wp-content/uploads/2019/08/new.jpg) ;">
                    </div>
                </div>
                <div class="col intro-content-container">
                    <div class="intro-content  ">
                        <div>

                            <h2 class="display-3 intro-title">
                                Paving the <br>
                                way for a sustainable food and drink environment
                            </h2>

                            <div class="intro-subtitle">

                                As a responsible company, we understand that we have a role to play in leading the food
                                and
                                drink industry towards greater sustainability.

                            </div>
                        </div>

                        <div>
                            <a href="" class="intro-btn">Read more</a>
                        </div>

                    </div>
                </div>

                <div class="col-auto intro-ti-container">
                    <div class="intro-tt">
                        <span>
                            Our history
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro-item-w  ">
            <div class="row no-gutters ">
                <div class="col intro-bg-container">
                    <div class="intro-bg"
                        style="background-image: url(https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/slide-impact.jpg) ;">
                    </div>
                </div>
                <div class="col intro-content-container">
                    <div class="intro-content ">

                        <div>
                            <h2 class="display-3 intro-title">
                                Environment & Social Sustainability
                            </h2>

                            <div class="intro-subtitle">

                                The integration of environmental, social and economic considerations in the day-to-day
                                decisions of a business, often referred to as integrating People, Planet and Profit -
                                has
                                long been a key priority for Les Vergers Du Mékong.

                            </div>
                        </div>

                        <div>
                            <a href="" class="intro-btn">Read more</a>
                        </div>

                    </div>
                </div>

                <div class="col-auto intro-ti-container">
                    <div class="intro-tt">
                        <span>
                            Our history
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






{% endblock %}