{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<div class="content-holder" data-pagetitle="Home Half Slider">
 


    <!-- nav-holder end -->
    <!--Content -->
    <div class="content full-height hidden-item home-half-slider">
        <div class="hero-canvas-wrap">
            <div class="dots gallery__dots" data-dots=""></div>
        </div>
        <!-- option-panel-->
        <div class="option-panel bot-element">
            <!-- <a href="about.html" class="ajax start-btn color-bg"> Start explore <i
                    class="fal fa-long-arrow-right"></i></a> -->
            <div class="swiper-counter">
                <div id="current">01</div>
                <div id="total"></div>
            </div>
            <div class="slide-progress-container">
                <div class="slide-progress-warp">
                    <div class="slide-progress bg-dark"></div>
                </div>
            </div>
        </div>
        <!--option-panel end -->
        <!-- hero-slider-wrap -->
        <div class="hero-slider-wrap fl-wrap full-height">
            <div class="hero-slider fs-gallery-wrap fl-wrap full-height">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- swiper-slide-->
                        <div class="swiper-slide">
                            <div class="half-hero-wrap container">

                                <div class="half-hero-con">
                                    <div class="rotate_text con1">OUR HISTORY</div>

                                    <div class="con2 ">
                                        <div class="position-relative d-inline-block">
                                            <div class="pr-bg"></div>

                                            <h1>Stories <br> behind <br>
                                                Les Vergers <br>
                                                du Mékong</h1>
                                            <h4 class="h5">Since the creation of Les Vergers Du Mékong, Jean-Luc VOISIN,
                                                our
                                                founder,
                                                has
                                                made
                                                a clear choice for long-term sustainable development by promoting
                                                sustainable
                                                farming and local sourcing proving that this is both achievable and
                                                profitable
                                                in
                                                today’s consumer driven Asia.</h4>
                                            <div class="clearfix"></div>
                                            <a href="our-history.html" class="half-hero-wrap_link ajax">Read more<i
                                                    class="fal fa-long-arrow-right"></i></a>
                                        </div>

                                    </div>


                                </div>


                            </div>
                        </div>
                        <!-- swiper-slide end-->
                        <!-- swiper-slide-->
                        <div class="swiper-slide">

                            <div class="half-hero-wrap container">

                                <div class="half-hero-con">
                                    <div class="rotate_text con1">OUR MISSION</div>

                                    <div class="con2 ">
                                        <div class="position-relative d-inline-block">
                                            <div class="pr-bg"></div>

                                            <h1> Paving the <br>
                                                way for a sustainable
                                                <br>food and drink
                                                <br>environment

                                            </h1>
                                            <h4 class="h5">As a responsible company, we understand that we have a role
                                                to play in leading the
                                                food and drink industry towards greater sustainability.</h4>
                                            <div class="clearfix"></div>
                                            <a href="our-mission.html" class="half-hero-wrap_link ajax">Read more<i
                                                    class="fal fa-long-arrow-right"></i></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- swiper-slide end-->
                        <!-- swiper-slide-->
                        <div class="swiper-slide">

                            <div class="half-hero-wrap container">

                                <div class="half-hero-con">
                                    <div class="rotate_text con1">OUR IMPACT</div>

                                    <div class="con2 ">
                                        <div class="position-relative d-inline-block">
                                            <div class="pr-bg"></div>

                                            <h1> Environment & Social <br> Sustainability

                                            </h1>
                                            <h4 class="h5">The integration of environmental, social and economic considerations in the
                                                    day-to-day decisions of a business, often referred to as integrating People, Planet
                                                    and Profit - has long been a key priority for Les Vergers Du Mékong.</h4>
                                            <div class="clearfix"></div>
                                            <a href="our-mission.html" class="half-hero-wrap_link ajax">Read more<i
                                                    class="fal fa-long-arrow-right"></i></a>
                                        </div>

                                    </div>
                                </div>
                            </div>

               
                        </div>
                        <!-- swiper-slide end-->

                    </div>
                </div>
            </div>
            <div class="hero-slider_control-wrap bot-element">
                <div class="hero-slider_control hero-slider-button-next"><span>Next<i
                            class="fal fa-angle-right"></i></span> </div>
                <div class="hero-slider_control hero-slider-button-prev"><span><i class="fal fa-angle-left"></i>Prev
                    </span></div>
            </div>
            <div class="hero-slider-wrap_pagination hlaf-slider-pag"></div>
        </div>
        <!-- hero-slider-wrap  end-->
        <!-- hero-slider-img-->
        <div class="hero-slider-img hero-slider-wrap_halftwo">
            <!-- <div class="sec-lines"></div> -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- swiper-slide-->
                    <div class="swiper-slide">
                            <div class="pr-bg"></div>

                        <div class="bg"
                            data-bg="https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/slide-mission.jpg"></div>
                    </div>
                    <!-- swiper-slide end-->
                    <!-- swiper-slide-->
                    <div class="swiper-slide">
                            <div class="pr-bg"></div>
                        <div class="bg" data-bg="https://lvdm.vergersmekong.com/wp-content/uploads/2019/08/new.jpg">
                        </div>
                    </div>
                    <!-- swiper-slide end-->
                    <!-- swiper-slide-->
                    <div class="swiper-slide">
                            <div class="pr-bg"></div>
                        <div class="bg"
                            data-bg="https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/slide-impact.jpg"></div>
                    </div>
                    <!-- swiper-slide end-->

                </div>
            </div>
        </div>
        <!-- hero-slider-img  end-->
    </div>
    <!-- content  end -->
 
</div>
{% endblock %}