{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<!-- content-holder  -->
<div class="content-holder" data-pagetitle="Portfolio Single 4">

    <!--content-->
    <div class="content">

        <!-- Top Menu -->
        <nav class="blog-panel">
            <div class="blog-panel-content">

                <span class="title-name">We visit our acorela farms in Mekong Delta</span>

            </div>
            <div class="progress "></div>
        </nav>

        <!-- HEADER -->
        <section class="blog-header p-0">
            <div class="blog-header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-10 offset-md-1">
                            <div class=" text-center blog-header-ani">

                                <h1 class="blog-header-title ">We visit our acorela farms in Mekong Delta</h1>


                                <div class="entry-meta align-items-center">
                                    <span class="readingTime" title="">


                                        324 view</span>
                                    <span class="middotDivider"></span>

                                    <span>24/10/2019</span>
                                    <span class="middotDivider"></span>
                                    <a href="news-cat.html">Awards & Achievements</a>
                                </div>

                                <div class="blog-header-back">
                                    <a href="news.html">

                                     <i class="fas fa-angle-left"></i>   Back to News
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="blog-header-background"
                style="background-image:url(https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/post-4.jpg)">
            </div>
        </section>



        <main id="content" class="blog-bg">
            <div class="container">

                <article class="entry-wraper article-content mb-5" id="lightgallery-post">
                    <div class="entry-left-col">
                        <div class="social-sticky">
                            <a href="#">

                                <i class="fab fa-facebook-f"></i>

                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>

                            </a>

                        </div>
                    </div>


                    <div class="excerpt mb-4">
                        <p>Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard
                            roadrunner flapped lynx far that and jeepers giggled far and far bald that roadrunner python
                            inside held shrewdly the manatee.
                        </p>
                    </div>

                    <hr class="section-divider">


                    <div class="entry-main-content dropcap">

                        <p>
                            Gosh jaguar ostrich quail one excited dear hello and bound[1] and the and bland moral
                            misheard roadrunner flapped lynx far that and jeepers giggled far and far bald that
                            roadrunner python inside held shrewdly the manatee.
                        </p>

                        <p>Thanks sniffed in hello after in foolhardy and some far purposefully much one at the much
                            conjointly leapt skimpily that quail sheep some goodness nightingale the instead exited
                            expedient up far ouch mellifluous altruistic and and lighted more instead much when ferret
                            but the.</p>


                        <figure class="image">
                            <img src="https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/post-3.jpg"
                                alt="Saturn V carrying Apollo 11">

                        </figure>


                        <h3>
                            How we contribute to ensure sustainable farming in rural areas of Vietnam
                        </h3>

                        <p>Fretful human far recklessly while caterpillar well a well blubbered added one a some far
                            whispered rampantly whispered while irksome far clung irrespective wailed more rosily and
                            where saluted while black dear so yikes as considering recast to some crass until cow much
                            less and rakishly overdrew consistent for by responsible oh one hypocritical less bastard
                            hey oversaw zebra browbeat a well.
                        </p>

                        <a id="" class="post-cta" href="#">
                            <h4>
                                <span class="post-cta-text">Sustainable farming in our lime farms</span>
                            </h4>
                        </a>


                        <p>Furrowed this in the upset <a href="#">some across</a><sup><a href="#">[3]</a></sup> tiger oh
                            loaded house gosh whispered <a href="#">faltering alas</a><sup><a href="#">[4]</a></sup>
                            ouch cuckoo coward in scratched undid together bit fumblingly so besides salamander heron
                            during the jeepers hello fitting jauntily much smoothly globefish darn blessedly far so
                            along bluebird leopard and.</p>


                        <blockquote>
                            <p>Integer eu faucibus <a href="#">dolor</a><sup><a href="#">[5]</a></sup>. Ut venenatis
                                tincidunt diam elementum imperdiet. Etiam accumsan semper nisl eu congue. Sed aliquam
                                magna erat, ac eleifend lacus rhoncus in.</p>
                        </blockquote>


                        <figure class="image">
                            <img src="https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/post-5.jpg"
                                alt="Saturn V carrying Apollo 11">
                            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua
                            </figcaption>
                        </figure>


                        <h1 class="text-center text-primary">Blog Typography</h1>

                        <p><strong>Text bold</strong></p>


                        <h1>Heading One <code>&lt;h1&gt;</code> </h1>
                        <h2>Header two <code>&lt;h2&gt;</code></h2>
                        <h3>Header three <code>&lt;h3&gt;</code></h3>
                        <h4>Header four <code>&lt;h4&gt;</code></h4>
                        <h5>Header five <code>&lt;h5&gt;</code></h5>
                        <h6>Header six <code>&lt;h6&gt;</code></h6>
                        <hr>
                        <h2>Blockquotes</h2>
                        <p>Single line blockquote:</p>
                        <blockquote>
                            <p>Stay hungry. Stay foolish.</p>
                        </blockquote>
                        <p>Multi line blockquote with a cite reference:</p>
                        <blockquote cite="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote">
                            <p>The <strong>HTML <code>&lt;blockquote&gt;</code> Element</strong> (or <em>HTML Block
                                    Quotation
                                    Element</em>) indicates that the enclosed text is an extended quotation. Usually,
                                this is
                                rendered visually by indentation (see <a
                                    href="https://developer.mozilla.org/en-US/docs/HTML/Element/blockquote#Notes">Notes</a>
                                for
                                how to change it). A URL for the source of the quotation may be given using the
                                <strong>cite</strong> attribute, while a text representation of the source can be given
                                using
                                the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/cite"
                                    title="The HTML Citation Element <cite> represents a reference to a creative work. It must include the title of a work or a URL reference, which may be in an abbreviated form according to the conventions used for the addition of citation metadata."><code>&lt;cite&gt;</code></a>
                                element.</p>
                        </blockquote>



                        <p><cite>multiple contributors</cite> – MDN HTML element reference – blockquote</p>
                        <h2>Tables</h2>

                        <table>
                            <thead>
                                <tr>
                                    <th>Employee</th>
                                    <th>Salary</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><a href="http://example.org/">John Doe</a></th>
                                    <td>$1</td>
                                    <td>Because that’s all Steve Jobs needed for a salary.</td>
                                </tr>
                                <tr>
                                    <th><a href="http://example.org/">Jane Doe</a></th>
                                    <td>$100K</td>
                                    <td>For all the blogging she does.</td>
                                </tr>
                                <tr>
                                    <th><a href="http://example.org/">Fred Bloggs</a></th>
                                    <td>$100M</td>
                                    <td>Pictures are worth a thousand words, right? So Jane x 1,000.</td>
                                </tr>
                                <tr>
                                    <th><a href="http://example.org/">Jane Bloggs</a></th>
                                    <td>$100B</td>
                                    <td>With hair like that?! Enough said…</td>
                                </tr>
                            </tbody>
                        </table>

                        <h2>Unordered Lists (Nested)</h2>
                        <ul>
                            <li>List item one
                                <ul>
                                    <li>List item one
                                        <ul>
                                            <li>List item one</li>
                                            <li>List item two</li>
                                            <li>List item three</li>
                                            <li>List item four</li>
                                        </ul>
                                    </li>
                                    <li>List item two</li>
                                    <li>List item three</li>
                                    <li>List item four</li>
                                </ul>
                            </li>
                            <li>List item two</li>
                            <li>List item three</li>
                            <li>List item four</li>
                        </ul>
                        <h2>Ordered List (Nested)</h2>
                        <ol start="8">
                            <li>List item one -start at 8
                                <ol>
                                    <li>List item one
                                        <ol reversed="reversed">
                                            <li>List item one -reversed attribute</li>
                                            <li>List item two</li>
                                            <li>List item three</li>
                                            <li>List item four</li>
                                        </ol>
                                    </li>
                                    <li>List item two</li>
                                    <li>List item three</li>
                                    <li>List item four</li>
                                </ol>
                            </li>
                            <li>List item two</li>
                            <li>List item three</li>
                            <li>List item four</li>
                        </ol>

                        <h2>HTML Tags</h2>

                        <p>These supported tags come from the WordPress.com code <a title="Code"
                                href="https://en.support.wordpress.com/code/">FAQ</a>.</p>


                        <p><strong>Address Tag</strong></p>


                        <address>1 Infinite Loop<br>
                            Cupertino, CA 95014<br>
                            United States</address>


                        <p><strong>Anchor Tag (aka. Link)</strong></p>
                        <p>This is an example of a <a title="WordPress Foundation"
                                href="https://wordpressfoundation.org/">link</a>.</p>

                        <p><strong>Abbreviation Tag</strong></p>


                        <p>The abbreviation <abbr title="Seriously">srsly</abbr> stands for “seriously”.</p>

                        <p><strong>Acronym Tag (<em>deprecated in HTML5</em>)</strong></p>
                        <p>The acronym <acronym title="For The Win">ftw</acronym> stands for “for the win”.</p>
                        <p><strong>Big Tag</strong> (<em>deprecated in HTML5</em>)</p>
                        <p>These tests are a <big>big</big> deal, but this tag is no longer supported in HTML5.</p>
                        <p><strong>Cite Tag</strong></p>
                        <p>“Code is poetry.” —<cite>Automattic</cite></p>


                        <p><strong>Delete Tag</strong></p>
                        <p>This tag will let you <del cite="deleted it">strike out text</del>, but this tag is
                            <em>recommended</em> supported in HTML5 (use the <code>&lt;s&gt;</code> instead).</p>
                        <p><strong>Emphasize Tag</strong></p>
                        <p>The emphasize tag should <em>italicize</em> <i>text</i>.</p>
                        <p><strong>Horizontal Rule Tag</strong></p>
                        <hr>
                        <p>This sentence is following a <code>&lt;hr /&gt;</code> tag.</p>
                        <p><strong>Insert Tag</strong></p>
                        <p>This tag should denote <ins cite="inserted it">inserted</ins> text.</p>



                        <p><strong>Quote Tag</strong> for short, inline quotes</p>
                        <p><q>Developers, developers, developers...</q> --Steve Ballmer</p>


                        <p><strong>Strike Tag</strong> (<em>deprecated in HTML5</em>) and <strong>S Tag</strong></p>
                        <p>This tag shows <strike>strike-through</strike> <s>text</s>.</p>
                        <p><strong>Small Tag</strong></p>
                        <p>This tag shows <small>smaller<small> text.</small></small></p>
                        <p><strong>Strong Tag</strong></p>
                        <p>This tag shows <strong>bold<strong> text.</strong></strong></p>
                        <p><strong>Subscript Tag</strong></p>
                        <p>Getting our science styling on with H<sub>2</sub>O, which should push the "2" down.</p>
                        <p><strong>Superscript Tag</strong></p>
                        <p>Still sticking with science and Albert Einstein's E = MC<sup>2</sup>, which should lift the 2
                            up.</p>
                        <p><strong>Teletype Tag </strong>(<em>obsolete in HTML5</em>)</p>
                        <p>This rarely used tag emulates <tt>teletype text</tt>, which is usually styled like the
                            <code>&lt;code&gt;</code> tag.</p>
                        <p><strong>Underline Tag</strong> <em>deprecated in HTML 4, re-introduced in HTML5 with other
                                semantics</em></p>
                        <p>This tag shows <u>underlined text</u>.</p>
                        <p><strong>Variable Tag</strong></p>
                        <p>This allows you to denote <var>variables</var>.</p>

                    </div>

                    <div class="entry-bottom">
                        <div class="tags-wrap heading">

                            <img src="images/blog/blog-tag-icon.png" width="20" class="mr-2" alt="">

                            <span class="tags">
                                <a href="#" rel="tag">Vergersmekong</a>
                                <a href="#" rel="tag">Fruits</a>
                                <a href="#" rel="tag">Best Juice</a>
                            </span>
                        </div>
                    </div>

                </article>
                <!--entry-content-->

                <!--Begin post related-->
                <div class="related-posts container">
                    <hr>
                    <h3 class="text-left font-weight-bold mb-4 mt-4 py-3 h3 text-center">Same categories</h3>


                    <div class="content-widget">
                        <div class="container container-1200">
                            <div class="row">


                                {%for item in blogs %}
                                <article class="col-md-4 blog-feature2" data-aos="fade-up" data-aos-delay="100">
                                    <div class=" ">
                                        <figure class="blog-feature2-img">
                                            <a href="blog-single.html">
                                                <div class="embed-responsive embed-responsive-blog rounded-img-blog">
                                                    <img src="{{item.image}}" class="embed-responsive-img" alt="">
                                                </div>
                                            </a>
                                        </figure>
                                        <div class="entry-content ">
                                            <div class="capsSubtle mb-2">{{item.cat}}</div>
                                            <h5 class="entry-title h4  mb-2"><a href="blog-single.html">
                                                    {{item.title}} </a></h5>
                                            <div class="entry-excerpt">
                                                {{item.desc}}
                                            </div>

                                            <a href="new-detail.html" class=" mt-2 half-hero-wrap_link ajax">Read more<i
                                                    class="fal fa-long-arrow-right"></i></a>

                                        </div>
                                    </div>
                                </article>
                                {% endfor %}
                            </div>
                            <!-- <div class="divider-2"></div> -->
                        </div>
                    </div>
                </div>
                <!--End post related-->


            </div>
            <!--container-->
        </main>






    </div>









    <!--content end -->
    <!-- footer -->
    {% include "layouts/footer.html" %}
    <!-- share-wrapper  end -->
</div>
<!-- content-holder end -->
{% endblock %}



{% block testJS %}


<script>
 
</script>



{% endblock %}