{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<!-- content-holder  -->
<div class="content-holder" data-pagetitle="Portfolio Single 4">

    <!--content-->
    <div class="content">




        <!--section  -->
        <!-- <nav class="stick text-center blogs-menu ">
            <div class="container">
                <div class="menu-primary">
                    <ul>
                        <li class="is-active"><a href="news.html">All</a></li>

                        <li class=""><a href="news-cat.html">Activities & Initiatives</a></li>
                        <li><a href="news-cat.html">Awards & Achievements</a></li>
                        <li><a href="news-cat.html">Products</a></li>
                        <li><a href="news-cat.html">Uncategorized</a></li>

                    </ul>
                </div>
            </div>
        </nav>
 -->

        <section class=" text-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="position-sticky pr-sticky">
                            <div class="h1 font-weight-bold lh-height mb-5 aos-init aos-animate" data-aos="fade-up"
                                data-aos-duration="1000" data-aos-delay="100">
                                Our latest
                                news
                            </div>

                            <ul class="sidebar-menu">
                                <li class="tt">
                                    BROWSE BY CATEGORIES
                                </li>
                                <li class="item is-active">
                                    <a href="">Activities & Initiatives</a>
                                </li>

                                <li class="item ">
                                    <a href="">Awards & Achievements</a>
                                </li>

                                <li class="item ">
                                    <a href="">Products</a>
                                </li>

                                <li class="item ">
                                    <a href="">Uncategorized</a>
                                </li>
                            </ul>

                            <ul class="sidebar-menu mt-5">
                                <li class="tt">
                                    ARCHIVE
                                </li>
                                <li class="item is-active border-0 p-0">
                                    <div class="custom-form float-none" style="height: 100px;"> <select name="subject" id="subject"
                                            data-placeholder="Country / region" class="chosen-select sel-dec">
                                            <option value="">Month / Year</option>
                                            <option value="Afghanistan">Afghanistan</option>
                                            <option value="Albania">Albania</option>
                                            <option value="Algeria">Algeria</option>

                                        </select>
                                    </div>

                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="blog-feature" data-aos="fade-up" data-aos-delay="100">
                            <div class=" bgcover rounded-img-blog blog-feature-image"
                                style="background-image:url(https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/post-5.jpg);">
                            </div>

                            <div class="entry-content mt-4">
                                <div class="capsSubtle mb-2"><a href="new-cat.html" class="ajax">
                                        Awards & Achievements
                                    </a></div>
                                <div class="row no-gutter">
                                    <div class="col-lg-6">
                                        <h2 class="entry-title mb-3 h2 "><a class="ajax" href="new-detail.html">How we
                                                contribute to ensure
                                                sustainable farming in rural areas
                                                of Vietnam</a></h2>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="entry-excerpt ml-0 ml-lg-3">
                                            As a responsible company, we understand that
                                            we have a role to play in leading the food andole to play in leading the
                                            food and
                                            drink industry towards greater sustainability...
                                            drink industry towards greater sustainability...
                                        </div>
                                        <div class=" ml-0 ml-lg-3">
                                            <a href="new-detail.html" class=" mt-2 half-hero-wrap_link ajax">Read more<i
                                                    class="fal fa-long-arrow-right"></i></a></div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="row">

                            {%for item in blogs %}
                            <article class="col-md-6 blog-feature2" data-aos="fade-up" data-aos-delay="100">
                                <div class=" ">
                                    <figure class="blog-feature2-img">
                                        {% if loop.index == 1 %}
                                        <a class="ajax" href="new-detail2-video.html">
                                        {% else %}
                                        <a class="ajax" href="new-detail2.html">
                                            {% endif %}
                                            <div class="embed-responsive embed-responsive-blog rounded-img-blog">
                                                {% if loop.index == 1 %}

                                                <div class="new-video-icon" ><i class="fas fa-play"></i>
                                                </div>

                                                {% endif %}
                                                <img src="{{item.image}}" class="embed-responsive-img" alt="">
                                            </div>
                                        </a>
                                    </figure>
                                    <div class="entry-content ">
                                        <div class="capsSubtle mb-2"><a href="news-cat.html" class="ajax">
                                                {{item.cat}}</a>

                                        </div>
                                        <h5 class="entry-title h4  mb-2">
                                            {% if loop.index == 1 %}
                                            <a class="ajax" href="new-detail2-video.html">
                                            {% else %}
                                            <a class="ajax" href="new-detail2.html">
                                                {% endif %}

                                                {{item.title}} </a></h5>
                                        <div class="entry-excerpt">
                                            {{item.desc}}
                                        </div>

                                        {% if loop.index == 1 %}
                                        <a href="new-detail2-video.html" class=" mt-2 half-hero-wrap_link ajax">
                                        {% else %}
                                        <a href="new-detail2.html" class=" mt-2 half-hero-wrap_link ajax">
                                            {% endif %}

                                       Read more<i
                                                class="fal fa-long-arrow-right"></i></a>

                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        </div>

                    </div>
                </div>

            </div>
        </section>



    </div>









    <!--content end -->
    <!-- footer -->
    {% include "layouts/footer.html" %}
    <!-- share-wrapper  end -->
</div>
<!-- content-holder end -->
{% endblock %}