{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<!-- content-holder  -->
<div class="content-holder" data-pagetitle="Portfolio Single 4">

    <!--content-->
    <div class="content">
        <!--section-->
        <section class="hero-section hero-section-heading " data-scrollax-parent="true">

            <div class="hero-bg">
                <div class="bg par-elem" data-bg="https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/post-5.jpg"
                    data-scrollax="properties: { translateY: '30%' }"></div>
            </div>

            <div class="section-heading-black">

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 ">
                            <div class="section-title fl-wrap mb-0 first-tile_load ">

                                <h2 class="text-center mb-0 pb-0">News & Events</h2>
                                <!-- <div class="text-center h4">
                                        We share our best ideas in our blog
                                </div> -->
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        </section>
        <!--section end-->
        <!--section  -->
        <nav class="stick text-center blogs-menu ">
            <div class="container">
                <div class="menu-primary">
                    <ul>
                        <li class="is-active"><a href="news.html">All</a></li>

                        <li class=""><a href="news-cat.html">Activities & Initiatives</a></li>
                        <li><a href="news-cat.html">Awards & Achievements</a></li>
                        <li><a href="news-cat.html">Products</a></li>
                        <li><a href="news-cat.html">Uncategorized</a></li>

                    </ul>
                </div>
            </div>
        </nav>

        <section class="text-left pb-4">

            <div class="blog-feature" data-aos="fade-up" data-aos-delay="100">
                <div class="container container-1200">
                    <div class="row justify-content-between post-has-bg ">

                        <div class="col-lg-4 col-md-6">
                            <div class="pt-2 pb-0 pr-md-3 pl-0 align-self-center">
                                <div class="capsSubtle mb-2"><a href="new-cat.html" class="ajax">
                                        Awards & Achievements
                                    </a></div>
                                <h2 class="entry-title mb-3 h2 "><a class="ajax" href="new-detail.html">9
                                        Sustainable farming in our lime farms</a></h2>
                                <div class="entry-excerpt">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.
                                </div>
                                <a href="new-detail.html" class=" mt-2 half-hero-wrap_link ajax">Read more<i
                                        class="fal fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6  bgcover rounded-img-blog blog-feature-image"
                            style="background-image:url(https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/post-5.jpg);">
                        </div>

                    </div>
                </div>
            </div>
            <div class="content-widget">
                <div class="container container-1200">
                    <div class="row">


                        {%for item in blogs %}
                        <article class="col-md-4 blog-feature2" data-aos="fade-up" data-aos-delay="100">
                            <div class=" ">
                                <figure class="blog-feature2-img">
                                    <a class="ajax" href="new-detail.html">
                                        <div class="embed-responsive embed-responsive-blog rounded-img-blog">
                                            <img src="{{item.image}}" class="embed-responsive-img" alt="">
                                        </div>
                                    </a>
                                </figure>
                                <div class="entry-content ">
                                    <div class="capsSubtle mb-2"><a href="news-cat.html" class="ajax"> {{item.cat}}</a>

                                    </div>
                                    <h5 class="entry-title h4  mb-2"><a class="ajax" href="new-detail.html">
                                            {{item.title}} </a></h5>
                                    <div class="entry-excerpt">
                                        {{item.desc}}
                                    </div>

                                    <a href="new-detail.html" class=" mt-2 half-hero-wrap_link ajax">Read more<i
                                            class="fal fa-long-arrow-right"></i></a>

                                </div>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                    <!-- <div class="divider-2"></div> -->
                </div>
            </div>
        </section>

    </div>









    <!--content end -->
    <!-- footer -->
    {% include "layouts/footer.html" %}
    <!-- share-wrapper  end -->
</div>
<!-- content-holder end -->
{% endblock %}