{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<!-- content-holder  -->
<div class="content-holder" data-pagetitle="Portfolio Single 4">

    <!--content-->
    <div class="content">
        <!--section-->
        <section class="hero-section " data-scrollax-parent="true">
            <div class="hero-canvas-wrap fs-canvas first-tile_load">
                <div class="dots gallery__dots" data-dots=""></div>
            </div>

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 col-12 order-md-1 order-2 ">
                        <div class="section-title fl-wrap first-tile_load">

                            <div class="rotate_text ">OUR IMPACT</div>
                            <h3 class="mb-4 h3">Our impact on Health</h3>

                            <h2>From Farm to Fork</h2>
                            <p class="h5">Jean-Luc believes sustainable farming practices are imperative to ensure the health of farming for generations to come and to sustain a thriving relationship among farms, food, people, and the earth.</p>
                      
                        </div>
                    </div>
                    <div class="col-md-8 col-12 order-md-2 order-1">
                        <div class="embed-responsive embed-responsive-4by3">
                            <div class="hero-bg">
                                <div class="bg par-elem"
                                    data-bg="https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/from-farm-to-fork.jpg"
                                    data-scrollax="properties: { translateY: '20%' }"></div>
                                <div class="pr-bg"></div>

                            </div>
                        </div>

                    </div>
                </div>



            </div>

        </section>
        <!--section end-->
        <!--section  -->
   
        <section class=" text-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="position-sticky pr-sticky">
                            <div class="pr-bg pr-bg-white"></div>

                            <div class="h2-teal ">
                                    "A responsible growth is a shared success"
                            </div>

                            <div class=" text-secondary font-weight-bold h4">Jean-Luc Voisin</div>

                        </div>
                    </div>


                    <div class="col-md-8">
                        <p class="h5 lh-height">
                            Jean-Luc VOISIN launched the brands LE FRUIT and FOLLIET in 2000 with a deep commitment to supporting a traditional farming system that is both environmentally friendly and economically viable. He envisioned a system that would help family farms thrive and support a revitalization of the surrounding rural communities in the Mekong Delta.
                        </p>
                        <p class="h5 lh-height">
                            Today, we have collaborative relationships with small-scale family farms that supply LE FRUIT with premium and sustainable grown fruits. Our collaborative model has allowed us to offer stable fruit pricing and less volatility than has been seen in the broader fruit market.
                        </p>

                        <p class="h5 lh-height">
                            We hope our way of doing business encourages processors and family farmers in other regions to replicate this model.
                        </p>

                    </div>
                </div>

            </div>
        </section>

    </div>
    <!--content end -->
    <!-- footer -->

    <!-- share-wrapper  end -->
</div>
<!-- content-holder end -->
{% endblock %}