{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<!-- content-holder  -->
<div class="content-holder" data-pagetitle="Portfolio Single 4">

    <!--content-->
    <div class="content">
        <!--section-->
        <section class="hero-section " data-scrollax-parent="true">
            <div class="hero-canvas-wrap fs-canvas first-tile_load">
                <div class="dots gallery__dots" data-dots=""></div>
            </div>

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 col-12 order-md-1 order-2 ">
                        <div class="section-title fl-wrap first-tile_load">

                            <div class="rotate_text ">ABOUT US</div>
                            <h3 class="mb-4 h3">Our History</h3>

                            <h2>Stories behind <br>
                                Les Vergers du Mékong</h2>
                            <p class="h5"> Since the creation of Les Vergers Du Mékong, Jean-Luc VOISIN, our founder,
                                has made a clear choice for long-term sustainable development by promoting sustainable
                                farming and local sourcing proving that this is both achievable and profitable in
                                today’s consumer driven Asia. </p>
                            <div class="section-title_category"><a href="#">OUR BRANDS</a> <a href="#">Design</a> </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-12 order-md-2 order-1">
                        <div class="embed-responsive embed-responsive-4by3">
                            <div class="hero-bg">
                                <div class="bg par-elem"
                                    data-bg="https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/slide-mission.jpg"
                                    data-scrollax="properties: { translateY: '30%' }"></div>
                                <div class="pr-bg"></div>

                            </div>
                        </div>

                    </div>
                </div>



            </div>

        </section>
        <!--section end-->
        <!--section  -->
        <div class="container">
            <div class="line-dash"></div>
        </div>
        <section class=" text-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="position-sticky pr-sticky">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="h2 font-weight-bold lh-height mb-3 text-teal ">
                                2000
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <p class="h5 lh-height">

                            At 47 years old, after 25 years traveling across all continents, Jean-Luc VOISIN decided to
                            hang his hat somewhere. Taking into consideration the natural wealth, business potential but
                            also the living conditions, children education (his younger child was only 10 years old),
                            the security, etc. the country that offered the most potential for his business and for his
                            family was... Vietnam! It was a real adventure, back in 2000 to start a processing setup in
                            the Mekong Delta, but Jean-Luc was up for the challenge.
                        </p>
                        <p class="h5 lh-height">
                            Jean-Luc has been a social and environmental social leader and he created a unique business
                            model from the early stages from the farm to the fork: the company integrates a strong local
                            supply chain, the processing of natural products and the direct distribution in Vietnam and
                            Cambodia.
                        </p>
                    </div>
                </div>

            </div>
        </section>

        <div class="container">
            <div class="line-dash"></div>
        </div>
        <section class=" text-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="position-sticky pr-sticky">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="h2 font-weight-bold lh-height mb-3 text-teal ">
                                2001
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <p class="h5 lh-height">
                            Dong met Jean-Luc in the Vietnamese Highlands when he was a mountain guide based out the
                            remote village of Binh Tan in Binh Dinh province. Both keen hikers they found their a
                            picture-perfect paradise of rugged mountains and rolling mists in those mountaintops. Dong
                            LE VAN joined Les Vergers Du Mékong first as a Sales Person IN 2002. He quickly moved up as
                            Area Manager in charge of the HORECA market, as Sales Director in 2009 and today as Deputy
                            Managing Director.
                        </p>

                    </div>
                </div>

            </div>
        </section>
        <div class="container">
            <div class="line-dash"></div>
        </div>
        <section class=" text-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="position-sticky pr-sticky">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="h2 font-weight-bold lh-height mb-3 text-teal ">
                                2008
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <p class="h5 lh-height">

                            The family story came true when Sophie BOYADJIAN - Jean-Luc’s daughter and already
                            shareholder- joined Les Vergers Du Mékong after graduating from a French Business School
                            (ESSEC) and seven years’ experience in the banking sector in Europe. Sophie was involved
                            naturally in Marketing and Export and today as a member of the Board, she overlook the CSR
                            and Sustainability of the company.
                        </p>

                    </div>
                </div>

            </div>
        </section>

        <div class="container">
            <div class="line-dash"></div>
        </div>
        <section class=" text-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="position-sticky pr-sticky">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="h2 font-weight-bold lh-height mb-3 text-teal ">
                                2016
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <p class="h5 lh-height">


                            Jean-Luc decided to start their first sustainable pilot farm to look for new agriculture
                            alternatives using permaculture, regenerative and organic agriculture as well as traditional
                            knowledge to find ways to adapt the agriculture to the climate change in the region.
                        </p>

                    </div>
                </div>

            </div>
        </section>

        <div class="container">
            <div class="line-dash"></div>
        </div>
        <section class=" text-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="position-sticky pr-sticky">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="h2 font-weight-bold lh-height mb-3 text-teal ">
                                Today
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8">

                        <div class="mb-4 position-relative">
                                <div class="pr-bg pr-bg-white"></div>
                            <img data-src="https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/timeline-1024x540.jpg"
                                class="lazyload respimg" alt="">
                        </div>
                        <p class="h5 lh-height">
                            The company became a flagship for gourmet & healthy food and drink sector in Vietnam and
                            Cambodia, taking the best of both worlds: the French culinary savoir-faire and local natural
                            resources.
                        </p>

                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--content end -->
    <!-- footer -->

    <!-- share-wrapper  end -->
</div>





<!-- content-holder end -->
{% endblock %}