{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<!-- content-holder  -->
<div class="content-holder" data-pagetitle="Portfolio Single 4">

    <!--content-->
    <div class="content">
        <!--section-->
        <section class="hero-section " data-scrollax-parent="true">
            <div class="hero-canvas-wrap fs-canvas first-tile_load">
                <div class="dots gallery__dots" data-dots=""></div>
            </div>

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 col-12 order-md-1 order-2 ">
                        <div class="section-title fl-wrap first-tile_load">

                            <div class="rotate_text ">ABOUT US</div>
                            <h3 class="mb-4 h3">Our Mission</h3>

                            <h2>Paving the way <br> for a sustainable food & drink environment.</h2>
                            <p class="h5"> As a responsible company, we understand that we have a role to play in leading the food and drink industry towards greater sustainability.</p>
                            <div class="section-title_category"><a href="#">OUR BRANDS</a> <a href="#">Design</a> </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-12 order-md-2 order-1">
                        <div class="embed-responsive embed-responsive-4by3">
                            <div class="hero-bg">
                                <div class="bg par-elem"
                                    data-bg="https://lvdm.vergersmekong.com/wp-content/uploads/2019/08/new.jpg"
                                    data-scrollax="properties: { translateY: '20%' }"></div>
                                <div class="pr-bg"></div>

                            </div>
                        </div>

                    </div>
                </div>



            </div>

        </section>
        <!--section end-->
        <!--section  -->
   
        <section class=" text-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="position-sticky pr-sticky">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="h2 font-weight-bold lh-height mb-3 text-teal ">
                                    "A responsible growth is a shared success"
                            </div>

                            <div class=" text-secondary font-weight-bold h4">Jean-Luc Voisin</div>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <p class="h5 lh-height">

                                'A responsible growth is a shared success’ admits Jean-Luc Voisin. It is a common goal that is about creating and sharing success with our farmers, our staff and our community. By further building sustainable practices into the way we source fruits, coffee, tea from small-scale farmers, develop products and reduce our environmental footprint, Les Vergers Du Mékong will be better able to look forward, anticipate the climate change implications and meet our customers’ needs.
                        </p>
                        <p class="h5 lh-height">
                                Our aim has always been to transform the challenge of sustainability into new possibilities. The future depends on companies who are prepared to put sustainability at the forefront of their strategies. Our commitment to a more sustainable future springs equally from a belief that we must offer the world leadership in acting to safeguard the planet. We want to secure our business, while making a positive impact on the environment and society as a whole.
                        </p>

                        <p class="h5 lh-height">
                                Working with our staff, customers and suppliers we handle issues for the positive impact on the environment: reduce waste, use raw materials from sustainable sources, trade ethically, craft all natural fine food and drinks in order to build a healthier lifestyle.
                        </p>

                        <p class="h5 lh-height">
                                The company’s brands at LE FRUIT and FOLLIET have become known for realizing cutting-edge ideas on sustainable supply chain, eco-friendly agriculture, product innovations that aim to inspire to drive changes and improvements to the environment, people and the planet.
                        </p>

                        <p class="h5 lh-height">
                                We strive to grow our business with the same fairness and integrity we use to craft our products with sustainability and great taste.
                        </p>
                    </div>
                </div>

            </div>
        </section>

    </div>
    <!--content end -->
    <!-- footer -->

    <!-- share-wrapper  end -->
</div>
<!-- content-holder end -->
{% endblock %}