{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<!-- content-holder  -->
<div class="content-holder" data-pagetitle="Portfolio Single 4">

    <!--content-->
    <div class="content">
        <!--section-->
        <section class="hero-section " data-scrollax-parent="true">
            <div class="hero-canvas-wrap fs-canvas first-tile_load">
                <div class="dots gallery__dots" data-dots=""></div>
            </div>

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 col-12 order-md-1 order-2 ">
                        <div class="section-title fl-wrap first-tile_load">

                            <div class="rotate_text ">OUR BRANDS</div>
                            <h3 class="mb-4 h3">LE FRUIT</h3>

                            <h2>About <br>
                                LE FRUIT</h2>
                            <p class="h5"> The brand Le Fruit is born in a unique terroir. We pledge on a complete
                                traceability
                                to control the quality of the farm, the crop and the ingredients. We seek to create and
                                promote
                                great-tasting, healthier food & drinks under our Farm fresh brand Le Fruit. </p>
                            <div class="section-title_category"><a href="#">OUR BRANDS</a> <a href="#">Design</a> </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-12 order-md-2 order-1">
                        <div class="embed-responsive embed-responsive-4by3">
                            <div class="hero-bg">
                                <div class="bg par-elem"
                                    data-bg="https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/lefruit.jpg"
                                    data-scrollax="properties: { translateY: '30%' }"></div>
                                <div class="pr-bg"></div>

                            </div>
                        </div>

                    </div>
                </div>



            </div>

        </section>
        <!--section end-->
        <!--section  -->
        <div class="line-dash"></div>

        <div class="nav-product" id="nav-product-sticky">
            <div class="container container-1200">
                <ul class="tabs-menu ">
                    <li class="selectedLava"><a href="#tab-1" data-tabnum="1" class="h5 font-weight-bold lh-height">LE
                            FRUIT Juice</a></li>
                    <li><a href="#tab-2" data-tabnum="2" class="h5 font-weight-bold lh-height">LE FRUIT Jam</a></li>
                </ul>
            </div>
        </div>


        <div id="tab-1" class="tab-content">

            <section class="text-left pb-4 pt-0">

                <div class="container container-1200">


                    <div class="h1 font-weight-bold lh-height mb-3" data-aos="fade-up" data-aos-duration="1000"
                        data-aos-delay="100">
                        LE FRUIT Juice
                    </div>
                    <div class="" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">



                        <p class="h5 lh-height">
                            We use only fresh fruits locally sourced in our juices. Being close to the
                            tropical fruit
                            farms
                            means that we can pick ripe sun-kissed fruits and quickly transport them to
                            our
                            kitchens.
                            Fresh
                            Fruits are squeezed or crushed only few days after harvesting. Never do we
                            import fruit
                            puree
                            from far-flung countries.
                        </p>
                        <p class="h5 lh-height">
                            LE FRUIT juices and nectars are pesticide free. We regularly test all juices
                            and
                            nectars for
                            over 60 types of pesticide and there are NO pesticide residue detected. This
                            is
                            the result
                            of
                            sixteen years of direct work with about two thousand family-owned farms in
                            Vietnam. This is
                            our
                            commitment for complete fruit traceability. We connect the farmer to the
                            consumer.
                        </p>

                    </div>


                </div>

            </section>

            <section class=" text-left no-padding-top " id="">
                <!-- container-->
                <div class="container container-1200">
                    <!-- det-wrap-->
                    <div class="fl-wrap det-wrap">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="h4 font-weight-bold lh-height mb-4" data-aos="fade-up"
                                    data-aos-duration="600" data-aos-delay="100">
                                    Single fruit premium juice
                                </div>
                            </div>

                            <div class="col-md-12 ">

                                <div class="swiper-container swiper-product pt-3 " data-aos="fade-up"
                                    data-aos-duration="600" data-aos-delay="100">
                                    <div class="swiper-wrapper">
                                        {% for item in product %}
                                        <div class="swiper-slide">
                                            <div class="product-item">
                                                <div class="embed-responsive embed-responsive-product">
                                                    <img data-src="{{item.image}}"
                                                        class="embed-responsive-img swiper-lazy"" alt="">
                                                                </div>
                                                                <div class=" product-item-content">

                                                    <h3 class="name">{{item.name}}</h3>
                                                    {% if loop.index == 1 %}
                                                    <div class="guaranteee">
                                                        <img src="https://vergersmekong.com/styles/desktop/images/new-great-taste-certified.png"
                                                            alt="">
                                                        
                                                    </div>
                                                    {% endif %}
                                                    <div class="more">
                                                        <!-- <a href=""> View facts</a> -->

                                                        <a class="modal-button" href="" data-target="modal-product"
                                                            aria-haspopup="true">View
                                                            facts</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        {% endfor %}

                                    </div>
                                    <!-- Navigation -->
                                    <div class="swiper-button-next swiper-button-black"></div>
                                    <div class="swiper-button-prev swiper-button-black"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- det-wrap end-->
                </div>
                <!-- container end -->




            </section>

            <section class=" text-left no-padding-top " id="">
                <!-- container-->
                <div class="container container-1200">
                    <!-- det-wrap-->
                    <div class="fl-wrap det-wrap">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="h4 font-weight-bold lh-height mb-4" data-aos="fade-up"
                                    data-aos-duration="600" data-aos-delay="100">
                                    Single fruit nectar
                                </div>
                            </div>

                            <div class="col-md-12 ">

                                <div class="swiper-container swiper-product pt-3 " data-aos="fade-up"
                                    data-aos-duration="600" data-aos-delay="100">
                                    <div class="swiper-wrapper">
                                        {% for item in product %}
                                        <div class="swiper-slide">
                                            <div class="product-item">
                                                <div class="embed-responsive embed-responsive-product">
                                                    <img data-src="{{item.image}}"
                                                        class="embed-responsive-img swiper-lazy"" alt="">
                                                                    </div>
                                                                    <div class=" product-item-content">
                                                    <h3 class="name">{{item.name}}</h3>
                                                    <div class="more">
                                                        <!-- <a href=""> View facts</a> -->

                                                        <a class="modal-button" href="" data-target="modal-product"
                                                            aria-haspopup="true">View
                                                            facts</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        {% endfor %}

                                    </div>
                                    <!-- Navigation -->
                                    <div class="swiper-button-next swiper-button-black"></div>
                                    <div class="swiper-button-prev swiper-button-black"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- det-wrap end-->
                </div>
                <!-- container end -->


            </section>

            <section class=" text-left no-padding-top " id="">
                <!-- container-->
                <div class="container container-1200">
                    <!-- det-wrap-->
                    <div class="fl-wrap det-wrap">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="h4 font-weight-bold lh-height mb-4" data-aos="fade-up"
                                    data-aos-duration="600" data-aos-delay="100">
                                    Multi-fruit blends
                                </div>
                            </div>

                            <div class="col-md-12 ">

                                <div class="swiper-container swiper-product pt-3 " data-aos="fade-up"
                                    data-aos-duration="600" data-aos-delay="100">
                                    <div class="swiper-wrapper">
                                        {% for item in product %}
                                        <div class="swiper-slide">
                                            <div class="product-item">
                                                <div class="embed-responsive embed-responsive-product">
                                                    <img data-src="https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/generic-juice.png"
                                                        class="embed-responsive-img swiper-lazy"" alt="">
                                                                        </div>
                                                                        <div class=" product-item-content">
                                                    <h3 class="name">{{item.name}}</h3>
                                                    <div class="more">
                                                        <!-- <a href=""> View facts</a> -->

                                                        <a class="modal-button" href="" data-target="modal-product"
                                                            aria-haspopup="true">View
                                                            facts</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        {% endfor %}

                                    </div>
                                    <!-- Navigation -->
                                    <div class="swiper-button-next swiper-button-black"></div>
                                    <div class="swiper-button-prev swiper-button-black"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- det-wrap end-->
                </div>
                <!-- container end -->


            </section>
            <section class=" text-left no-padding-top " id="">
                <!-- container-->
                <div class="container container-1200">
                    <!-- det-wrap-->
                    <div class="fl-wrap det-wrap">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="h4 font-weight-bold lh-height mb-4" data-aos="fade-up"
                                    data-aos-duration="600" data-aos-delay="100">
                                    Other products
                                </div>
                            </div>

                            <div class="col-md-12 ">

                                <div class="swiper-container swiper-product pt-3 " data-aos="fade-up"
                                    data-aos-duration="600" data-aos-delay="100">
                                    <div class="swiper-wrapper">
                                        {% for item in product %}
                                        <div class="swiper-slide">
                                            <div class="product-item">
                                                <div class="embed-responsive embed-responsive-product">
                                                    <img data-src="https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/generic-juice.png"
                                                        class="embed-responsive-img swiper-lazy"" alt="">
                                                                            </div>
                                                                            <div class=" product-item-content">
                                                    <h3 class="name">{{item.name}}</h3>
                                                    <div class="more">
                                                        <!-- <a href=""> View facts</a> -->

                                                        <a class="modal-button" href="" data-target="modal-product"
                                                            aria-haspopup="true">View
                                                            facts</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        {% endfor %}

                                    </div>
                                    <!-- Navigation -->
                                    <div class="swiper-button-next swiper-button-black"></div>
                                    <div class="swiper-button-prev swiper-button-black"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- det-wrap end-->
                </div>
                <!-- container end -->


            </section>






        </div>
        <div id="tab-2" class="tab-content">

            <section class="text-left pb-4 pt-0">

                <div class="container container-1200">


                    <div class="h1 font-weight-bold lh-height mb-3" data-aos="fade-up" data-aos-duration="1000"
                        data-aos-delay="100">
                        LE FRUIT Jam
                    </div>
                    <div class="" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">



                        <p class="h5 lh-height">

                            We produce artisanal jams and British style marmalades using the finest and freshest fruits
                            from Vietnam. Our jams are simmered in small batches in traditional copper pans by trained
                            and skillful ‘confituriers’ who cook by sight, scent and taste only, there’s nothing
                            industrial about our production line. The fruit is chopped by hand and the cooking times are
                            judged by the ‘confiturier’ using nothing artificial.
                        </p>
                        <p class="h5 lh-height">
                            We add no artificial colourings, preservatives or chemicals to our products. We do not use
                            bulking agents or thickeners to our jams, preferring to rely on the pectin present in the
                            fresh fruits.
                        </p>

                    </div>


                </div>

            </section>

            <section class=" text-left no-padding-top " id="">
                <!-- container-->
                <div class="container container-1200">
                    <!-- det-wrap-->
                    <div class="fl-wrap det-wrap">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="h4 font-weight-bold lh-height mb-4" data-aos="fade-up"
                                    data-aos-duration="600" data-aos-delay="100">
                                    Marmalade
                                </div>
                            </div>

                            <div class="col-md-12 ">

                                <div class="swiper-container swiper-product pt-3 " data-aos="fade-up"
                                    data-aos-duration="600" data-aos-delay="100">
                                    <div class="swiper-wrapper">
                                        {% for item in product %}
                                        <div class="swiper-slide">
                                            <div class="product-item">
                                                <div class="embed-responsive embed-responsive-product">
                                                    <img data-src="https://vergersmekong.com:8088/product/lvdm-upload-api-191210213225-637116103458450875.png"
                                                        class="embed-responsive-img swiper-lazy"" alt="">
                                                                    </div>
                                                                    <div class=" product-item-content">
                                                    <h3 class="name">{{item.name}}</h3>



                                                    <div class="more">
                                                        <!-- <a href=""> View facts</a> -->

                                                        <a class="modal-button" href="" data-target="modal-product"
                                                            aria-haspopup="true">View
                                                            facts</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        {% endfor %}

                                    </div>
                                    <!-- Navigation -->
                                    <div class="swiper-button-next swiper-button-black"></div>
                                    <div class="swiper-button-prev swiper-button-black"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- det-wrap end-->
                </div>
                <!-- container end -->


            </section>
        </div>




    </div>
    <!--content end -->
    <!-- footer -->
    {% include "layouts/footer.html" %}
    <!-- share-wrapper  end -->
    {% include "layouts/modal.html" %}
</div>
<!-- content-holder end -->
{% endblock %}