{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<!-- content-holder  -->
<div class="content-holder" data-pagetitle="Portfolio Single 4">

    <!--content-->
    <div class="content">
        <!--section-->
        <section class="hero-section " data-scrollax-parent="true">
            <div class="hero-canvas-wrap fs-canvas first-tile_load">
                <div class="dots gallery__dots" data-dots=""></div>
            </div>

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 col-12 order-md-1 order-2 ">
                        <div class="section-title fl-wrap first-tile_load">

                            <div class="rotate_text ">ABOUT US</div>
                            <h3 class="mb-4 h3">Our Mission</h3>

                            <h2>Paving the way <br> for a sustainable food & drink environment.</h2>
                            <p class="h5"> As a responsible company, we understand that we have a role to play in
                                leading the food and drink industry towards greater sustainability.</p>
                            <div class="section-title_category"><a href="#">OUR BRANDS</a> <a href="#">Design</a> </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-12 order-md-2 order-1">
                        <div class="embed-responsive embed-responsive-4by3">
                            <div class="hero-bg">
                                <div class="bg par-elem"
                                    data-bg="https://lvdm.vergersmekong.com/wp-content/uploads/2019/08/new.jpg"
                                    data-scrollax="properties: { translateY: '20%' }"></div>
                                <div class="pr-bg"></div>

                            </div>
                        </div>

                    </div>
                </div>



            </div>

        </section>
        <!--section end-->
        <!--section  -->

        <section class=" text-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="position-sticky pr-sticky">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="h2-teal ">
                                "A responsible growth is a shared success"
                            </div>

                            <div class=" text-secondary font-weight-bold h4">Jean-Luc Voisin</div>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <p class="h5 lh-height" data-aos="fade-up" data-aos-delay="200">

                            'A responsible growth is a shared success’ admits Jean-Luc Voisin. It is a common goal that
                            is about creating and sharing success with our farmers, our staff and our community. By
                            further building sustainable practices into the way we source fruits, coffee, tea from
                            small-scale farmers, develop products and reduce our environmental footprint, Les Vergers Du
                            Mékong will be better able to look forward, anticipate the climate change implications and
                            meet our customers’ needs.
                        </p>

                    </div>
                </div>

            </div>
        </section>

        <div class="container">
            <div class="line-dash"></div>
        </div>


        <section class=" text-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="position-sticky pr-sticky">
                            <div class="pr-bg pr-bg-white"></div>

                            <div class="row no-gutter">
                                <div class="col-auto">
                                    <div class="typo-img1">
                                        <img src="https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/environment.svg"
                                            class="" alt="">
                                    </div>

                                </div>
                                <div class="col">
                                    <div class="h5-teal">In 2017-18, we planted</div>
                                    <div class="h2-teal">
                                        100,000 pineapple & 10,450 guava trees
                                    </div>
                                </div>
                            </div>






                        </div>
                    </div>
                    <div class="col-md-8">
                        <p class="h5 lh-height" data-aos="fade-up" data-aos-delay="200">
                            With the creation of those two pilot farms Les Vergers du Mékong work on organic,
                            regenerative, cover crops and permaculture. We grow 20 varieties of fruits and flowers on
                            the farms to look of ways to conserve endangered fruit species, boost the biodiversity,
                            mitigate the climate change and strengthen the climate resiliency.
                        </p>

                    </div>
                </div>

            </div>
        </section>

        <div class="container">
            <div class="line-dash"></div>
        </div>


        <section class=" text-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="position-sticky pr-sticky">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="h2-teal">
                                "If we don’t grow them, we lose them"
                            </div>
                            <div class="h5-teal">Jean-Luc Voisin</div>

                            <p class="text-teal">
                                The mango trees are more than thirty years old. Each tree still gives approximately
                                500kg, but the trees are very big and too old. The forty families of the region have
                                between 5 and 20 mango trees in their farms. We buy 200 tons of those small mangoes in
                                the area directly from the families, but this might be one of our last trips. The
                                farmers choose to plant bigger mangoes (with small stone) instead.
                            </p>


                        </div>
                    </div>
                    <div class="col-md-8">
                        <p class="h5 lh-height" data-aos="fade-up" data-aos-delay="200">
                            Conserving endangered fruit species is our new challenge at LE FRUIT. “If we don’t grow
                            them, we lose them” says Jean-Luc Voisin, Managing Director of LES VERGERS DU MEKONG. We are
                            creating a nursery to help saving the local fruit tree heritage. Those small mangoes from
                            the Vietnam Highlands will be taking the center stage in our LE FRUIT nursery. All trees
                            that are grown in our nursery are grown without chemicals.
                        </p>
                        <p class="h5 lh-height" data-aos="fade-up" data-aos-delay="200">
                            Awareness about these issues is increasing, at least in developed countries, where local
                            breeds and varieties are beginning to appear on both farm-to-table and high-end restaurant
                            menus, as well as in regular kitchens. People are only starting to value quality more than
                            quantity.
                        </p>
                    </div>
                </div>

            </div>
        </section>

        <section class=" text-left bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="position-sticky pr-sticky">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="display-4 font-weight-bold">
                                Natural nutrition
                            </div>
                            <div class="h5 mt-4 font-weight-bold lh-height">We made a clear choice to produce only 100%
                                natural products. All our products are processed as little as possible for the best
                                taste and culinary performance. Never ultra-pasteurized, and no additives,
                                preservatives, chemicals, artificial flavours, fillers, artificial ingredients, coloring
                                agents, or GMO ever.</div>



                        </div>
                    </div>
                    <div class="col-md-8">

                        <div class="mb-4 position-relative">
                            <div class="pr-bg pr-bg-white"></div>
                            <img data-src="https://lvdm.vergersmekong.com/wp-content/uploads/2019/07/natural-nutrition.jpg"
                                class="lazyload respimg" alt="">
                        </div>
                        <p class="h5 lh-height">
                                At Les Vergers Du Mékong, we believe that GMOs pose a threat to the land and to family farms and that GMOs have no place in farming or in our food system.
                        </p>

                        <p class="h5 lh-height">
                                What’s more, LE FRUIT juices are pesticide free. LE FRUIT tests all juices and jams for over 60 types of pesticide and there are NO pesticide residue detected. This is the result of 18 years of direct work with approximately 2000 small-scale farms in Vietnam. LE FRUIT has a sustainable supply chain team that trains regularly local farmers on sustainable agriculture to strengthen climate resiliency, for example by using the factory own compost to protect the soil health. This is LE FRUIT’s commitment for a complete fruit traceability. In other words, LE FRUIT juices and jams are ‘organic’, but not certified.
                        </p>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--content end -->
    <!-- footer -->

    <!-- share-wrapper  end -->
</div>
<!-- content-holder end -->
{% endblock %}