@charset "utf-8";

/*======================================
 [ -Main Stylesheet-
  Theme: TheSide   Creative Photography Responsive Template
  Version: 1.0
  Last change: 27/10/2018 ]
	++ Fonts ++
	++ General Style ++
	++ Page preload ++
	++ Typography ++
	++ header ++
	++ navigation ++
	++ Columns ++
	++ home ++
	++ section ++
	++ porfolio ++
	++ tabs ++
	++ accordion- ++
	++ Footer ++
	++ share ++
	++ Team ++
	++ testimonials++
	++ contacts ++
	++ Video ++
	++ Blog++
	++ Responsive ++
/*-------------Fonts---------------------------------------*/

@font-face {
	font-family: AvertaW03;
	src: url(../font/AvertaW03-Bold_5cb7539e.eot);
	src: url(../font/AvertaW03-Bold_5cb7539e.eot?#iefix)
		format("embedded-opentype"),
	  url(../font/AvertaW03-Bold_14132b4e.woff2)
		format("woff2"),
	  url(../font/AvertaW03-Bold_2c74605f.woff)
		format("woff"),
	  url(../font/AvertaW03-Bold_ba08dd8a.ttf)
		format("truetype");
	font-weight: 700;
	font-style: normal;
  }
  
  @font-face {
	font-family: AvertaW03;
	src: url(../font/AvertaW03-Regular_d8fea453.eot);
	src: url(../font/AvertaW03-Regular_d8fea453.eot?#iefix)
		format("embedded-opentype"),
	  url(../font/AvertaW03-Regular_98683e1d.woff2)
		format("woff2"),
	  url(../font/AvertaW03-Regular_09a1fe9d.woff)
		format("woff"),
	  url(../font/AvertaW03-Regular_e52a59e3.ttf)
		format("truetype");
	font-weight: 400;
	font-style: normal;
  }
/*-------------General Style---------------------------------------*/

html {
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 13px;
	height: 100%;
	text-align: left;
	background:#2A2A2E;
	color: #000;
	font-family: 'AvertaW03',  sans-serif;
}
@-o-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}
/* ---------Page preload--------------------------------------*/
.loader2 {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	bottom:0;
	overflow:hidden;
	z-index:100;
    background: #2D2D32;
	 -webkit-transform: translate3d(0,0,0);
}
.page-load {
	position:fixed;
	top:90px;
	left:90px;
	right:0;
	bottom:0;
	z-index:19;
	display:none;
	 -webkit-transform: translate3d(0,0,0);
}
.page-load_bg , .page-load_bg2 {
	position:absolute;
	right:100%;
	left:0;
	bottom:0;
	top:0;
 	background: #2D2D32;
	z-index:3;
	overflow:hidden;
}
.page-load_bg2 {
	z-index:2;
	background:#35353A;

}
.loader {
 	display: block;
	height: 32px;
	width: 32px;
	position: absolute;
	left:50%;
	top:75%;
	margin:-36px 0 0 -16px;
	z-index:10;
}

.loader span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
}
.loader span:before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
	box-sizing:border-box;
	border: 3px solid  rgba(255,255,255,0.21);
	border-bottom: 3px solid transparent;
	border-radius: 50%;
	-webkit-animation: loader-3-1 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-3-1 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-3-1 {
	0%   { -webkit-transform: rotate(0deg); }
	40%  { -webkit-transform: rotate(180deg); }
	60%  { -webkit-transform: rotate(180deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-3-1 {
	0%   { transform: rotate(0deg); }
	40%  { transform: rotate(180deg); }
	60%  { transform: rotate(180deg); }
	100% { transform: rotate(360deg); }
}
.loader span:after {
	content: "";
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	width: 6px;
	height: 6px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-3-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-3-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-3-2 {
	0%   { -webkit-transform: translate3d(0, -32px, 0) scale(0, 2); opacity: 0; }
	50%  { -webkit-transform: translate3d(0, 0, 0) scale(1.25, 1.25); opacity: 1; }
	100% { -webkit-transform: translate3d(0, 8px, 0) scale(0, 0); opacity: 0; }
}
@keyframes loader-3-2 {
	0%   { transform: translate3d(0, -32px, 0) scale(0, 2); opacity: 0; }
	50%  { transform: translate3d(0, 0, 0) scale(1.25, 1.25); opacity: 1; }
	100% { transform: translate3d(0, 8px, 0) scale(0, 0); opacity: 0; }
}
/*--------------Typography--------------------------------------*/
p {
	font-size: 12px;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
	color: #5e646a;
	text-align:left;
}
blockquote {
	float: left;
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border-left: 15px solid #eee;
	position: relative;
}
blockquote:before {
	font-family: Font Awesome\ 5 Pro;
	content: "\f10e";
	position: absolute;
	color: #ccc;
	bottom: 3px;
	font-size: 43px;
	right: 6px;
	opacity: 0.4
}
blockquote p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #666;
}
.bold-title {
	margin: 15px 0;
	font-size: 24px;
	text-align: left;
	font-weight: 600;
}
/*--------------General--------------------------------------*/
#main {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.fl-wrap {
	float: left;
	width: 100%;
	position: relative;
}
.content {
	float: left;
	width: 100%;
	position: relative;
	z-index: 5;
}
.container {
	max-width: 1224px;
	width: 92%;
	margin: 0 auto;
	position: relative;
	z-index: 5;
}
.full-height {
	height: 100%;
}
#wrapper {
	position: absolute;
	top: 90px;
	left: 90px;
	right: 0;
	bottom: 0;
	z-index: 3;
	background:#2A2A2E;
}
.content-holder {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.respimg {
	width: 100%;
	height: auto;
}
.hidden-item {
	overflow:hidden;
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	background-repeat: repeat;
	background-origin: content-box;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: rgba(45,45,50,0.51);
	z-index: 3;
}
.dark-bg {
	background:#2A2A2E;
}
/* ------header------------------------------------------------------------ */
header.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 20;
    background: #2D2D32;
    padding: 0 0 0  90px;
}
header.main-header:after {
	content:'';
	position:absolute;
	bottom:0;
	left:90px;
	height:1px;
	right:0;
	background:rgba(255, 255, 255, 0.03);
}
header.main-header:before {
	content:'';
	position:absolute;
	left:30%;
	right:150px;
	height:100%;
	z-index:-1;
	background:rgba(255, 255, 255, 0.04);
}
.left-panel {
	position:fixed;
	top:90px;
	left:0;
	width:90px;
	bottom:0;
	z-index:19;
    background: #2D2D32;
    -webkit-transform: translate3d(0,0,0);
	border-right: 1px solid rgba(255, 255, 255, 0.03);
}
.left-panel_social {
	position:absolute;
	bottom:110px;
	left:50%;
	margin-left:-20px;
	width:40px;
}
.left-panel_social li {
	width:40px;
	height:40px;
	line-height:40px;
	box-sizing:border-box;
	display:inline-table;
	border: 1px solid rgba(255, 255, 255, 0.08);
	border-top:none;
	position:relative;
}
.left-panel_social li:before , .nav-social li:before {
	content:'';
	position:absolute;
	left:0;
	width:0;
	height:100%;
	top:0;
	background:rgba(255, 255, 255, 0.08);
	z-index:1;
	-webkit-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
.left-panel_social li:hover:before , .nav-social li:hover:before {
	width:100%;
}
.left-panel_social li:first-child {
	border-top:1px solid rgba(255, 255, 255, 0.08);
}
.left-panel_social li a {
	position:relative;
	z-index:2;
	color:#767676;
}
.horizonral-subtitle {
	position:absolute;
	left:40px;
	top:150px;
}
.horizonral-subtitle span {
    position: absolute;
    left: -170px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 4px;
	padding:10px 0;
	width:350px;
	top:0;
	text-align: center;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: rgba(255, 255, 255, 0.31);
    text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
	border-left:1px solid rgba(255, 255, 255, 0.08);
}
.horizonral-subtitle span strong {
	position:relative;
	display:block;
}
.horizonral-subtitle span:before {
	content:'';
	position:absolute;
	width:190px;
	right:-40px;
	height:100%;
	top:0;
	background:rgba(255, 255, 255, 0.04);
}
.header-logo {
	float:left;
	position:relative;
	top:30px;
}
.header-logo img {
	float:left;
	width: auto;
	height:26px;
}
.nav-button-wrap {
	right:0;
	width:100px;
	position: absolute;
	top:32px;
}
.nav-button-wrap:before {
	content:'';
	position:absolute;
	left:-70px;
	width:40px;
	height:1px;
	top:14px;
}
.nav-button {
	left:-20px;
	width: 28px;
	height: 50px;
	display:inline-block;
	cursor: pointer;
	position: relative;
}
.nav-button span {
	width: 100%;
	float: left;
	margin-bottom: 6px;
	height: 2px;
	background: #fff;
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.nav-button .ncs {
	width: 70%;
}
.nav-button .nbs,
.nav-button.cmenu:hover .nbs {
	width: 0;
}
.nav-button:hover .ncs,
.nav-button:hover .nbs {
	width: 100%;
}
.nav-button.cmenu .nos {
	-webkit-transform: rotate(-45deg) scale(0.8);
	transform: rotate(-45deg) scale(0.8);
	margin-bottom: 0;
	top: 8px;
}
.nav-button.cmenu .ncs {
	-webkit-transform: rotate(45deg) scale(0.8);
	transform: rotate(45deg) scale(0.8);
	margin-bottom: 0;
	top: 6px;
	width: 100%;
}
.nav-button:hover .menu-button-text {
	color: #fff;
}
.menu-button-text {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 10px;
	color: rgba(255, 255, 255, 0.41);
	font-size: 10px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.nav-button.cmenu .menu-button-text {
	margin-top: 16px;
}
.header-contacts {
	float:right;
	position:relative;
	top:24px;
	padding-right:70px;
	right:150px;
}
.header-contacts ul {
	float:right;
}
.header-contacts li {
	list-style:none;
	float:left;
	margin-right:40px;
	top:14px;
	position:relative;
	text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.51);
    letter-spacing: 4px;
}
.header-contacts li:before {
	content:'';
	position:absolute;
	left:-30px;
	width:15px;
	top:50%;
	height:2px;
	margin-top:-2px;
}
.header-contacts li  a{
	color:#fff;
}
/*------ navigation  ------------------------------------------------*/
.nav-holder {
	position:fixed !important;
	top:90px;
	right:-500px;
	width:450px;
	bottom:0;
	background: #262627;
	overflow:auto;
	z-index:105;
    -webkit-transform: translate3d(0, 0, 0) !important;
}
.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index:103;
    width: 100%;
    background: rgba(37, 36, 37, 0.71);
	display:none;
	overflow:hidden;
    -webkit-transform: translate3d(0, 0, 0);
}
.element {
	width:50px;
	height:50px;
	border-radius: 50%;
	will-change: transform;
	border:1px solid  rgba(255,255,255,0.41);
	background:rgba(255,255,255,0.051);
}
.element:before {
	font-family: Font Awesome\ 5 Pro;
	content: "\f00d";
	color:#fff;
	position:relative;
	top:14px;
	font-size:20px;
	font-weight:300;
}
.nav-scroll-bar-wrap {
	overflow:hidden;
	position:absolute;
	left:0;
	right:0;
	bottom:70px;
	top:0;
	padding:80px 40px 100px 50px;
}
nav.nav-inner {
	float: left;
	overflow: hidden;
	width: 100%;
	position: relative;
 	margin-top: 90px;
	z-index: 20;
}
.sliding-menu ul {
	margin: 0;
	float: left;
	width: 100%;
	overflow: hidden;
}
.sliding-menu li {
	margin: 0;
	position: relative;
	float: left;
	width: 100%;
}
.sliding-menu a {
	float: left;
	padding: 0 0 0 20px;
	height: 40px;
	line-height: 40px;
	position: relative;
	font-weight: 600;
	font-size: 12px;
	text-align: left;
	color: rgba(255, 255, 255, 0.41);
	text-transform: uppercase;
	letter-spacing: 2px;
	z-index:2;
}
.sliding-menu a:hover {
	color:#fff;
}
.sliding-menu li:after {
	content: '';
	position: absolute;
	top: 0;
	left: -10px;
	width: 0;
	z-index:1;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	height: 100%;
	background: rgba(255, 255, 255, 0.071);
}
.sliding-menu li:hover:after {
	width: 50%;
}
.sliding-menu a i {
	float: left;
	width: 35px;
	color: #74829C;
	position: relative;
	top: 3px;
}
.sliding-menu a.back:before {
	font-family: Font Awesome\ 5 Pro;
	content: '\f104';
	color: #fff;
}
.submen-dec:before {
	font-family: Font Awesome\ 5 Pro;
	content: '\f067';
	position: absolute;
	right: 0;
	width: 10px;
	height: 10px;
	top: 14px;
	font-size:9px;
	color:rgba(255, 255, 255, 0.371);
	z-index: 20;
}
.lang-links:before {
	content:'';
	position:absolute;
	left:20px;
	width:30px;
	height:2px;
	top:-40px;
}
.lang-links {
	margin-top:140px;
	padding-left:20px;
}
.lang-links a {
	font-size:14px;
	float:left;
	color:rgba(255, 255, 255, 0.41);
	margin-right:10px;
}
.lang-links a.act-leng {
	color:#fff;
}
.nav-social {
	position:absolute;
	height:80px;
	width:100%;
	left:0;
	bottom:0;
    background: #2D2D32;
	padding:0 20px 0 70px;
}
.nav-social_title {
	float:left;
    top: 32px;
	margin-right:20px;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.51);
    letter-spacing: 4px;
}
.nav-social li{
    width: 40px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-left: none;
    position: relative;
	float:left;
	top:20px;
}
.nav-social li:first-child {
	border-left:1px solid rgba(255, 255, 255, 0.08);
}
.nav-social li a{
    color: #767676;
	position:relative;
	z-index:10;
}
.nav-search {
	padding-left:20px;
}
.nav-search input , #submit_btn {
	background:none;
	border-radius:0;
	outline:none;
	border:none;
}
.nav-search input   {
	height:40px;
	line-height:40px;
	border-bottom:1px solid rgba(255, 255, 255, 0.08);
	z-index:1;
	color:#fff;
}
#submit_btn {
	position:absolute;
	right:0;
	top:6px;
	color:#fff;
	z-index:2;
	width:50px;
	height:20px;
	line-height:20px;
	cursor:pointer;
}
/* ------Column------------------------------------------------------------ */
.column-wrap {
	float:left;
	width:60%;
	position:relative;
 	min-height: 100vh;
	background:#fff;
	z-index:1;
}
.column-wrap-container {
	padding:50px 0 20px;
}
.column-wrap-container .container {
	max-width:824px;
}
.column-wrap-media {
	margin-bottom:50px;
}
.column-wrap-media_btn {
	position:absolute;
	bottom:-20px;
	right:50px;
	z-index:2;
	height:50px;
	line-height:50px;
	padding:0 80px 0 40px;
	color:#fff;
	font-size:10px;
	letter-spacing:2px;
	text-transform:uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.column-wrap-media_btn i {
	position:absolute;
	top:0;
	right:0;
	width:50px;
	height:50px;
	line-height:50px;
	background: #2D2D32;
}
.column-wrap-media_btn:hover {
	padding:0 90px 0 40px;
}
.col-wc_dec {
	position: absolute;
	left:0;
	width:70%;
	height:300px;
	background:#f8f8f8;
	top:0;
	z-index:1;
}
.col-wc_dec.col-wc_dec2 {
	top:inherit;
	left:inherit;
	bottom:0;
	right:0;
	height:250px;
}
.section-separator {
	display: flex;
	margin:0 auto 10px;
	max-width:824px;
	width:92%;
	height:1px;
	position:relative;
	z-index:50;
	background:#eee;
}
.fixed-column-wrap {
    position: absolute;
    top: 0;
	right:0 !important;
	width:40%;
	background:#292929;
	z-index:2;
}
.fixed-column-wrap-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}
.fixed-column-wrap_title {
	position:absolute;
	bottom:120px;
	left:50px;
	right:50px;
	z-index:21;
	text-align: right;
}
.fixed-column-wrap_title h2 {
	color: #fff;
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 20px;
    position: relative;
	font-family: 'AvertaW03','Oswald', sans-serif;
	text-transform:uppercase;
    line-height: 50px;
	position:relative;
}
.fixed-column-wrap_title h2:before {
	content:'';
	position:absolute;
	right:0;
	top:-40px;
	width:40px;
	height:2px;
}
.fixed-column-wrap_title p {
	color:rgba(255,255,255,0.61);
	text-align: right;
	max-width:450px;
	float:right;
}
.fixed-column-dec {
	position:absolute;
	top:50px;
	right:50px;
	width:70px;
	height:70px;
	z-index:21;
	border-top:1px solid;
	border-right:1px solid;
	border-color:rgba(255,255,255,0.51);
}
.progress-bar-wrap {
	position:absolute;
	bottom:-90px;
	left:30%;
	right:0;
	height:70px;
	z-index:20;
    background: #2D2D32;
	padding:0 30px;
}
.progress-bar-wrap:before {
	content:'';
	position:absolute;
	top:50%;
	left:30px;
	right:30px;
	height:1px;
	background:rgba(255,255,255,0.11);
	z-index:1;
}
.progress-bar-wrap:after {
    content: '';
    position: absolute;
    width: 30%;
    right: 20px;
    top: 15px;
	bottom:15px;
    background: rgba(255, 255, 255, 0.04);
}
.progress-bar {
    position:    relative;
    height:      2px;
    width:       0%;
	z-index:2;
	top:34px;
}
.scroll-nav-wrap {
	position:absolute;
	top:0;
	left:-70px;
	z-index:111;
	padding:20px 0 90px;
	width:70px;
}
.carnival{
	position:relative;
	left:-44px;
	height:120px;
	width:90px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	padding:20px 0;
	letter-spacing:2px;
	font-size:10px;
	text-transform:uppercase;
	color:#fff;
}
.snw-dec {
	position:absolute;
	bottom:0;
	width:70px;
	height:70px;
	left:0;
	line-height:70px;
	background: #2A2A2E;
}
.snw-dec .mousey {
	top:20px;
	left:24px;
	position:relative;
}
/*------ home------------------------------------------------*/
.ms_title-wrap {
	position:absolute;
	z-index:20;
	left:10%;
	top:38%;
}
.ms_title-wrap h2 {
	color:#fff;
	font-size:65px;
 	font-family: 'AvertaW03', 'Oswald', sans-serif;
	text-transform:uppercase;
	font-weight:600;
	text-align:left;
	line-height:70px;
	padding-bottom:20px;
}
.ms_title-wrap p {
	color:rgba(255,255,255,0.81);
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:2px;
}
.multi-slideshow-wrap_1 {
	position:absolute;
	left:0;
	width:60%;
	top:0;
	bottom:0;
	overflow:hidden;
	z-index:1;
	padding:0 4px 0 0;
}
.multi-slideshow-wrap_1.multi-slideshow-wrap_fs {
	width:100%;
	padding:0;
}
.multi-slideshow-wrap_2 {
	position:absolute;
	right:0;
	width:40%;
	padding:0 0 0 0;
	bottom:0;
	top:50%;
	overflow:hidden;
	z-index:1;
}
.multi-slideshow-wrap_3 {
	position:absolute;
	z-index:3;
	width:calc(40% + 100px);
	height:50%;
	right:0;
	top:0;
	overflow:hidden;
	padding:0 0 4px 4px;
}
.kenburns   .bg {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1.5s linear;
  transition: all 1.5s linear;
}
.ms-container .swiper-slide-active .kenburns .bg , .ms-container .swiper-slide-duplicate-active .kenburns .bg {
  -webkit-transition: all 6.5s linear;
  transition: all 6.5s linear;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.hero-title {
	z-index:20;
	top:35%;
}
.first-tile_load {
	transform: translateY(50px);
	opacity:0;
}
.hero-canvas-wrap {
	position:absolute;
	left:90px;
	top:90px;
	width:60%;
	bottom:90px;
	z-index:1;
}
.hero-canvas-wrap.fs-canvas {
	bottom:0;
	top:60px;
	width:35%;
}
.hero-canvas-wrap.fh-canvas {
	width:inherit;
	right:0;
	top:0;
	left:0;
	bottom:0;
}
.hero-canvas-wrap.inner-canvas {
	left:90px;
	top:90px;
	width: inherit;
	bottom:90px;
	right:90px;
	z-index:1;
}
.hero-canvas-wrap.fh-canvas  .inner-canvas{
	width:inherit;
	right:0;
	top:0;
	left:0;
	bottom:0;
}
.hero-canvas-wrap:before {
	content:'';
	position:absolute;
	left:-25px;
	width:50px;
	height:50px;
	top:-25px;
	border-left:1px solid rgba(255,255,255,0.11);
	border-top:1px solid rgba(255,255,255,0.11);
}
.hero-canvas-wrap:after {
	content:'';
	position:absolute;
	left:-25px;
	width:50px;
	height:50px;
	bottom:35px;
	border-left:1px solid rgba(255,255,255,0.11);
	border-bottom:1px solid rgba(255,255,255,0.11);
}
.footer-canvas {
	position:absolute;
	overflow:hidden;
	right:20px;
	width:40%;
	bottom:0;
	top:30%;
	z-index:-1;
	opacity:0.5;
}
.dots {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.impulse-wrap {
	position: absolute;
	top: 0;
	left: 30%;
	right:0;
	height: 100%;
	z-index: 1;
	-webkit-perspective: 1000;
}
.impulse-wrap .section-entry {
	-webkit-transform: translateZ(40px);
	transform: translateZ(40px);
}
.mm-parallax {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform-style: preserve-3d;
}
.hero-slider-wrap_halftwo {
	position:absolute;
	right:0;
	left:30%;
	height:100%;
	bottom:0;
	z-index:2;
}
.hero-slider-wrap {
	z-index:3;
}
.half-hero-wrap {
    position: absolute;
    left: 15%;
    z-index: 10;
    top: 29%;
}
.half-hero-wrap h1:before {
	content:'';
	position:absolute;
	left:0;
	top:-60px;
	height:2px;
	width:50px;
}
.half-hero-wrap h1 {
    color: #fff;
 	font-family: 'AvertaW03', 'Oswald', sans-serif;
	text-transform:uppercase;
    font-size: 55px;
    text-align: left;
    font-weight: 900;
    line-height: 70px;
    padding-bottom: 20px;
    position: relative;
}
.half-hero-wrap h4 {
    text-align: left;
    font-size: 14px;
    float: left;
	max-width:550px;
    color: rgba(255, 255, 255, 0.71);
    font-weight: 500;
}
.rotate_text {
    color: #999;
    font-weight: 900;
    font-size: 14px;
	text-transform:uppercase;
    position: absolute;
    left: -40px;
	top:-23px;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotate(-90deg) translateY(-20px) translateX(-webkit-calc(-100% - 40px));
    transform: rotate(-90deg) translateY(-20px) translateX(calc(-100% - 40px));
}
.half-hero-wrap_link {
	float:left;
	color:#fff;
    font-size: 10px;
    font-weight: 500;
	letter-spacing:2px;
	text-transform:uppercase;
	margin-top:20px;
}
.half-hero-wrap_link:hover {
	color:rgba(255,255,255,0.6);
}
.half-hero-wrap_link i {
	padding-left:12px;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.half-hero-wrap_link:hover i{
	padding-left:20px;
}
.swiper-container {width:100%;height:100%;margin:0 auto;}  .slider-wrap .swiper-slide , .center-carousel .swiper-slide , .fs-gallery-wrap .swiper-slide , .portfolio-wrap .swiper-slide{   position:relative; width: auto;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.slider-wrap  , .portfolio-wrap  , .hero-slider-img .swiper-slide {
	float:left;
	width:100%;
	height:100%;
	position:relative;
}
.slider-wrap.homecarousel , .center-carousel{
	height:100%;
}
.slider-wrap.homecarousel .swiper-slide{
	padding:0 0 0 0;
}
.slider-wrap.homecarousel.hompad  .swiper-container , .portfolio-wrap.hompad .swiper-container{
	padding-right:20px;
}
.slider-wrap .swiper-slide img , .fw-carousel  .swiper-slide img   {
	width: auto!important;
	height:100% !important;
	position:relative;
	z-index:1;
}
.slider-wrap .swiper-slide   , .fw-carousel  .swiper-slide    {
 	width: auto!important;
	height:100% !important;
	display:inherit !important;
}
.frbg {
	position: relative;
	float:left;
	width:100%;
	height:calc(100vh - 80px);
	overflow:hidden;
	padding-bottom:90px; 
}
.tittle-slide {
	width:500px;
	float:left;
	padding-top:20px;
	padding-left:70px;
}
.tittle-slide h2 {
	color:rgba(255,255,255,0.71);
	font-size:34px;
	font-weight:bold;
	text-align:left;
}
.show-case-slider-wrap {
	height:600px;
}
.fsc-holder {
	padding-bottom:80px;
}
.fw-carousel-wrap {
	z-index:21;
}
.hlaf-slider-pag {
	width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    right: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 99;
}
.hlaf-slider-pag .swiper-pagination-bullet {
    width:50px;
    height:20px;
    display:block;
	float:left;
	margin-bottom:10px;
	line-height:20px;
    border-radius:0;
    background:none;
	overflow:hidden;
    opacity:0;
	top:-10px;
	position:relative;
	color:rgba(255,255,255,0)
}
.hero-slider-wrap_pagination  .swiper-pagination-bullet:before {
	content:'';
	position:absolute;
	left:0;
	height:1px;
	top:50%;
	background:#fff;
	width:0;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.hero-slider-wrap_pagination  .swiper-pagination-bullet.swiper-pagination-bullet-active:before , .hero-slider-wrap_pagination  .swiper-pagination-bullet:hover:before {
	width:20px;
}
.hero-slider-wrap_pagination  .swiper-pagination-bullet:after {
	content:'01';
	position:absolute;
	left:30px;
	right:0;
	bottom:0;
	top:0;
	line-height:20px;
	color:#fff;
	font-size:18px;
	font-weight: 500;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: all 100ms linear;
    transition: all 100ms linear;
	opacity:0.7;
}
.hero-slider-wrap_pagination  .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
	opacity:1;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	transform: scale(1.0);
}
.opt-full-height {
	height:100%;
	padding-bottom:80px;
}
.option-panel {
	position:absolute;
	bottom:-70px;
	left:0;
	z-index:10;
	background:#2D2D32;
	width:35%;
	height:60px;
	padding-left:180px;
	overflow:hidden;
}
.option-panel:before {
	content:'';
	position:absolute;
	width:30%;
	left:20%;
	top:10px;
	bottom:10px;
	z-index:-1;
	background:rgba(255, 255, 255, 0.04);
}
.start-btn {
	position:absolute;
	left:0;
	top:0;
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:10px;
	height:60px;
	line-height:60px;
	color:#fff;
	width:180px;
}
.start-btn.hero-start {
	top:inherit;
	bottom:-70px ;
	z-index:100
}
.start-btn i {
	padding-left:10px;
	-webkit-transition: all 100ms linear;
    transition: all 100ms linear;
}
.start-btn:hover i {
	padding-left:20px;
}
.swiper-counter {
  position: relative;
 	font-size:16px;
	font-weight: 700;

  font-size: 12px;
  color: #999;
  float:left;
  width:100%;
}
.swiper-counter div {
	position:absolute;
	top:13px;
	width:32px;
	height:32px;
	line-height:32px;
}
.swiper-counter div#current {
	right:40px;
}
.swiper-counter div#total {
	right:10px;
}
.swiper-counter div#total:before {
	content:'';
	position:absolute;
	left:-3px;
	width:6px;
	height:1px;
	top:50%;
	background:rgba(255,255,255,0.41);
}
.slide-progress-container {
	position:absolute;
	height:1px;
	z-index:3;
	bottom:30px;
	right:100px;
	left:220px;
}
.slide-progress-warp {
	float:left;
	position:relative;
	height:1px;
	background:rgba(255,255,255,0.41);
	z-index:10;
	bottom:0;
	width:100%;
}
.slide-progress-warp.grid-carousel-progress {
	position:absolute;
	left:20%;
	right:25%;
	width:inherit;
	top:50%;
	bottom:inherit;
}
.slide-progress {
	position:absolute;
	top:50%;
	left:0;
	height:1px;
	border-radius:6px;
	margin-top:-1px;
	width:0;
	max-width:100%;
}
.hero-slider_control-wrap {
	position:absolute;
	bottom:-70px;
	right:0;
	z-index:100;
}
.hero-slider_control {
	float: right;
 	font-weight: 400;
  	font-size: 10px;
  	color: #999;
	cursor:pointer;
	width:150px;
	height:60px;
	line-height:60px;
	background: #2D2D32;
	text-transform:uppercase;
	letter-spacing:2px;
	position:relative;
}
.hero-slider_control:before {
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	height:0;
	width:100%;
	z-index:1;
	-webkit-transition: all 200ms linear;
    transition: all 100ms 2inear;
}
.hero-slider_control:hover:before {
	height:100%;
}
.hero-slider_control span{
	position:relative;
	z-index:2;
}
.hero-slider_control i {
	color:#fff;
 	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
	transition-delay: 0.3s;
	padding:0 0 0 15px;
}
.hero-slider_control:hover {
	color:#fff;
}
.hero-slider_control.hero-slider-button-prev {
	border-right:1px solid  rgba(255, 255, 255, 0.08);
}
.hero-slider_control.hero-slider-button-prev i {
	padding:0 15px 0 0;
}
.hero-slider_control.hero-slider-button-next:hover i {
	padding:0 0 0 25px;
}
.hero-slider_control.hero-slider-button-prev:hover i{
	padding:0 25px 0 0;
}
.carousel-title-wrap{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:40px 50px 30px;
	z-index:2;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.95)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
}
.carousel-title-wrap h2 {
	text-align:left;
	font-size:15px;
	text-transform:uppercase;
	letter-spacing:2px;
	float:left;
	width:100%;
	padding-bottom:4px;
	font-weight:700;
 	font-family: 'Oswald', sans-serif;
}
.carousel-title-wrap h2 a {
	color:rgba(255,255,255,1);
}
.carousel-title-wrap h2 a i {
	padding-left:18px;
	-webkit-transition: all 200ms linear;
    transition: all 100ms 2inear;
}
.carousel-title-wrap p {
	color:rgba(255,255,255,0.71);
}
.carousel-title-wrap h2 a:hover i {
	padding-left:25px;
}
/*------section ------------------------------------------------*/
section {
	position: relative;
	float: left;
	width: 100%;
	padding: 110px 0;
	background: #fff;
}
section.no-hidden {
	overflow: inherit;
}
section.parallax-section {
	padding: 120px 0;
}
.small-padding {
	padding: 50px 0;
}
section.small-padding.article{
	padding: 40px 0;
}
.no-padding-bottom {
	padding-bottom:0;
}
.no-padding {
	padding:0;
}
.dark-bg {
	background: #2A2A2E;
}
.dark-bg2 {
	background: #2D2D32;
}
.gray-bg {
	background: #f9f9f9;
}
section.parallax-section .bg , .hero-bg .bg , .split-sceen-media .bg {
	height: 120%;
	top: 0;
}
section.hero-section {
	padding:200px 0 150px;
	overflow:hidden;
}
section.hero-section:before{
	content:'';
	position:absolute;
	left:0;
	width:30%;
	height:70px;
	bottom:0;
	background:#fff;
	z-index:3;
}
section.hero-section:after{
	content:'';
	position:absolute;
	right:0;
	width:30%;
	height:60%;
	bottom:0;
 	background: rgba(255, 255, 255, 0.04);
}
section.hero-section .fs-canvas {
	z-index:2;

	bottom:70px;
	left:70px;
}
.hero-bg {
	position:absolute;

	top:0;
	bottom:70px;
	right:70px;
	left:30%;
	overflow:hidden;
	z-index:2;
}
.hero-bg-dec {
	position:absolute;
	width:70px;
	height:70px;
	z-index:6;
	top:0;
	right:0;
	color:#fff;
	font-size:18px;
}
.hero-bg-dec span {
	width:30px;
	height:1px;
	background:rgba(255,255,255,0.71);
	display:block;
	position:relative;
	top:34px;
	left:24px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.hero-bg:before   {
	content:'';
	position:absolute;
	width:70px;
	height:70px;
	z-index:5;
	top:0;
	right:0;
}
.hero-bg:after{
    content: '';
    position: absolute;
    right: 0;
	width:calc(30% + 114px);
 	z-index:4;
	bottom:0;
    top: 0;
    background: rgba(255, 255, 255, 0.09);
}
.hero-start-link {
	position:absolute;
	right:0;
	width:70%;
	height:70px;
	bottom:-70px;
	z-index:2;
	padding-left:140px
}
.hero-start-link.hero-start-link_mlt {
	width:calc(60% - 100px);
	bottom:-70px;
	right:inherit;
	left:0;
}
.bedec_hstl:before {
	content:'';
	position:absolute;
	right:0;
	width:35%;
	height:100%;
	background:#323236;
	top:0;
}
.hero-start-link .scroll-down-wrap {
	top:19px !important;
}
.hero-start-link a {
	position:absolute;
	left:0;
	width:140px;
	height:70px;
	top:0;
	line-height:70px;
	color:#fff;
}
.hero-start-link a:before {
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:100%;

	z-index:1;
	height:0;
 	-webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
	background: #323236;
}
.hero-start-link a:hover:before {
	height:100%;
}
.hero-start-link a i {
	position:relative;
	z-index:2;
}
.hero-start-link:after {
	content:'';
	position:absolute;
	right:70px;
	width:20%;
	height:1px;
	top:50%;
}
.hero-section .section-title , .hero-title .section-title {
    padding: 20px 0 20px 50px;
    margin-bottom: 50px;
    text-align: left;
}
.hero-section .section-title h2 , .hero-title .section-title h2  {
	color: #fff;
    font-size: 55px;
    text-align: left;
    font-weight: 900;
    padding-bottom: 20px;
    position: relative;
	text-transform:uppercase;
	line-height:80px;
 	font-family: 'AvertaW03','Oswald', sans-serif;
}
.hero-section .section-title h2:before   , .hero-title .section-title h2:before {
    content: '';
    position: absolute;
    left: 0;
    top: -60px;
    height: 2px;
    width: 50px;
}
.hero-section .section-title p  ,  .hero-title .section-title p{
	color:rgba(255,255,255,0.61);
	max-width:450px;
}
.section-title_category {
	position: absolute;
    left: -70px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 9px;
    letter-spacing: 2px;
    padding: 10px 0;
    top:85px;
    text-align: center;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-overflow: ellipsis;
    white-space: nowrap;
	color:  rgba(255,255,255,0.8);
}
.section-title_category a{
    color:  rgba(255,255,255,0.8);
}
.section-number {
	position:absolute;
	left:-200px;
	top:-50px;
	font-size:124px;
	font-weight:bold;
	color:#eee;
	opacity:0.7;
}
.section-number span {
	position:relative;
	overflow:hidden;
}
.section-number span:before {
    content: '';
    position: absolute;
	width:100%;
	bottom:50%;
	top:0;
	left:0;
	background:#fff;
	z-index:2;
}
.section-number.right_sn {
	left: inherit;
	top:-60px;
	right:-40px;
}
.gray-bg  .section-number span:before {
	background:#f9f9f9;
}

.dark-bg  .section-number span:before {
	background: #2A2A2E;
}
.dark-bg  .section-number {
	color:rgba(255,255,255,0.11);
}
.split-sceen-content_title p {
	float: left;
    width: 100%;
    padding-top: 10px;
    color: #999;
    text-align: left;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 22px;
    position: relative;
    z-index: 2;
	max-width:450px;
}
.split-sceen-content.dark-bg .split-sceen-content_title p {
	color:rgba(255,255,255,0.41);
}
.split-sceen-content_title {
	margin-bottom:20px;
	padding-top:20px;
}
.split-sceen-content_title:before {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 2px;
    width: 30px;
}
.split-sceen-content_title h3{
    font-size: 26px;
    text-align: left;
	text-transform: uppercase;
    color: #000;
    font-weight:800;
    float: left;
    width: 100%;
	letter-spacing:2px;
    padding-bottom: 10px;
    line-height: 34px;
}
.split-sceen-content.dark-bg  .split-sceen-content_title h3 {
	color:rgba(255,255,255,0.71);
}
.pr-bg {
	background: #2A2A2E;
	position:absolute;
	left:0;
	right:0;
	top:0;
	height:100%;
	overflow:hidden;
	z-index:100;
}
.pr-bg.pr-bg-white {
	background:#fff;
}
/*------porfolio------------------------------------------------*/
.inline-filter-panel {
	margin-bottom:50px;
}
.inline-filter_title {
	float:left;
	margin-right:40px;
	padding:15px 30px;
	text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
	color:#fff;
}
.inline-filter-panel .gallery-filters a  {
	float:left;
	margin-right:20px;
	text-align:left;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:2px;
	position:relative;
	padding-top:10px;
    color: #494949;
	font-weight: 500;
}
.inline-filter-panel .gallery-filters a:before , .inline-filter-panel .gallery-filters a:after {
	content:'';
	position:absolute;
	bottom:-18px;
	left:0;
	right:-20px;
	height:1px;
	background:#eee;
	z-index:1;
}
.inline-filter-panel .gallery-filters a:after {
	z-index:2;
	right:100%;
	height:3px;
	bottom:-19px;
 	-webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.inline-filter-panel .gallery-filters a.gallery-filter-active:after {
	right:-20px;
}
.inline-filter-panel  .folio-counter {
	position: absolute;
    right: -12px;
    top: 0;
    z-index: 1;
    font-size: 12px;
    font-weight: 700;
    color: #999;
}
.inline-filter-panel  .folio-counter div {
	width:46px;
}
.fixed-filter-panel {
	position: fixed;
	left:90px;
	bottom:-70px;
 	background: #2D2D32;
	height:60px;
	z-index:12;
	padding-right:60px;
}
.fixed-filter-panel.fw-panel  {
	right:0;
}
.fixed-filter-panel.fw-panel:before , .fixed-filter-panel.fw-panel:after {
	content:'';
	position:absolute;
}
.fixed-filter-panel.fw-panel:before {
	right:0;
	left:60%;
	top:0;
	height:100%;
	z-index:1;
	background:#2A2A2E;
}
.fixed-filter-panel.fw-panel:after  {
	width:100px;
	right:100px;
	height:1px;
	top:50%;
	z-index:2;
}
.fixed-filter-panel.top_fix-filter {
	position:relative;
	float:left;
	background: #2D2D32;
	left:2px;
	top:0;
	padding-right:0;
	width:100%;
}
.fixed-filter-panel .gallery-filters  {
	float:left;
	padding:2px 0 0 250px;
	height:60px;
	line-height:60px;
}
.fixed-filter-panel .gallery-filters a{
	float:left;
	margin-right:15px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.51);
	letter-spacing:2px;
}
.fixed-filter-panel .gallery-filters a:hover {
	color:#fff;
}
.fixed-filter-panel_title {
	position:absolute;
	width:180px;
	height:60px;
	line-height:60px;
	color:#fff;
	left:0;
	top:0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
}
.folio-counter {
	float:left;
	font-weight: 900;
    font-size: 12px;
    color: #999;
	line-height:60px;
}
.folio-counter div {
	float:left;
	margin-left:10px;
	width:40px;
	text-align:center;
	position:relative;
}
.folio-counter div.all-album:before , .round-counter div.all-album:before {
	content:'';
	position:absolute;
	left:-13px;
	width:15px;
	height:1px;
	top:50%;
}
.round-counter div.all-album:before {
	left:-6px;
	width:12px;
}
.round-counter {
	float:left;
	height:60px;
	line-height:60px;
    color: #999;
	font-size:12px;
	margin-left:20px;
	font-weight: 900;
	overflow:hidden;
	position:relative;
	top:2px;
	z-index:10;
}
.round-counter div {
	float:left;
	width:40px;
	position:relative;
}
.scroll-down-wrap {
	float: left;
	height: 100%;
	position: relative;
	margin-left: 50px;
	top:16px;
	z-index:100;

}
.scroll-down-wrap span {
	float: left;
	margin-left: 20px;
	position: relative;
	top: 8px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	color: #8B8B8B;
}
.mousey {
	float: left;
	width: 20px;
	height: 30px;
	border-radius: 4px;
	padding: 0 6px;
	border: 1px solid rgba(255, 255, 255, 0.41);
	box-sizing: border-box;
}
.scroller {
	position: relative;
	left: 50%;
	top: 6px;
	margin-left: -1px;
	width: 2px;
	height: 6px;
	border-radius: 25%;
	animation-name: scroll;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15, .41, .69, .94);
	animation-iteration-count: infinite;
}
@keyframes scroll {
	0% {
		opacity: 0;
	}
	10% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(10px);
		opacity: 0;
	}
}
.scroller2 {
	top:50%;
	margin-top:-3px;
	animation-name: scroll2;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15, .41, .69, .94);
	animation-iteration-count: infinite;
}
@keyframes scroll2 {
	0% {
		opacity: 0;
	}
	10% {

		opacity: 1;
	}
	100% {

		opacity: 0;
	}
}
.ff_panel-conainer {
	padding-bottom:60px;
}
.grid-item-holder {
	float: left;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}
.spad .gallery-item {
	padding: 6px;
}
.min-pad .gallery-item {
	padding: 2px;
}
.hid-port-info .grid-item-holder {
	overflow: hidden;
}
.grid-big-pad .gallery-item {
	padding: 12px;
}
.gallery-item,
.grid-sizer {
	width: 33.3%;
	position: relative;
	float: left;
	overflow: hidden;
}
.gallery-item-second,
.grid-sizer-second {
	width: 66.6%;
}
.four-column .gallery-item {
	width: 25%;
}
.four-column .gallery-item.gallery-item-second   , .two-column .gallery-item{
	width: 50%;
}
.gallery-item img,
.grid-sizer img {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
	background: #292929;
	-webkit-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
  	transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
}
.gallery-item:hover img {
	opacity: 0.7;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}
.grid-det {
	position:absolute;
	left:20px;
	bottom:20px;
	top:20px;
	right:100%;
	z-index:10;
	overflow:hidden;
	background:rgba(45,45,50,0.81);
}
.grid-item-holder:hover .grid-det  {
	right:20px;
 	-webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.grid-det-item  , .grid-det_category {
	position:absolute;
	bottom:20px;
	left:0;
	width:100%;
	padding:10px 30px;
	z-index:10;
	opacity:0;
	margin-top:-10px;
}
.grid-item-holder:hover  .grid-det-item , .grid-item-holder:hover  .grid-det_category{
	opacity:1;
	margin-top:0;
 	-webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
	transition-delay: 0.4s;
}
.grid-det_link {
	color:#fff;
	display:block;
	text-transform:uppercase;
	font-size:11px;
	letter-spacing:3px;
	text-align:left;
	position:relative;
}
.grid-det_link:before {
	content:'';
	position:absolute;
	left:0;
	bottom:-10px;
	width:20px;
	height:1px;
}
.grid-det_link i {
	padding-left:10px;
 	-webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.grid-det_link:hover i {
	padding-left:20px;
}
.grid-det_category {
	bottom:inherit;
	top:20px;
}
.grid-det_category a {
	float:left;
	margin-right:12px;
	text-transform:uppercase;
	font-size:9px;
	letter-spacing:2px;
	text-align:left;
}
.fet_pr-carousel-box-media-zoom , .box-media-zoom {
	position: absolute;
	top: 0;
	right: -70px;
	width: 70px;
	height: 60px;
	line-height: 60px;
	color: #fff;
	background: #35353A;
	z-index: 5;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.gallery-item:hover .fet_pr-carousel-box-media-zoom , .hov_zoom:hover .box-media-zoom  {
	right: 0;
}
.hov_zoom {
	overflow:hidden;
}
.fw_cb{
	float: right;
	margin-left:30px;
	cursor:pointer;
	color:#fff;
	position:relative;
	top:30px;
}
.fw_cb:hover{
	color:#fff;
}
.fw-carousel-control {
	height:80px;
    -webkit-transform: translate3d(0,0,0);
}
.fw-carousel-control.fsc-control {
	position:absolute;
	bottom:0;
	left:0;
	z-index:10;
}
.fw-carousel-control.fsc-control.fsc-control_anim {
	bottom:-90px;
}
.fw-carousel-control_container {
	float:left;
	width:40%;
	height:80px;
  background: rgba(255, 255, 255, 0.04);
}
.fw-carousel-counter {
	float:right;
	height:80px;
	line-height:80px;
	color:#fff;
	width:170px;
	padding-right:50px;
	text-align:right;
	text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
	position:relative;
    color: rgba(255, 255, 255, 0.61);
    letter-spacing: 4px;
	bottom:0;
}
.fw-carousel-counter:before {
	content:'';
	position:absolute;
	left:42px;
	height:20px;
	width:1px;
	top:50%;
	margin-top:-10px;
	background:rgba(255,255,255,0.11);
}
.half-scrollbar {
	float:left;
	width:60%;
	height:80px;
	position:relative;
}
.hs_init {
	position:absolute;
	left:70px;
	right:70px;
	height:1px;
	top:50%;
	background:rgba(255,255,255,0.41);
}
.flat-project_title {
	padding:90px 0 70px;
}
.flat-project_title:before {
    content: '';
    position: absolute;
    right: 0;
    width: 35%;
    top: 10%;
    bottom: 10%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.04);
}
.flat-project_title h2{
	text-align:right;
	color:#fff;
	font-weight:700;
	font-size:38px;
	line-height:46px;
	padding-right:100px;
}
.flat-project_title_link {
	font-size:10px;
	float:left;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-top:20px;
	position:relative;
}
.flat-project_title_link i {
	margin-left:10px;
	-webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.flat-project_title_link:hover i {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	color:#fff;
}
.fw-carousel-control_container .flat-project_title_link {
	margin-left:70px;
	top:12px;
}
.flat-project_title p {
	text-align:left;
	color: rgba(255, 255, 255, 0.51);
font-family: 'AvertaW03', 'Roboto', sans-serif;
	font-size:12px;
}
.flat-project_title_dec {
	float:left;
	width:50px;
	height:1px;
	position:relative;
	top:-40px;
}
.pr-title{
	float:left;
	font-size:24px;
	text-align:left;
	font-weight: 800;
	position:relative;
	padding-right:20px;
}
.pr-title:before {
	content:'';
	position:absolute;
	left:-2px;
	top:-20px;
	bottom:-20px;
	width:4px;
	z-index:-1;
	background:#fff;
}
.pr-title span {
	float:left;
	width:100%;
	padding-top:10px;
	color:#999;
	text-align:left;
	font-size:10px;
	text-transform:uppercase;
	font-weight:500;
	letter-spacing:1px;
	line-height:22px;
	position:relative;
	z-index:2;
}
.pr-tags {
	margin:20px 0;
	padding:22px 30px;
    background: #35353A;
 	text-transform: uppercase;
	letter-spacing: 2px;
	font-size:10px;
	color: rgba(255, 255, 255, 0.41);
	text-align:left;
}
.pr-tags span , .pr-tags ul , .pr-tags ul li {
	float:left;
}
.pr-tags span{
	padding-right:20px;
	border-right:1px solid rgba(255, 255, 255, 0.21);
	position:relative;
	top:2px;
}
.pr-tags ul {
	padding-left:20px;
}
.pr-tags ul li {
	margin-right:10px;
	padding-top:4px;
}
.pr-tags ul li a {
	color: rgba(255, 255, 255, 0.41);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size:10px;
}
.pr-tags ul li a:hover {
	color: rgba(255, 255, 255, 0.41);
}
.det-wrap p {
	font-size:13px;
	text-align:left;
}
.pr-list {
	float:left;
	width:100%;
	padding:30px 45px;
	margin-top:40px;
}
.pr-list li {
	float:left;
	width:100%;
	padding:10px 0;
	text-align:left;
	color: rgba(255, 255, 255, 0.41);
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 0;
	font-size:10px;
}
.pr-list li span {
	float: left;
    padding-right: 10px;
    color: #999;
}
.pr-list.pr-list-color {
	margin-bottom:40px;
}
.dec-border {
	height:1px;
	background:#eee;
	margin:10px 0 30px;
}
.pr-subtitle {
	font-size:22px;
	text-align:left;
	color:#000;
	font-weight: 800;
	float:left;
	width:100%;
	padding-bottom:20px;
	line-height:34px;
}
.pr-subtitle span.let-num {
	float:left;
	padding-right:80px;
	font-family: 'AvertaW03', 'Montserrat', sans-serif;
	font-weight: 800;
	font-size:34px;
	color:#000;
	position:relative;
	top:-6px;
}
.pr-subtitle span.let-num:before {
	content:'';
	position:absolute;
	bottom:0;
	right:10px;
	width:54px;
	height:1px;
	background:#eee;
}
.content-nav_holder {
	margin-top:100px;
	z-index:100;
}
.content-nav {
	float:left;
	position:relative;
	width:100%;
	padding:0 70px;
	background: #2D2D32;
}
.content-nav_holder:before  {
	content:'';
	position:absolute;
	right:0;
	width:50%;
	height:100%;
	background: #35353A;
}
.content-nav_holder.blog-nav:before{
	display:none;
}
.content-nav_holder.blog-nav {
	margin-top:50px;
}
.content-nav li {
	width:33.3%;
	float:left;
	position:relative;
}
.content-nav li:first-child {
	border:none;
}
.content-nav li a.ln , .content-nav li a.rn {
	color:#fff;
	font-size:12px;
	position:relative;
	width:100%;
	padding:40px 0;
}
.content-nav li a.ln  {
	text-align:left;
	float:left;
}
.content-nav li a.rn  {
	text-align:right;
	float:right;
}
.content-nav li a.ln i , .content-nav li a.rn i  , .list-folio_nav span , .content-nav li a span.tooltip , .list-folio_nav:before , .list-folio_nav:after , .box-media-zoom ,   .content-nav_mediatooltip:before {
	-webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.content-nav li a.ln:hover i ,  .content-nav li a.rn:hover i , .customNavigation a:hover i  {
	-webkit-transform: rotateX(360deg);
	transform: rotateX(360deg);
}
.content-nav li a span {
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:500;
}
.content-nav li a.ln span {
	padding-left:15px;
}
.content-nav li a.rn span  {
	padding-right:15px;
}
.content-nav li a.ln:before , .content-nav li a.rn:before {
	content:'';
	position:absolute;
	width:1px;
	height:20px;
	top:50%;
	margin-top:-10px;
	background:rgba(255,255,255,0.11);
}
.content-nav li a.ln:before {
	right:0;
}
.content-nav li a.rn:before {
	left:0;
}
.content-nav_mediatooltip {
	position:absolute;
	bottom:100%;
	overflow:hidden;
	opacity:0;
	visibility:hidden;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.content-nav li:hover .content-nav_mediatooltip {
	opacity:1;
	visibility:visible;
}
.content-nav_mediatooltip.cnmd_leftside {
	left:-70px;
	right:50%;
}
.content-nav_mediatooltip.cnmd_rightside {
	left:50%;
	right:-71px;
}
.content-nav_mediatooltip img {
	width:100%;
	height:auto;
	position:relative;
	z-index:1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.content-nav_mediatooltip:before {
	content:'';
	position:absolute;
	bottom:0;
	width:100%;
	height:0;
	left:0;
	z-index:2;
 	transition-delay: 0.3s;
    background: #35353A;
}
.content-nav li:hover .content-nav_mediatooltip:before {
	height:20px;
}
.list-folio_nav {
	width:30px;
	height:26px;
	display:inline-block;
	top:38px;
	position:relative;
}
.list-folio_nav:before , .list-folio_nav:after {
	content:'';
	position:absolute;
	left:0;
	right:0;
	height:1px;
}
.list-folio_nav:before{
	top:0;
}
.list-folio_nav:after {
	bottom:0;
}
.list-folio_nav span {
	position:absolute;
	top:50%;
	margin-top:-1px;
	height:1px;
	left:6px;
	right:6px;
	background:rgba(255,255,255,0.21);
}
.list-folio_nav:hover:before , .list-folio_nav:hover:after {
	left:6px;
	right:6px;
}
.list-folio_nav:hover span {
	left:0;
	right:0;
}
.show-info {
	position: absolute;
	bottom: 0px;
	right: 0;
	width: 80%;
	z-index: 15;
}
.show-info span {
	text-transform: uppercase;
	font-size: 10px;
	color: rgba(255, 255, 255, 0.41);
	cursor: pointer;
	letter-spacing: 2px;
	float: right;
	font-weight: 600;
	background: #2D2D32;
	padding: 10px 40px;
}
.tooltip-info {
	height: auto;
	line-height: 20px;
	padding: 15px 30px;
	font-size: 11px;
	color: #fff;
	text-align: center;
	text-indent: 0px;
	position: absolute;
	background: #35353A;
	bottom: 0;
	opacity: 0;
	right: 0;
	margin-bottom: 36px;
	visibility: hidden;
	pointer-events: none;
	text-align: left;
	z-index: 16;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.tooltip-info p {
	font-size: 11px;
 	color: rgba(255, 255, 255, 0.51);
	font-weight: 400;
	font-family: 'AvertaW03', 'Roboto', sans-serif;
}
.tooltip-info h5 {
	margin-top: 12px;
	padding: 5px 0;
	position: relative;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
 	color: rgba(255, 255, 255, 0.81);
}
.show-info:hover .tooltip-info {
	visibility: visible;
	opacity: 1;
	bottom: 0;
}
#portfolio_horizontal_container {
    height: 100%;
 	float:left;
	width:100%;
	position:relative;
	z-index:1;
}
#portfolio_horizontal_container .portfolio_item {
	width: auto;
	height: 100%;
	float:left;
	padding:2px;
	overflow:hidden;
	position:relative;
	z-index:1;
}
#portfolio_horizontal_container.no-padding .portfolio_item {
	padding:0
}
#portfolio_horizontal_container.one-ver-columns .portfolio_item {
	padding-bottom:0;
}
#portfolio_horizontal_container.two-ver-columns .portfolio_item {
	height:50% ;
}
#portfolio_horizontal_container.three-ver-columns .portfolio_item {
	height:33.3% ;
}
.one-ver-columns {
	height:100%;
}
#portfolio_horizontal_container .portfolio_item img {
	 float:left;
	 width:auto;
	position:relative;
	z-index:1;
	-webkit-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
  	transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
}
#portfolio_horizontal_container .portfolio_item:hover img {
	opacity: 0.7;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}
#portfolio_horizontal_container .portfolio_item .grid-item-holder {
	width:auto;
	height:100%;
}
.horizontal-grid-wrap {
	overflow:hidden;
	top:0;
}
.horizontal-grid-wrap.hgw_fh {
	height:100%;
}
.tabs-counter {
	position:absolute;
	right:0;
	top:-100px;
	z-index:1;
    font-size: 94px;
    font-weight: bold;
    color: #eee;
    opacity: 0.7;
	font-family: 'AvertaW03', 'Oswald', sans-serif;
}
.tabs-counter div , .tabs-counter span {
	position:relative;
	float:left;
}
.tabs-counter div {
	width:30px;
}
.tabs-counter:before {
	content:'.';
	position:absolute;
	right:-50px;
	bottom:0;
	
}

.tabs-menu {
	z-index:2;
	margin-bottom:30px;
}
.tabs-menu:before {
	content:'';
	position:absolute;
	bottom:4px;
	left:0;

	width:100%;
	height:1px;
	background:#eee;
	
}
.tabs-menu  li {
	float:left;
	margin-right:20px;
	padding:0 35px 0 0;
	height:50px;
}
.tabs-menu  li a{
	float:left;
	height:50px;
	line-height:50px;
 	font-weight:500;
	color:#494949;
	text-align:left;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:2px;
}
.tabs-menu  li a span {
	padding-right:10px;
}
.tab-content {
    width: 100%;
    padding: 20px 0;
    display: none;
}
#tab-1 {
	display: block;
}
.tabs-menu li.backLava   {
	padding:0;
	position: absolute;
	border-bottom:3px solid;
	box-sizing:border-box;
}
.plans-gal_item {
	padding:10px 0;
	position:relative;
	float:left;
	width:100%;
	margin-bottom:20px;
}
.mar-top {
	margin-top:20px;
}
.tab-content .video-box {
	overflow:hidden;
	margin:30px 0;
}
.video-box-btn {
	position:absolute;
	width:80px;
	height:80px;
	line-height:80px;
	margin:-40px 0 0 -40px;
	background: #2D2D32;
	z-index:20;
	left:50%;
	top:50%;
	box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.2);
	border-radius:100%;
	 -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.video-box-btn:hover   {
	box-shadow: 0px 0px 0px 17px rgba(255,255,255,0.2);
}
.pr-view {
	float:left;
	margin-top:10px;
	text-transform:uppercase;
	font-size:12px;
	letter-spacing:2px;
	position:relative;
	font-weight:800;
}
.pr-view i {
	padding-left:10px;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear
}
.pr-view:hover i {
	padding-left:20px;
}
.pr-view:before {
}
.fixed-column {
	overflow:hidden;
}
.fixed-column-top {
	position:absolute;
	bottom:0;
	right:-40px;
	width:40px;
	height:80px;
	line-height:80px;
	background: #35353A;
	cursor:pointer;
}
/*-------------accordion---------------------------------------*/
.accordion {
	float: left;
	width: 100%;
	position: relative;
}
.accordion a.toggle {
	border: 1px solid #eee;
	padding: 18px 50px 18px 30px;
	float: left;
	width: 100%;
	position: relative;
	background: #f9f9f9;
	box-sizing: border-box;
	text-align: left;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	font-family:  'AvertaW03' ,'Roboto', sans-serif;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	margin-bottom: 15px;
}
.accordion a.toggle span {
	position: absolute;
	right: -1px;
	top: -1px;
	bottom: -1px;
	width: 60px;
	background: #35353A;
}
.accordion a.toggle span:before,
.accordion a.toggle span:after {
	content: '';
	position: absolute;
	background: #fff;
	top: 50%;
	left: 50%;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.accordion a.toggle span:before {
	width: 10px;
	height: 2px;
	margin-top: -1px;
	margin-left: -5px;
}
.accordion a.toggle span:after {
	width: 2px;
	height: 10px;
	margin-top: -5px;
	margin-left: -1px;
}
.accordion a.toggle.act-accordion {
	color: #fff;
	background: #35353A;
	border-color: transparent;
}
.accordion a.toggle.act-accordion span:after {
	height: 0;
}
.accordion-inner {
	display: none;
	float: left;
	width: 100%;
	position: relative;
	padding: 15px 30px;
	background: #fff;
	margin: 0 0 15px;
	text-align: left;
	border: 1px solid #eee;
}
.accordion-inner.visible {
	display: block;
}
/*------Footer------------------------------------------------*/
.height-emulator {
	z-index:1;
}
.main-footer{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	background: #262627;
	z-index:2;
}
.main-footer:before {
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	width:50%;
	background: #2D2D32;
	height:90px;
}
.subfooter {
    background: #2D2D32;
    height: 90px;
    z-index: 3;
}
.policy-box {
    float: left;
	color: rgba(255, 255, 255, 0.41);
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
	line-height:90px;
}
.footer-inner {
	padding:120px 0 170px;
}
.footer-logo {
	float:left;
	height:30px;
}
.footer-box {
	text-align:left;
	margin-top:40px;
}
.footer-box p {
	font-family: 'AvertaW03', 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.41);
}
.footer_text {
	padding-right:50px;
	margin-top:50px;
}
.footer_text:before {
	content:'';
	position:absolute;
	bottom:-40px;
	left:0;
	width:50px;
	height:1px;
}
.footer-contacts span {
	padding-right:30px;
	min-width:100px;
	float:left;
}
.footer-contacts li{
	text-align:left;
	color: rgba(255, 255, 255, 0.41);
	font-size:12px;
	letter-spacing:2px;
	text-transform:uppercase;
	padding-bottom:10px;
}
.footer-contacts li a {
	color: rgba(255, 255, 255, 0.81);
}
.footer-logo img {
	height:100%;
	width:auto;
	float:left;
}
.footer-header {
	text-align:left;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:2px;
	padding-top:10px;
	font-weight:bold;
	margin-bottom:15px;
	background: #262627;
	color: rgba(255, 255, 255, 0.41);
}
.footer-header span {
	position:absolute;
	right:0;
	top:0;
	font-size:16px;
}
.footer-header:before {
	content:"";
	position:absolute;
	bottom:4px;
	left:100px;
	right:0;
	height:1px;
	background:rgba(255, 255, 255, 0.21);
}
.subcribe-form {
	margin-top: 42px;
}
.subcribe-form input.enteremail {
	float: left;
	width: 100%;
	border: none;
	background: bottom;
	padding: 15px 100px 15px 0;
	position: relative;
	z-index: 1;
	color: #fff;
	border-bottom:1px solid rgba(255, 255, 255, 0.21);
}
.subcribe-form input.enteremail::-webkit-input-placeholder {
	color: #fff;
	font-weight: 400;
	font-size: 12px;
}
.subcribe-form .subscribe-button {
	position: absolute;
	top: 15px;
	right: 0;
	width: 100px;
	z-index: 2;
	color: #fff;
	background:none;
	border: none;
	cursor: pointer;
	text-align:right;
	text-transform:uppercase;
	font-size:10px;
	letter-spacing:2px;
}
.subcribe-form .subscribe-button i {
	padding-left: 10px;
}
.subscribe-message {
	margin-top: 10px;
	text-align: left;
	color: #fff;
	float:left;
	width:100%;
}
.to-top-btn {
	float:right;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
	font-weight:600;
    height: 90px;
    line-height: 90px;
    color: #fff;
    width: 180px;
	background:#35353A
}
.to-top-btn i {
	padding-left:10px;
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
}
.to-top-btn:hover i  , .fc_button i{
	padding-left:20px;
}
.to-top-btn:hover i {
	color:#fff;
}
.fc_button {
	float:left;
	margin-top:20px;
	border: 1px solid rgba(255, 255, 255, 0.08);
	padding:12px 20px;
	color: #767676;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
	font-weight:600;
}
.fc_button:hover {
	color:#fff;
	border-color:transparent;
}
/*------share------------------------------------------------*/
.share-button {
	position:fixed;
	bottom:0;
	z-index:20;
    -webkit-transform: translate3d(0,0,0);
	cursor:pointer;
	width:90px;
	left:0;
	height:90px;
}
.share-button span {
	display:block;
	top:22px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
	letter-spacing:3px;
	position:relative;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
	color:rgba(255,255,255,0.41);
}
.share-button:hover span {
	color:#fff;
}
.share-button:before , .share-button:after {
	content:'';
	position:absolute;
}
.share-button:before {
	width:12px;
	height:1px;
	bottom:17px;
	left:50%;
	margin-left:-6.5px;
}
.share-button:after {
	bottom:12px;
	left:50%;
	width:1px;
	height:12px;
	-webkit-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
.uncl-share:after {
	height:0;
}
.share-icon {
    width:100%;
	float:left;
    margin-bottom:14px;
	position:relative;
	font-size:10px;
	color: #fff;
	text-align:left;
	letter-spacing:3px;
	color: rgba(255, 255, 255, 0.41);
	text-transform:uppercase;
	opacity:0;
}
.share-icon:after {
	content:'';
	position:absolute;
	left:-30px;
	width:0;
	height:1px;
	top:50%;
}
.share-icon:hover:after {
	width:20px;
}
.share-wrapper {
	position:fixed;
	bottom:0;
	left:90px;
	width:0;
    background: #262627;
	z-index:100;
	overflow:hidden;
	height:300px;
    -webkit-transform: translate3d(0,0,0);
}
.share-container {
	padding:110px 50px 30px;
	overflow:hidden;
}
.close-share-btn {
	position:absolute;
	right:0;
	top:-60px;
	width:100%;
	height:60px;
	line-height:60px;
    background: #2D2D32;
	z-index:10;
	cursor:pointer;
	font-size:10px;
	text-align:right;
	padding-right:40px;
	letter-spacing:2px;
	color: rgba(255, 255, 255, 0.41);
	text-transform:uppercase;
	opacity:0;
}
.share-icon , .share-icon:after , .close-share-btn i {
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
}
.close-share-btn i {
	padding-right:15px;
}
.close-share-btn:hover i {
	padding-right:25px;
}
/* ------Team------------------------------------------------------------ */
.team-box {
	float: left;
	width: 50%;
	position: relative;
	padding: 0 20px 0 0;
	background:#fff;
	margin-top:20px;
}
.team-photo {
	overflow: hidden;
	position: relative;
}
.team-photo .overlay {
	opacity: 0;
	z-index: 2;
	background: #000;
	-webkit-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}
.team-social {
	position: absolute;
	bottom:-50px;
	left: 0;
	z-index: 15;
}
.team-social li {
	float:left;
	position:relative;
}
.team-social li:before {
	content:'';
	position:absolute;
	right:0;
	width:1px;
	height:10px;
	top:50%;
	margin-top:-5px;
	background:rgba(255,255,255,0.21);
	z-index:2;
}
.team-social li:last-child:before {
	display:none;
}
.team-social li a {
	width:50px;
	height:50px;
	line-height:50px;
    background: #2D2D32;
	display:block;
}
.team-social li a:hover {
   color: #fff;
}
.team-social, .team-photo a , .team-contact_btn {
	-webkit-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}
.team-box:hover .team-photo .overlay {
	opacity: 0.3;
}
.team-box:hover .team-social{
	bottom:0;
}
.team-contact_btn {
	position:absolute;
	right:0;
	top:-50px;
	width:50px;
	height:50px;
	line-height:50px;
	color:#fff;
	z-index:3;
}
.team-contact_btn:hover {
	color:#292929;
}
.team-box:hover .team-contact_btn {
	top:0;
}
.team-info {
	float: left;
	width: 100%;
	text-align: left;
	padding: 20px 0 0;
}
.team-info h3,
.team-info h4 {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	font-weight: 600;
	font-size: 16px;
}
.team-info h3 {
	padding-bottom:5px;
}
.team-info h4 {
	font-size: 10px;
	letter-spacing:2px;
	color: #666;
	font-weight: 600;
	text-transform: uppercase;
}
.bg.dec-bg {
	width:inherit;
	height:inherit;
	left:50%;
	right:0;
	top:40%;
	bottom:0;
	opacity:0.1;
}
.bg.dec-bg.left-pos-dec {
	left:-10%;
	right:40%;
}
/* ------facts------------------------------------------------------------ */
.facts-holder:before  {
	content:'';
	position:absolute;
	left:60%;
	right:0;
	top:0;
	height:100%;
    background: rgba(255, 255, 255, 0.04);
}
.inline-facts-wrap {
	float: left;
	width:25%;
	position: relative;
	text-align: left;
	margin-bottom:25px;
}
.inline-facts-wrap .num {
	font-size: 30px;
	font-weight: 800;
	color: #000;
	font-family: 'AvertaW03', 'Roboto', sans-serif;
}
.inline-facts-wrap h6 {
	position: relative;
	margin-top: 12px;
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-left:20px;
}
.inline-facts-wrap h6:before {
	content:'';
	position:absolute;
	left:0;
	width:1px;
	height:20px;
	top:50%;
	margin-top:-10px;
}
.inline-facts-container {
	padding:15px 0;
}
/* --------- Skills --------------------------------------*/
.skillbar-box {
	float:left;
	width:100%;
	position:relative;
}
.skillbar-bg {
	position:relative;
	display:block;
	float:left;
	width:100%;
	height:8px;
	overflow:hidden;
	background:#2D2D32;
}
.custom-skillbar-title span {
	float:left;
	font-size:12px;
	margin-top:12px;
	padding-bottom:6px;

}
.custom-skillbar {
	height:8px;
	width:0px;
}
.skill-bar-percent {
	float:right;
	font-size:14px;
	font-weight:400;
	margin-top:13px;
	padding-bottom:6px;
	color:#999
}
/*------ testimonials------------------------------------------------*/
.testi-item p{
	text-align:left;
	padding:35px 20px 25px;
	background:#fff;
	border:1px solid #eee;
	font-style:italic;
	color:#999;
	font-size:12px;
}
.testilider .swiper-slide.swiper-slide-active .testi-item p {
	color:#666;
}
.testi-item h3 {
	font-size:18px;
	padding-bottom:14px;
	font-weight:700;
	text-align:left;
}
.teti-link{
	float:left;
	margin-top:12px;
	font-weight:600;
	border-bottom:1px dotted #ccc;
	color:#666;
	font-size:10px;
	letter-spacing:2px;
	text-transform:uppercase;
}
.testi-avatar  , .testi-avatar img{
	width:50px;
	height:50px;
	border-radius:100%;
}
.testi-avatar {
	position:absolute;
	right:20px;
	top:-20px;
	opacity:0;
	overflow:hidden;
	border:1px solid #eee;
}
.testilider .swiper-slide.swiper-slide-active .testi-item  .testi-avatar{
	top:20px;
	opacity:1;
}
.testi-avatar , .testi-item p {
	-webkit-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}
.single-slider img {
	width:100%;
	height:auto;
}
.testilider-controls {
	float:left;
	position:relative;
	padding:0 50px;
	height:50px;
	margin-top:40px;
}
.ss-slider-controls {
	position:absolute;
	bottom:-25px;
	height:50px;
	padding:0 50px;
	right:50px;
	z-index:10;
}
.ss-slider-btn , .ss-slider-cont{
	position:absolute;
	top:0;
	width:50px;
	height:50px;
	color:#fff;
	cursor:pointer;
	font-size:10px;
	line-height:50px;
}
.ss-slider-prev ,   .ss-slider-cont-prev {
	left:0;
}
.ss-slider-next ,   .ss-slider-cont-next {
	right:0;
}
.tc-pagination , .ss-slider-pagination {
	height:50px;
	line-height:48px;
	padding:0 50px;
	background: #2D2D32;
}
.tc-pagination  .swiper-pagination-bullet , .ss-slider-pagination .swiper-pagination-bullet  {
	background:rgba(255,255,255,0.21);
	margin:0;
	padding:0;
	height:1px;
	border-radius:0;
	opacity:1;
	width:25px;
	position:relative;
	top:-2px;
}
/*------contacts------------------------------------------------*/

.map-container.mc_big , #map-single {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}
.cont-det-wrap {
	padding:50px 50px;
	position:absolute;
	bottom:-70px;
	right:100px;
	width:350px;
	z-index:2;
}
.cont-det-wrap li {
	text-align:left;
	display:block;
	margin-bottom:20px;
    text-align: left;
    color: rgba(255, 255, 255, 0.81);
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 0;
    font-size: 10px;
}
.cont-det-wrap li strong {
    color: rgba(255, 255, 255, 0.41);
	float:left;
	padding-right:4px;
}
.cont-det-wrap li span {
    float: left;
    padding-right: 10px;
}
.cont-det-wrap li:last-child {
	margin-bottom:0;
}
.cont-det-wrap li:hover a{
	color:#fff;
}
.contact-details {
	margin-bottom:120px;
}
.contact-details li{
	float:left;
	margin-right:10px;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:2px;
	text-align:left;
}
.contact-details li .cont-link {
	float:left;
	width:100%;
	display:block;
	position:relative;
    font-weight: 800;
	color:#666;
	margin-top:10px;
}
.contact-details li .cont-link a {
	color:#666;
}
.contact-details li .cont-link:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px dotted #ccc;
}
.custom-form {
	float: left;
	width: 100%;
	position: relative;
}
#contact-form {
	max-width:700px;
}
.custom-form .selectbox {
	float: left;
	width: 100%;
	color: #292929;
	border-radius: 4px;
	margin-bottom: 20px;
	z-index: 100;
	border: 1px solid #eee;
	background: #fff;
	color: #888DA0;
	font-weight: 600;
	font-size: 12px;
	position: relative;
}
.custom-form .sel-dec .selectbox .select:before {
	font-family: Font Awesome\ 5 Pro;
	content: '\f142';
	position: absolute;
	top: 50px;
	left: 10px;
	height: 20px;
	line-height: 20px;
	margin-top: -10px;
	z-index: 22;
	font-size: 16px;
	font-weight: 300;
	color: #ccc;
}
.custom-form .selectbox .trigger .arrow {
	border-top: 5px solid #666;
	right: 20px;
}
.custom-form textarea,
.custom-form input[type="text"],
.custom-form input[type=email],
.custom-form input[type=password] {
	float: left;
	border: none;
	border: 1px solid #eee;
	background: #fff;
	width: 100%;
	padding: 15px 20px;
	color: #666;
	font-size: 12px;
	-webkit-appearance: none;
	line-height: auto;
}
.custom-form input::-webkit-input-placeholder,
.custom-form textarea::-webkit-input-placeholder {
	color: #888DA0;
	font-weight: 600;
	font-size: 12px;
	position: relative;
}
.custom-form input:-moz-placeholder,
.custom-form textarea:-moz-placeholder {
	color: #888DA0;
	font-weight: 600;
	font-size: 13px
}
.custom-form textarea {
	height: 200px;
	resize: none;
	padding: 25px 30px;
	-webkit-appearance: none;
	 border: 1px solid #eee;
}
.custom-form input {
	margin-bottom: 20px;
}
.custom-form button {
	padding: 0 85px 0 45px;
	outline: none;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
	height:44px;
	line-height:44px;
	float:left;
	position:relative;
	color:#fff;
	font-size:16px;
	font-weight:400;
	margin:25px 0 15px;
}
.custom-form button i {
	position:absolute;
	right:0;
	width:44px;
	height:44px;
	line-height:44px;
	background: #2A2A2E;
	top:0;
}
#message {
	text-align:left;
	float:left;
	width:100%;
	padding-bottom:20px;
	color:#000;
}
#message h1 {
	font-size:16px;
	padding-bottom:10px;
}
#message p strong {
	font-weight:800px;
	color:#000;
}
.verify-text {
	margin: 30px 0 30px;
	text-align: left;
	color: #666;
	font-size: 13px;
	float: left;
	font-weight: 600;
}
.custom-form .verify-wrap .selectbox {
	float: left;
	width: inherit;
	margin: 10px 0 0 20px;
	line-height: 10px;
}
.custom-form .verify-wrap .selectbox .text {
	top: 0px;
}
.verify-wrap {
	float: left;
}
.verify-wrap label {
	width: inherit;
	position: relative;
	margin-right: 30px;
}
.no-padding {
	padding: 0;
}
.serv-text {
	padding-top:50px;
}
.serv-text:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:70px;
	height:1px;
}
.serv-price-wrap {
	float:right;
	padding:15px 30px;
	margin-top:30px;
  	color: rgba(255, 255, 255, 0.81);
    font-size: 10px;
    text-transform: uppercase;
	letter-spacing:2px;
}
.serv-price-wrap  span {
	float:left;
	padding-right:15px;
	margin-right:15px;
	position:relative;

}
.serv-price-wrap  span:before {
	content:'';
	position:absolute;
	top:0;
	right:0;
	width:1px;
	height:30px;
	top:50%;
	margin-top:-15px;
	background:rgba(255,255,255,0.21)
}
.order-wrap {
	padding:25px 40px;
	z-index:4;
	margin:10px 0 60px;
}
.order-wrap:before {
	content:'';
	position:absolute;
	left:0;
	height:100%;
	z-index:0;
	width:60%;
	background:#35353A;
	top:0;
}
.order-wrap h4 {
    float: left;
    padding-left: 60px;
    position: relative;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    color: #8B8B8B;
    top: 12px;
}
.order-wrap h4:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 1px;
    margin-top: -1px;
}
.order-wrap a{
    float: right;
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 12px 20px;
    color:rgba(255, 255, 255, 0.78);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 600;
}
.order-wrap a i {
	padding-left:10px;
}
/*------Blog------------------------------------------------*/
.parallax-header {
	margin-bottom: 20px;
	background: #35353A;
	padding: 15px 20px;
	float: left;
	position: relative;
	z-index: 20;
}
.right-parallax-header {
	float: right;
}
.parallax-header span,
.parallax-header a {
	float: left;
	margin-right: 20px;
	text-transform: uppercase;
	color: #fff;
	font-size: 10px;
	letter-spacing: 2px;
}
.pagination {
	margin:20px 0 40px;
	text-align:center;
	float:left;
	width:100%;
	z-index:10;
	position:relative;
}
.pagination  a {
	float:left;
	width:60px;
	height:54px;
	line-height:54px;
	box-sizing:border-box;
	position:relative;
	font-size:11px;
	color:#888DA0;
    background: #35353A;
	letter-spacing:1px;
}
.pagination a.current-page, .pagination a:hover {
    color:#fff;
}
.pagination  a i {
	font-size:12px;
}
.post-opt {
	margin-bottom:20px;
}
.post-opt  li {
	float:left;
	margin-right:10px;
	font-size:10px;
	letter-spacing:1px;
	text-transform:uppercase;
	font-weight:600;
}
.post-opt  li a , .post-opt  li span {
	color:#666;
}
.post-opt  li i {
	padding-right:10px;
}
.article .column-wrap-media {
	margin-bottom:30px;
}
.article .column-wrap-text p{
	text-align:justify;
}
.single-post-comm {
	margin-top: 0;
	padding-top: 0;
	text-align:left;
}
#comments-title,
#reply-title {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 5px;

	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	color: #666;
}
#comments-title {
	margin-top:20px;
	padding-bottom:20px;
}
.comment {
	float: left;
	padding-left: 20px;
}
.comment-body {
	position: relative;
	margin-left: 80px;
	padding-top: 30px;
}
.comment-body p {
	padding:25px 20px;
	background:#f9f9f9;
}
.comment-author {
	position: absolute;
	top: 30px;
	left: -76px;
}
.comment-author img {
	border-radius: 100%;
}
.comment .children {
	margin-left: 70px;
}
.fn {
	display: block;
	margin-bottom: 10px;
}
.comment-meta,
.comment-meta a {
	font-family: 'AvertaW03', Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 11px;
	letter-spacing: 1px;
	color: #494949;
	padding-bottom: 10px;
}
#respond {
	margin-top: 40px;
}
#reply-title {
	padding-bottom: 30px;
	margin-bottom: 5px;
}
.comment-reply-form {
	margin-top:30px;
	max-width:650px;
}
.post-author {
	margin-top:30px;
	float:left;
	border-bottom:1px solid #eee;
	border-top:1px solid #eee;
	padding:20px 0;
}
.author-img {
	float:left;
	width:15%;
}
.author-content {
	float:left;
	width:85%;
	padding-left:10px;
}
.author-img img {
	border-radius:100%;
	float:left;
	width:80px;
	height:80px;
}
.author-content h5 {
	font-size:14px;
	letter-spacing:2px;
	text-transform:uppercase;
	margin-bottom:14px;
	color:#000;
	display:block;
	float:left;
	font-weight:500;
}
.author-content p {
	margin-bottom:8px;
	float:left;
	width:100%;
}
.author-social {
	float:right;
	background:#fff;
	position:relative;
}
.author-social:before {
	content:'';
	position:absolute;
	right:100%;
	margin-right:50px;
	top:50%;
	width:150px;
	height:1px;
	background:#eee;
}
.author-social li {
	float:left;
	position:relative;
	width:46px;
	height:46px;
	line-height:46px;
	background:#fff;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.author-social li:first-child {
	border-left:1px solid #eee;
}
.author-social li:before {
	content:'';
	position:absolute;
	right:0;
	top:0;
	width:1px;
	height:46px;
	background:#eee;
}
.author-social li a {
	color:#999;
}
/*------ Video ------------------------------------------------*/
.media-container {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:-1;
}
.video-mask {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}
.mob-bg {
	display:none;
}
.video-holder{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden !important;
    top: 0;
    left: 0;
    padding: 0 !important;
}
.video-holder iframe  {
    position: absolute;
    top: -75px;
    left: 50%;
    width: 100%;
    height: 100%;
    display: block;
	overflow:hidden;
}
.resp-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-bottom: 20px;
}
.resp-video iframe,
.resp-video object,
.resp-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*------404------------------------------------------------*/
.error-wrap {
	top:30%;
	z-index:20;
}
.error-wrap h2 {
	font-size: 134px;
	color: #fff;
	font-weight: 900;
	line-height:120px;
}
.error-wrap p {
	color: rgba(255, 255, 255, 0.91);
	font-size: 12px;
	text-align:center;
	letter-spacing:2px;
	text-transform:uppercase;
}
.error-wrap form {
	margin: 30px auto 20px;
	max-width: 550px;
	overflow: hidden;
	position: relative;
}
.error-wrap form input {
	float: left;
	width: 100%;
	border: none;
	background: #fff;
	height: 50px;
	padding: 0 100px 0 20px;
	z-index: 1;
}
.error-wrap form #err_submit_btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 50px;
	line-height: 50px;
	z-index: 2;
	color: #fff;
	border: none;
	cursor: pointer;
}
.error-wrap form .search-submit:hover {
	background: #292929;
}
.error-wrap .err-btn{
	display: inline-table;
	margin-top: 10px;
	padding:15px 20px;
	background:#292929;
	color:#fff;
	font-size:10px;
	letter-spacing:2px;
	text-transform:uppercase;
}
.error-wrap .err-btn i {
	padding-left:12px;
}
.sec-lines {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 1;
}
.line-item {
	float: left;
	width: 20%;
	height: 100%;
	box-sizing: border-box;
	border-right: 1px solid rgba(255, 255,255, 0.1);
	height: 100%;
	position: relative;
}
.sec-lines .container {
	width:100%;
}
.line-item:first-child {
	border-left: 1px solid rgba(255, 255,255, 0.1);
}
/*------responsive------------------------------------------------*/
@media only screen and (max-width: 1224px) {
.option-panel {
	width:50%;
}
.hero-start-link.hero-start-link_mlt {
	width: calc(80% - 100px);
}
.fw-carousel-control_container {
	width:70%;
}
.half-scrollbar {
	width:30%;
}
.four-column .gallery-item {
	width:33.3%;
}
.four-column .gallery-item.gallery-item-second {
	width:66.6%;
}
}
@media only screen and (max-width: 1064px) {
#wrapper {
	left:0;
}
.left-panel , .share-button:before , .share-button:after , .header-contacts , .progress-bar-wrap , .scroll-nav-wrap , .height-emulator  , .flat-project_title_dec , .tabs-counter , .hor-mob-filter:before , .hor-mob-filter:after   {
	display:none;
}
.hor-mob-filter {
	left:0;
}
header.main-header {
	padding-left:30px;
}
.share-button {
	top:0;
	width:90px;
	left:190px;
	height:90px;
    -webkit-transform: translate3d(0,0,0);
}
.share-button span {
	display:inline-table;
	top:30px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.share-button span:before {
	content:'';
	position:absolute;
	left:0;
	right:0;
	bottom:-4px;
	height:1px;
}
.share-wrapper {
    bottom: inherit;
	top:90px;
}
.hero-start-link.hero-start-link_mlt , .fixed-column-wrap , .column-wrap , .fixed-column-wrap-content  , .hero-start-link    , section.hero-section:before  {
	width:100%;
}
.page-load , .share-wrapper  {
	left:0px;
}
.hero-start-link  {
	z-index:50;
    background: #2A2A2E;
}
.hero-bg {
	right:0;
	left:0;
}
section.hero-section:before {
	background: #323236;
}
section.hero-section {
    padding: 100px 0 75px;
}
.multi-slideshow-wrap_1 , .multi-slideshow-wrap_2   {
	bottom:70px;
}
.hero-title {
	top:25%;
}
.fixed-column-wrap , .fixed-column-wrap-content {
	position:relative!important;
	float:left;
	top:0;
	height:auto !important;
}
.fixed-column-wrap-content.map-mobile {
	height:400px !important;
	padding:0;
}
.fixed-column-wrap-content  {
	padding:150px 0 50px;
}
.fixed-column-wrap_title {
    position: relative;
    bottom:0;
    left:0;
    right:0;
    z-index: 21;
    text-align: left;
	margin:0 auto;
    max-width: 824px;
	width:92%;
}
.fixed-column-wrap_title p {
	text-align:left;
	float:left;
}
.fixed-column-wrap_title h2:before{
	right:inherit;
	left:0;
}
.main-footer {
	position:relative;
	float:left;
	width:100%;
	left:0;
}
.footer-inner {
    padding: 50px 0 70px;
}
.fc_button  {
	margin-bottom:50px;
}
.subcribe-form {
	margin-top:0;
}
#subscribe {
	max-width:550px;
}
.show-case-slider-wrap ,   .mob-carusel {
	height:400px;
	overflow:hidden;
}
.flat-project_title h2 {
    text-align: left;
    font-size: 32px;
    line-height: 44px;
    padding-right: 0;
}
.tabs-menu {
	margin-top:30px;
}
.gallery-item , .gallery-item.gallery-item-second {
	width:50% !important;
}
.ff_panel-conainer {
	padding-bottom:0;
}
.in-filter_mobpanel {
	float:left;
	width:100%;
	position:relative;
	left:0;
	height:auto;
	padding-right:0;
}
.in-filter_mobpanel  .gallery-filters{
	height:auto;
}
section , section.no-padding-bottom {
	padding-top:40px;
}
.mob-bg {
	display:block;
}
.section-number.right_sn {
	right:0;
	overflow:hidden;
}
.frbg {
	height:100%;
	padding-bottom:80px;
}	
}
@media only screen and (max-width: 768px) {
.hero-slider-wrap_halftwo {
    left: 0;
	bottom:60px;
}
#portfolio_horizontal_container , .horizontal-grid-wrap    {
	float:left;
	width:100%;
}
.horizontal-grid-wrap  {
	overflow:auto !important;
}
#portfolio_horizontal_container .portfolio_item  , #portfolio_horizontal_container .portfolio_item .grid-item-holder , #portfolio_horizontal_container .portfolio_item .grid-item-holder img {
	width: 100%;
	height: auto !important;
}
.option-panel .slide-progress-container , .hero-start-link:after , .hero-start-link:before  , .half-scrollbar , .content-nav li a.rn span , .content-nav li a.ln span , .inline-filter-panel  .folio-counter {
	display:none;
}
.option-panel .swiper-counter {
	width:inherit;
	margin-left:10px;
}
.half-hero-wrap h1 , .hero-section .section-title h2, .hero-title .section-title h2 {
    font-size: 35px;
	line-height:45px;
}
.half-hero-wrap h4 {
    font-size: 12px;
	max-width:350px
}
.fw-carousel-control_container , .inline-filter_title , .to-top-btn  {
	width:100%;
}
.inline-facts-wrap {
	width:50%;
}
.inline-filter_title {
	margin-right:0;
	margin-bottom:15px;
}
.content-nav {
	padding:0 30px;
}
.content-nav_holder:before {
	width:100%;
	background: #2D2D32;
}
.content-nav li a.ln, .content-nav li a.rn {
    padding: 30px 0;
}
.list-folio_nav {
	top:28px;
}
.hor-mob-filter .gallery-filters{
	position:absolute;
	bottom:60px;
	height:auto !important;
	display:none;
	width:100%;
    background: #35353A;
	left:0;
	padding:35px 30px;
	text-align:left;
}
.hor-mob-filter .gallery-filters a {
	width:100%;
	line-height:35px;
}
.hor-mob-filter  .round-counter {
	margin-left:190px;
}
.start-btn {
	width:140px;
}
}
@media only screen and (max-width: 640px) {
.option-panel {
	width:180px;
	padding-left:0;
}
.option-panel .swiper-counter , .rotate_text , header.main-header:before , .nav-button-wrap:before , .in-filter_mobpanel .folio-counter  , .order-wrap:before  , .start-btn  {
	display:none;
}
.half-hero-wrap {
	left:50px;
	top:25%;
	padding-right:50px;
}
.hlaf-slider-pag {
	right:10px;
}
.hero-title {
	top:35%;
}
.fw-carousel-control_container .flat-project_title_link {
    margin-left: 20px;
}
.carousel-title-wrap {
    padding: 40px 20px 30px;
}
.nav-button {
    left: 0;
}
.team-box  {
	width:100%;
	padding:0;
}
.show-case-slider-wrap , .mob-carusel {
	height:300px;
}
.tabs-menu li {
    float: left;
    margin-right: 10px;
    padding: 0 15px 0 0;
}
.gallery-item , .gallery-item.gallery-item-second {
	width:100% !important;
}
.in-filter_mobpanel  .fixed-filter-panel_title {
	width:100%;
	position:relative;
	float:left;
}
.in-filter_mobpanel  .gallery-filters{
	padding-left:10px;
}
.order-wrap {
	margin-top:30px;
}
.order-wrap a {
	float:left;
	margin-top:40px;
}
.nav-scroll-bar-wrap {
	padding:50px 40px 100px 50px;
}
nav.nav-inner {
	margin-top:50px;
}
.lang-links  {
	margin-top:90px;
}
.cont-det-wrap {
    padding: 50px 50px;
    position: relative;
	float:left;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}
}
@media only screen and (max-width: 560px) {
.nav-holder {
    width: 300px;
}
.nav-scroll-bar-wrap {
    padding: 50px 10px 100px 30px;
}
.nav-social_title {
	display:none;
}
.share-button {
    left: 160px;
}
header.main-header {
    padding: 0 0 0 20px;
}	
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.bg {
		background-attachment: scroll !important;
		-webkit-background-size: cover;
		background-position: center;
	}
}