$white:    #fff ;
$gray-100: #F5F5F5 ;
$gray-200: #EEEEEE ;
$gray-300: #E0E0E0 ;
$gray-400: #BDBDBD ;
$gray-500: #9E9E9E ;
$gray-600: #757575 ;
$gray-700: #616161 ;
$gray-800: #424242 ;
$gray-900: #212121 ;
$black:    #000 ;


$blue:    #00a88d ;
$indigo:  #3F51B5 ;
$purple:  #9C27B0 ;
$pink:    #E91E63 ;
$red:     #F44336 ;
$orange:  #e45214 ;
$yellow:  #FFEB3B ;
$green:   #4CAF50 ;
$teal:    #00a88d ;
$cyan:    #00BCD4 ;

$rfs-rem-value: 16;
$enable-responsive-font-sizes: true;


$font-family-sans-serif:    'AvertaW03', 'Roboto', sans-serif;

$primary:       $blue ;
$secondary:     $gray-600 ;
$success:       $green ;
$info:          $cyan ;
$warning:       $orange ;
$danger:        $red ;
$light:         $gray-100 ;
$dark:          $gray-800 ;

$border-radius: 0;