.embed-responsive-product {
  &::before {
    padding-top: percentage(356/264);
  }
}

.embed-responsive-img {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 0;
  overflow: hidden;
}

