{% from 'macros/helpers.html' import sprite %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>LE FRUIT &#8211; Les Vergers Du Mekon</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="css/plugins.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/core.css">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="images/favicon.ico">


</head>

<body>
    <!--Loader -->
    <div class="loader2">
        <div class="loader loader_each"><span></span></div>
    </div>
    <!-- loader end  -->
    <!-- main start  -->
    <div id="main">

        {% include "layouts/header.html" %}

        <div id="wrapper">
            {% block content %}


            {% endblock %}

        </div>
        {% include "layouts/search.html" %}

    </div>

    <div class="hotline d-block d-md-none">
        <div class="phonecall-animation show-for-small-only">
            <div class="phonecall-ring"></div>
            <div class="phonecall-ring-circle"></div>
            <div class="phonecall-icon">
                <a href="tel:19999" style="color: inherit;">
                    <i class="fa fa-phone fa-rotate-90 "></i>
                </a>
            </div>
        </div>
    </div>

    {% include 'layouts/noel-theme.html' %}

    {% block javascript %}

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/lazysizes.min.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <!-- <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script> -->
    <!-- <script type="text/javascript" src="js/tingle.min.js"></script> -->
    <script type="text/javascript" src="js/aos.js"></script>
    <script type="text/javascript" src="js/core.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>



    <script src="js/custom.js"></script>


    {% endblock %}

    {% block testJS %}
    {% endblock %}
</body>

</html>