<div class="height-emulator fl-wrap"></div>



<footer class="main-footer fixed-footer">
    <div class="pr-bg"></div>
    <div class="container">

        <div class="subfooter row align-items-center justify-content-between">
            <!-- policy-box-->
            <div class="policy-box">
                <span>&#169; Les Vergers du Mekong, 2019. </span>
            </div>
       
            <div class="footer-social position-relative text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>

                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>

                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>

                    
                    <li class="list-inline-item"> <a href="" class="text-nowrap">Hotline : 1900 2055</a></li>
                </ul>
            </div>
            <div class="d-flex flex-wrap align-items-center site-footer-mm">
                <div class="footer-social position-relative text-center site-footer-nav ">
                    <ul class="list-inline">
                        <li class="list-inline-item"> <a href="" class="">Career</a></li>
                        <li class="list-inline-item"> <a href="" class="">Contact</a></li>
                    </ul>
                </div>
    
                <!-- policy-box end-->
                <a href="#" class="to-top-btn to-top">Back to top <i class="fal fa-long-arrow-up"></i></a>
            </div>

         
        </div>
    </div>

</footer>