<!-- Navigation panel -->
<nav class="main-nav js-stick">
    <div class="container relative clearfix">
        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <a href="index.html" class="logo">
                <!-- <img src="images/new-logo.svg" alt="" width="200" /> -->
                <img src="images/new-logo-christmas.svg" alt="" width="200" />
            </a>
        </div>

     

        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <ul class="clearlist">

                <!-- Item With Sub -->
                <li>
                    <a href="#" class="mn-has-sub">About us <i class="fa fa-angle-down"></i></a>

                    <!-- Sub Multilevel -->
                    <div class="mn-sub mn-sub-new">
                        <div class="mn-sub-content">
                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="our-history.html" class="ajax">
                                        Our history
                                    </a>
                                </div>
                                <p class="txt">
                                    The stories behind Les Vergers
                                    du Mekong
                                </p>

                            </div>

                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="our-mission.html" class="ajax">
                                        Our mission
                                    </a>
                                </div>
                                <p class="txt">
                                    Paving the way for a healthier food &
                                    drink environment in Vietnam
                                </p>
                            </div>

                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="our-impact.html">
                                        Our impact
                                    </a>
                                </div>
                                <ul class="mm list-unstyled">
                                    <li>
                                        <a href="">Sustainable value chain</a>
                                    </li>

                                    <li>
                                        <a href="">Our impact on the Environment</a>
                                    </li>

                                    <li>
                                        <a href="">Our impact on the Communities</a>
                                    </li>

                                    <li>
                                        <a href="">Our impact on Health</a>
                                    </li>

                                    <li>
                                        <a href="">B-Corp Certificate</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- End Sub Multilevel -->

                </li>
                <!-- End Item With Sub -->

                <!-- Item With Sub -->
                <li>
                    <a href="#" class="mn-has-sub">Our brands <i class="fa fa-angle-down"></i></a>

                    <!-- Sub Multilevel -->
                    <div class="mn-sub mn-sub-new">
                        <div class="mn-sub-content">
                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="product.html" class="ajax">
                                        LE FRUIT
                                    </a>
                                </div>
                                <ul class="mm list-unstyled">
                                    <li>
                                        <a href="product.html" class="ajax">Juice</a>
                                    </li>

                                    <li>
                                        <a href="product.html" class="ajax">Jam</a>
                                    </li>
                                </ul>

                            </div>

                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="product.html" class="ajax">
                                        CAFE FOLLIET
                                    </a>
                                </div>
                                <ul class="mm list-unstyled">
                                    <li>
                                        <a href="product.html" class="ajax">Coffee</a>
                                    </li>

                                    <li>
                                        <a href="product.html" class="ajax">Tea</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="product.html" class="ajax">
                                        Others
                                    </a>
                                </div>
                                <ul class="mm list-unstyled">
                                    <li>
                                        <a href="product.html" class="ajax">Puree</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- End Sub Multilevel -->

                </li>
                <!-- End Item With Sub -->


                <!-- Item With Sub -->
                <li>
                    <a href="#" class="mn-has-sub">Production <i class="fa fa-angle-down"></i></a>

                    <!-- Sub Multilevel -->
                    <div class="mn-sub mn-sub-new">
                        <div class="mn-sub-content">
                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="product.html" class="ajax">
                                        A UNIQUE TERROIR
                                    </a>
                                </div>


                            </div>

                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="product.html" class="ajax">
                                        HAND-CRAFTED
                                    </a>
                                </div>

                            </div>

                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="product.html" class="ajax">
                                        CIRCULAR MODEL
                                    </a>
                                </div>

                            </div>

                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="product.html" class="ajax">
                                        FACTORY
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- End Sub Multilevel -->

                </li>
                <!-- End Item With Sub -->

                <!-- Item With Sub -->

                <li>
                    <a href="#" class="mn-has-sub">Professional <i class="fa fa-angle-down"></i></a>

                    <!-- Sub Multilevel -->
                    <div class="mn-sub mn-sub-new">
                        <div class="mn-sub-content">
                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="product.html" class="ajax">
                                        Product
                                    </a>
                                </div>

                            </div>

                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="product.html" class="ajax">
                                        Service

                                    </a>
                                </div>
                                <ul class="mm list-unstyled">
                                    <li>
                                        <a href="product.html" class="ajax">Barista Training</a>
                                    </li>

                                    <li>
                                        <a href="product.html" class="ajax">Coffee Machine</a>
                                    </li>
                                </ul>

                            </div>

                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="product.html" class="ajax">
                                        Receipt Menu
                                    </a>
                                </div>

                            </div>


                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="product.html" class="ajax">
                                        Visibility
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- End Sub Multilevel -->

                </li>
                <!-- End Item With Sub -->

                <!-- Item With Sub -->
                <li>

                    <a href="news.html" class="mn-has-sub ajax"> News and Events <i class="fa fa-angle-down"></i></a>

                    <!-- Sub Multilevel -->
                    <div class="mn-sub mn-sub-new">
                        <div class="mn-sub-content">
                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="news-cat.html" class="ajax">
                                        Activities
                                    </a>
                                </div>


                            </div>

                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="news-cat.html" class="ajax">
                                        Initiatives Awards
                                    </a>
                                </div>

                            </div>

                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="news-cat.html" class="ajax">
                                        Achievements Product
                                    </a>
                                </div>

                            </div>

                            <div class="sub-new-item">
                                <div class="title">
                                    <a href="news-cat.html" class="ajax">
                                        Uncategorized
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                </li>

                <li>
                    <a href="news.html" class="ajax"> Career </a>


                </li>

                <li>
                    <a href="contact.html" class="ajax"> Contact </a>


                </li>
                <!-- End Item With Sub -->

                <!-- Search -->
                <li>
                    <a href="#" class="search-link" data-toggle="search"><i class="fa fa-search"></i> </a>



                </li>
                <!-- End Search -->
                <!-- Languages -->
                <li>
                    <a href="#" class="mn-has-sub"> <img class="flag-icon" src="images/flag/united-kingdom.svg"
                            width="20" alt=""> Eng <i class="fa fa-angle-down"></i></a>

                    <ul class="mn-sub">

                        <li><a href=""><img class="flag-icon" src="images/flag/united-kingdom.svg" width="20" alt="">
                                English</a></li>
                        <li><a href=""><img class="flag-icon" src="images/flag/vietnam.svg" width="20" alt="">
                                Vietnam</a></li>

                    </ul>

                </li>
                <!-- End Languages -->

            </ul>
        </div>
        <!-- End Main Menu -->
        <div class="nav-button-wrap">
            <div class="nav-button ">
                <span class="nos"></span>
                <span class="ncs"></span>
                <span class="nbs"></span>
                <!-- <div class="menu-button-text">Menu</div> -->
            </div>
        </div>

        <div class="inner-nav language-mobile float-right">
                <ul class="clearlist">
    
                    <!-- Item With Sub -->
                    <li>
    
                        <a href="#" class="mn-has-sub"> <img class="flag-icon" src="images/flag/united-kingdom.svg"
                                width="20" alt=""> Eng <i class="fa fa-angle-down"></i></a>
    
                        <ul class="mn-sub">
    
                            <li><a href=""><img class="flag-icon" src="images/flag/united-kingdom.svg" width="20" alt="">
                                    English</a></li>
                            <li><a href=""><img class="flag-icon" src="images/flag/vietnam.svg" width="20" alt="">
                                    Vietnam</a></li>
    
                        </ul>
                    </li>
                </ul>
            </div>
    
    </div>
</nav>
<!-- End Navigation panel -->



<!-- nav-holder-->
<div class="nav-holder but-hol">
    <div class="nav-scroll-bar-wrap fl-wrap">
        <div class="nav-search">
            <form action="#" class="searh-inner fl-wrap">
                <input name="se" id="se" type="text" class="search fl-wrap" placeholder="Search.." value="Search..." />
                <button class="search-submit color-bg" id="submit_btn"><i class="fal fa-search"></i>
                </button>
            </form>
        </div>
        <!-- nav -->
        <nav class="nav-inner" id="menu">
            <ul>
                <li>
                    <a href="#"> About us</a>
                    <!--level 2 -->
                    <ul>
                        <li><a href="our-history.html" class="ajax "> Our history</a></li>
                        <li><a href="index.html" class="ajax"> Our mission</a></li>
                        <li>
                            <a href="#">Our impact</a>
                            <!--level 3 -->
                            <ul>
                                <li><a href="index.html" class="ajax">Sustainable value chain</a></li>
                                <li><a href="index.html" class="ajax">Our impact on the Environment</a></li>
                                <li><a href="index.html" class="ajax">Our impact on the Communities</a></li>
                                <li><a href="index.html" class="ajax">Our impact on Health</a></li>
                                <li><a href="index.html" class="ajax">B-Corp Certificate</a></li>

                            </ul>
                            <!--level 3 end -->
                        </li>

                    </ul>
                    <!--level 2 end -->
                </li>
                <li>
                    <a href="#">Our brands</a>
                    <!--level 2 -->
                    <ul>
                        <li>
                            <a href="#">LE FRUIT</a>
                            <!--level 3 -->
                            <ul>
                                <li><a href="index.html" class="ajax">Juice</a></li>
                                <li><a href="index.html" class="ajax">Jam</a></li>

                            </ul>
                            <!--level 3 end -->
                        </li>

                        <li>
                            <a href="#"> CAFE FOLLIET</a>
                            <!--level 3 -->
                            <ul>
                                <li><a href="index.html" class="ajax">Coffee</a></li>
                                <li><a href="index.html" class="ajax">Tea</a></li>

                            </ul>
                            <!--level 3 end -->
                        </li>

                        <li>
                            <a href="#"> Others</a>
                            <!--level 3 -->
                            <ul>
                                <li><a href="index.html" class="ajax">Puree</a></li>

                            </ul>
                            <!--level 3 end -->
                        </li>

                    </ul>
                    <!--level 2 end -->
                </li>


                <li>
                    <a href="#"> Production</a>
                    <!--level 2 -->
                    <ul>
                        <li><a href="index.html" class="ajax "> A UNIQUE TERROIR</a></li>
                        <li><a href="index.html" class="ajax"> HAND-CRAFTED</a></li>
                        <li><a href="index.html" class="ajax"> CIRCULAR MODEL</a></li>
                        <li><a href="index.html" class="ajax"> FACTORY</a></li>


                    </ul>
                    <!--level 2 end -->
                </li>


                <li>
                    <a href="#"> Professional</a>

                </li>
                <li>
                    <a href="news.html" class="ajax"> News and Events </a>

                </li>



            </ul>
        </nav>
        <!-- nav end-->
        <!--lang-links-->
        <!-- <div class="lang-links fl-wrap">
            <a href="#" class="act-leng"> <img class="flag-icon" src="images/flag/united-kingdom.svg" width="30" alt="">
                EN</a>

            <a href="#"><img class="flag-icon" src="images/flag/vietnam.svg" width="30" alt=""> VI</a>
        </div> -->
        <!--lang-links end-->
    </div>
    <!--nav-social-->
    <div class="nav-social d-none">
        <span class="nav-social_title">Follow us : </span>
        <ul>
            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
        </ul>
    </div>
    <!--nav-social end -->
</div>

<div class="nav-overlay">
    <div class="element"></div>
</div>