<div class="modal" id="modal-product">
    <div class="modal-background"></div>
    <div class="modal-content">
        <button class="modal-close is-large" aria-label="close">
            <i class="fas fa-times"></i>
        </button>

        <div id="" class=" product-dialog"
            style=" background-color: #f9ad1b; background-image: url(https://vergersmekong.com/styles/desktop/images/product-background.jpg);">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4 ">
                        <div class="px-5 px-md-0">

                            <div class="swiper-container swiper-product-same">
                                <div class="swiper-wrapper ">
                                    <div class="swiper-slide">
                                        <div class="embed-responsive embed-responsive-product mt-4 ">
                                            <img src="https://vergersmekong.com:8088/product/lvdm-upload-api-191214112120-637119192803336700.png"
                                                class="embed-responsive-img " alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="embed-responsive embed-responsive-product mt-4 ">
                                            <img src="https://vergersmekong.com:8088/product/lvdm-upload-api-191214112120-637119192803336700.png"
                                                class="embed-responsive-img " alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="embed-responsive embed-responsive-product mt-4 ">
                                            <img src="https://vergersmekong.com:8088/product/lvdm-upload-api-191214112120-637119192803336700.png"
                                                class="embed-responsive-img " alt="">
                                        </div>
                                    </div>

                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next swiper-button-black"></div>
                                <div class="swiper-button-prev swiper-button-black"></div>
                            </div>

                            <!-- 
                            <div class=" product-item-content pt-0">
                                <h3 class="name">250 ML</h3>
                            </div> -->

                        </div>

                        <div class=" product-item-size pt-0">
                            <a href="" class="s1 is-active text-decoration-none">250 ML</a>
                            <a href="" class="s1 text-decoration-none"> 1 L</a>
                            <a href="" class="s1 text-decoration-none"> 1 L</a>
                            <a href="" class="s1 text-decoration-none"> 1 L</a>
                            <a href="" class="s1 text-decoration-none"> 1 L</a>
                            <a href="" class="s1 text-decoration-none"> 1 L</a>
                        </div>

                    </div>
                    <div class="col-sm-8">
                        <h2 class="h2 font-weight-bold">Pineapple juice</h2>
                        <div class="small font-weight-bolder">
                            SINGLE FRUIT PREMIUM JUICE
                        </div>

                        <div class="h5 mt-4 mb-4 lh-height">
                            A crop of limited edition pomelo juice. Pomelos are only available in
                            the fall—teaming them with acerola cherries are perfect immune boosting,
                            hydrating juice for fall and winter.
                        </div>

                        <div>
                            <div class="font-weight-bold">Health benefits</div>

                            <ul>
                                <li>
                                    - High in potassium & Vitamin C

                                </li>
                                <li>
                                    - Boosts Your Immune System.

                                </li>
                                <li>
                                    - Assists in Digestion

                                </li>
                                <li>
                                    - Aids in Weight Loss

                                </li>
                                <li>
                                    - Maintains Normal Blood Pressure Levels

                                </li>
                                <li>
                                    - Pomelo is the biggest of all the citrus fruit; it is native to
                                    Southeast Asian countries.

                                </li>
                                <li>
                                    - Pomelo can grow as large as 30cm in diameter and weigh up to
                                    25 pounds.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>