<div id="particles-js"></div>



<style>
   #particles-js {
      position: fixed;
      cursor: none;
      pointer-events: none;
      width: 100%;
      height: 100%;
      z-index: 9999999999;
      background-image: url("");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
   }

</style>



<script src="js/particles.min.js"></script>

<script>
   particlesJS("particles-js", {
      "particles": {
         "number": {
            "value": 40,
            "density": {
               "enable": true,
               "value_area": 800
            }
         },
         "color": {
            "value": "#fff"
         },
         "shape": {
            "type": "image",
            "stroke": {
               "width": 0,
               "color": "#000000"
            },
            "image": {
               "src": "images/noel/snow-pattern.png",
               "width": 100,
               "height": 100
            }
         },
         "opacity": {
            "value": 0.5,
            "random": true,
            "anim": {
               "enable": false,
               "speed": 1,
               "opacity_min": 0.1,
               "sync": false
            }
         },
         "size": {
            "value": 10,
            "random": true,
            "anim": {
               "enable": false,
               "speed": 6,
               "size_min": 0.1,
               "sync": false
            }
         },
         "line_linked": {
            "enable": false,
            "distance": 500,
            "color": "#ffffff",
            "opacity": 0.4,
            "width": 2
         },
         "move": {
            "enable": true,
            "speed": 6,
            "direction": "bottom-right",
            "random": false,
            "straight": false,
            "out_mode": "out",
            "bounce": false,
            "attract": {
               "enable": false,
               "rotateX": 600,
               "rotateY": 1200
            }
         }
      },
      "interactivity": {
         "detect_on": "canvas",
         "events": {
            "onhover": {
               "enable": true,
               "mode": "bubble"
            },
            "onclick": {
               "enable": true,
               "mode": "repulse"
            },
            "resize": true
         },
         "modes": {
            "grab": {
               "distance": 400,
               "line_linked": {
                  "opacity": 0.5
               }
            },
            "bubble": {
               "distance": 400,
               "size": 4,
               "duration": 0.3,
               "opacity": 1,
               "speed": 3
            },
            "repulse": {
               "distance": 200,
               "duration": 0.4
            },
            "push": {
               "particles_nb": 4
            },
            "remove": {
               "particles_nb": 2
            }
         }
      },
      "retina_detect": true
   }

   );

</script>