<div class="overlay" data-pages="search" style="display: none;">

        <div class="overlay-content has-results ">
    
            <a href="#" class="close-icon-light overlay-close text-black fs-16 link-dark">
                <i class="fa fa-times"></i>
            </a>
            <div class="container text-center">
    
                <div class="display-4 font-weight-bold">
                    What can we help you with?
                </div>
                <div class="overlay-search-container">
                    <input id="overlay-search" class=" overlay-search bg-transparent" placeholder=" Search by keywords"
                        autocomplete="off" spellcheck="false">
                    <i class="fa fa-search overlay-search-icon"></i>
                </div>
            </div>
    
            <div class="container">
                <div class="text-center overlay-search-popular">
                    <h5 class="font-weight-bold">MOST POPULAR TOPICS</h5>
    
                    <div class="mt-3">
                        <p class="text-center mb-1">
                            <a href="" class="link-dark">
                                The story about our founders
                            </a>
                        </p>
    
                        <p class="text-center mb-1">
                            <a href="" class="link-dark">
    
                                Our business model
    
                            </a>
                        </p>
    
                        <p class="text-center mb-1">
                            <a href="" class="link-dark">
    
                                How we bring innovation to traditional farming
    
                            </a>
                        </p>
                        <p class="text-center mb-1">
                            <a href="" class="link-dark">
    
                                Our campaigns to combat climate change
    
                            </a>
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="container">
    
                <div class="search-results mt-4 d-none" style="">
                    <p class="bold">Pages Search Results</p>
                    <div class="row">
                        <div class="col-md-6">
    
                            <div class="">
    
                                <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                                    <div>
                                        <img width="50" height="50" src="assets/img/profiles/avatar.jpg"
                                            data-src="assets/img/profiles/avatar.jpg"
                                            data-src-retina="assets/img/profiles/avatar2x.jpg" alt="">
                                    </div>
                                </div>
    
                                <div class="p-l-10 inline p-t-5">
                                    <h5 class="m-b-5"><span class="semi-bold result-name">hhjk</span> on pages</h5>
                                    <p class="hint-text">via john smith</p>
                                </div>
                            </div>
    
    
                            <div class="">
    
                                <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                                    <div>T</div>
                                </div>
    
                                <div class="p-l-10 inline p-t-5">
                                    <h5 class="m-b-5"><span class="semi-bold result-name">hhjk</span> related topics</h5>
                                    <p class="hint-text">via pages</p>
                                </div>
                            </div>
    
    
                            <div class="">
    
                                <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                                    <div><i class="fa fa-headphones large-text "></i>
                                    </div>
                                </div>
    
                                <div class="p-l-10 inline p-t-5">
                                    <h5 class="m-b-5"><span class="semi-bold result-name">hhjk</span> music</h5>
                                    <p class="hint-text">via pagesmix</p>
                                </div>
                            </div>
    
                        </div>
                        <div class="col-md-6">
    
                            <div class="">
    
                                <div class="thumbnail-wrapper d48 circular bg-info text-white inline m-t-10">
                                    <div><i class="fa fa-facebook large-text "></i>
                                    </div>
                                </div>
    
                                <div class="p-l-10 inline p-t-5">
                                    <h5 class="m-b-5"><span class="semi-bold result-name">hhjk</span> on facebook</h5>
                                    <p class="hint-text">via facebook</p>
                                </div>
                            </div>
    
    
                            <div class="">
    
                                <div class="thumbnail-wrapper d48 circular bg-complete text-white inline m-t-10">
                                    <div><i class="fa fa-twitter large-text "></i>
                                    </div>
                                </div>
    
                                <div class="p-l-10 inline p-t-5">
                                    <h5 class="m-b-5">Tweats on<span class="semi-bold result-name">hhjk</span></h5>
                                    <p class="hint-text">via twitter</p>
                                </div>
                            </div>
    
    
                            <div class="">
    
                                <div class="thumbnail-wrapper d48 circular text-white bg-danger inline m-t-10">
                                    <div><i class="fa fa-google-plus large-text "></i>
                                    </div>
                                </div>
    
                                <div class="p-l-10 inline p-t-5">
                                    <h5 class="m-b-5">Circles on<span class="semi-bold result-name">hhjk</span></h5>
                                    <p class="hint-text">via google plus</p>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
    </div>