@import "style";
@import "widgets";
@import "color";
@import "responsive";

.rounded-img-blog {
  border-radius: 0.6rem;
}
.blog-feature {
  margin-bottom: 40px;
  h2.entry-title {
    
  }
}

@mixin text-row($num, $height) {
  max-height: $height * 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}

.blog-feature2 {
  margin-bottom: 40px;
 
}
.entry-excerpt {
  @include text-row(3, 81);
}
.page-header{
  margin-bottom: 30px;
}

.page-title{
  margin: 20px 0 10px;
}

.page-header:after {
  background: gray("800");
  content: "";
  display: block;
  margin: 0.7rem 0 1.3;
  width: 100px;
  height: 2px;
}

.blog-hori-item {
}

.blog-feature-image {
  height: 360px;
}

.blog-feature2-img {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.blog-hori-item {
  margin-bottom: 20px;
}

.blog-hori-img {
  width: 300px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.blog-hori-content {
  padding-left: 20px;
}

.blogs-logo {
  font-size: 60px;
  padding: 20px 0;
}

.blog-header {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;

  transform: translate3d(0, 0, 0);
  color: #fff;
  background: #111;

}


.entry-meta {
  color: rgba(0, 0, 0, 0.54);
  fill: rgba(0, 0, 0, 0.54);

  line-height: 1.2;
  padding-top: 5px;

  .author-avatar {
    float: left;
    margin: -3px 15px 0 0;

    img {
      height: 40px;
      width: 40px;
    }
  }
  a {
    font-weight: bold;
  }
}


hr.section-divider {
  margin-top: 52px;
  margin-bottom: 42px;
  display: block;
  border: 0;
  text-align: center;
  overflow: visible;
}
hr.section-divider::before {
  --x-height-multiplier: 0.342;
  --baseline-multiplier: 0.22;
  font-family: medium-content-slab-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  letter-spacing: .6em;
  content: '...';
  display: inline-block;
  margin-left: .6em;
  color: rgba(0,0,0,.68);
  position: relative;
  top: -30px;
}
.blog-header-content {
  overflow: hidden;

  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  padding: 150px 6% 20px;

  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );

  background-size: cover;
  background-position: center;
  .entry-meta {
    margin-top: 30px;
    color: white;
  }

  a {
    color: white;
    &:hover {
      color: lighten(white, 8%) !important;
    }
  }
  .middotDivider::after {
    background: white !important;
  }
}

.blog-header-back {
  margin-top: 100px;
  font-size: 14px;
}

.blog-header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: -1;
}

.content{
  background: white;
}

.blog-header-title {
  color: white;
  font-size: 50px;
  line-height: 1.2;
  font-weight: bold;
  transform: translate3d(0, 0, 0);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contentPart {
  .blog-panel {
    transform: translate3d(0, 0, 0);
  }
}

.blog-panel {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;

  box-shadow: none;
  z-index: 909999999999;

  background: rgba(gray("900"),.9);
  top: 0;

  backdrop-filter: saturate(180%) blur(20px);

  color: #292f38;

  position: fixed;
  width: 100%;
  left: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  user-select: none;

  height: 54px;
  // font-size: 15px;
  font-weight: 400;

  transition: box-shadow 0.35s, opacity 0.35s cubic-bezier(0.5, 0, 0.35, 1),
    background 0.35s, -webkit-transform 0.35s cubic-bezier(0.5, 0, 0.35, 1);

  opacity: 1;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;

  .blog-panel-content {
    margin: 0;
    text-align: center;

    .title-name {
      color: white;
      font-size: 24px;
      font-weight: 400;
      padding: 0 15px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 3px 7px rgba(0, 0, 0, 0.05);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
    }
  }

  .progress {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: -1;
    height: 3px;
    -webkit-transition: 0.5s cubic-bezier(0, 0, 0, 1);
    transition: 0.5s cubic-bezier(0, 0, 0, 1);
    // width: 0.82997%;
  }
}

.no-header-fixed {
 
  // .main-nav {
  //   position: relative !important;
  // }
}

.post-sidebar {
  .entry-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
  }
}

.breadcrumb {
  margin: 0;
  li {
    max-width: auto;
    width: auto;
  }
}

.blogs-cat {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  background: white;
  padding: 15px 40px 5px;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.post-cta{
  display: block;
}

.entry-main-content a
 {
  color: #00a88d ;
  fill: #00a88d ;
}

.post-cta-text{
  font-size: inherit;
  text-decoration: underline;
  color: $blue;
  @include hover-focus(){
    color: darken($blue, 10%);
  }
}